<li class="Home-productsGridItem{{#if buildingImg}} Home-productsGridItem--lg{{/if}}{{#if installImg}} Home-productsGridItem--lg{{/if}}{{#if maintenanceImg}} Home-productsGridItem--sm{{/if}}{{#if partsImg}} Home-productsGridItem--sm{{/if}}">
  <div class="Home-productsGridLinkImg{{#if buildingImg}} Home-productsGridLinkImg--buildings{{/if}}{{#if installImg}} Home-productsGridLinkImg--install{{/if}}{{#if maintenanceImg}} Home-productsGridLinkImg--maintenance{{/if}}{{#if partsImg}} Home-productsGridLinkImg--parts{{/if}}">
    <a class="Home-productsGridLink"
       href="{{devPath}}{{link.href}}"
       alt="{{link.alt}}"
       {{#if newWindow}}
       target="_blank"
       rel="noopener"
       {{/if}}
       aria-pressed="{{pressed}}"
       aria-disabled="{{disabled}}"><span class="Home-productsGridLinkText">{{link.text}}</span></a>
  </div>
</li>