<ul class="Home-sxnContactLinks">
  {{#each links}}
  <li class="Home-sxnLinkBtn">
    {{> PageLinkBtn blockClass="Home-sxnLink" link=(lookup ../navSite linkName) devPath=../devPath}}
  </li>
  {{/each}}
</ul>