/* ==========================================================================
 * Media
 * ========================================================================== */

.Media {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(align-items, flex-start);
}

.Media--imgTop {
  /* Image on top of media body */
  @include vendorize(flex-direction, column);
}

.Media--center {
  /* Elements of the media object are centered */
  @include vendorize(align-items, center);
}

/* --------------------------------------------------------------------------
 * Media: body
 * -------------------------------------------------------------------------- */

.Media-body {
  /* Needed for IE */
  width: 100%;
}

.Media-body--center {
  /* Elements within the media body are centered */
  /* Box Model */
  /* Needed for block elements */
  margin-right: auto;
  margin-left: auto;

  /* Typography */
  /* Needed for inline and inline-block elements */
  text-align: center;
}

/* --------------------------------------------------------------------------
 * Media: image
 * -------------------------------------------------------------------------- */

.Media-img {
  /* Box Model */
  display: block;
  margin-right: 9px;
}

.Media-img--marginBot {
  margin-bottom: 13px;
}
