<section class="ContactCard ContactCard--region{{region}} {{#if last}}ContactCard--last{{/if}}">
  <header class="ContactCard-heading">
    {{#if regionTitle}}
    <p class="ContactCard-circleText">{{regionTitle}}</p>
    {{/if}}
    {{#if person}}
    <p class="ContactCard-title">{{person}}</p>
    {{/if}}
    {{#if title}}
    <p class="ContactCard-headline ContactCard-headline--region{{region}}">{{title}}</p>
    {{/if}}
  </header>
  {{#if address}}
  {{> MediaContact location=true img=imgLocation imgAlt="Location icon." addClasses="Contact-media"}}

  {{/if}}
  {{#if phone}}
  {{> MediaContact phoneNum=phone img=imgPhone imgAlt="Telephone icon." addClasses="Contact-media"}}

  {{/if}}
  {{#if mobile}}
  {{> MediaContact phoneNum=mobile img=imgMobile imgAlt="Mobile phone icon." addClasses="Contact-media"}}

  {{/if}}
  {{#if email}}
  {{> MediaContact emailAddress=true img=imgEmail imgAlt="Email icon." addClasses="Contact-media"}}

  {{/if}}
</section>