/* ==========================================================================
 * Contact Card
 * ========================================================================== */

.ContactCard {
  /* Position */
  position: relative;

  /* Box Model */
  width: $contactcard-width-xs;
  padding-top: $contactcard-pad-top-sm;
  padding-right: $contactcard-pad-horz-sm;
  padding-bottom: $contactcard-pad-horz;
  padding-left: $contactcard-pad-horz-sm;
  margin-right: auto;
  margin-bottom: $contact-map-margin-bot-sm;
  margin-left: auto;

  /* Typography */
  font-size: $contactcard-text-size-sm;

  /* Visual */
  border: 1px solid #000;

  @media #{$screen} and (min-width: 390px) {
    /* Box Model */
    width: $contactcard-width-sm;
    padding-right: $contactcard-pad-horz;
    padding-left: $contactcard-pad-horz;
  }

  @include responsive($screen, 'min-md') {
    /* Box Model */
    width: $contactcard-width-md;
    padding-top: $contactcard-pad-top-md;

    /* Typography */
    font-size: $contactcard-text-size-md;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    width: $contactcard-width-lg;
    padding-top: $contactcard-pad-top-lg;

    /* Typography */
    font-size: $contactcard-text-size-lg;
  }

  &::after {
    /* Contact Card - top circle */
    /* Position */
    position: absolute;
    top: 0;
    left: $contactcard-width-xs / 2;

    /* Box Model */
    width: $contactcard-circle-width-sm;
    height: $contactcard-circle-height-sm;

    /* Visual */
    background-color: #fff;
    border-radius: $contactcard-circle-radius-sm;
    content: '';

    /* Misc */
    box-sizing: border-box;
    @include vendorize(transform, translate(-50%, -50%));

    @media #{$screen} and (min-width: 390px) {
      left: $contactcard-width-sm / 2;
    }

    @include responsive($screen, 'min-md') {
      /* Position */
      left: $contactcard-width-md / 2;

      /* Box Model */
      width: $contactcard-circle-width-md;
      height: $contactcard-circle-height-md;

      /* Visual */
      border-radius: $contactcard-circle-radius-md;
    }

    @include responsive($screen, 'min-xl') {
      /* Position */
      left: $contactcard-width-lg / 2;

      /* Box Model */
      width: $contactcard-circle-width-lg;
      height: $contactcard-circle-height-lg;

      /* Visual */
      border-radius: $contactcard-circle-radius-lg;
    }
  }
}

/* Contact Card - last
 * -------------------------------------------------------------------------- */

.ContactCard--last {
  /* Box Model */
  margin-bottom: $contactcard-space-vert;

  @include responsive($screen, 'min-lg') {
    margin-bottom: $contact-map-margin-bot-sm;
  }
}

/* Contact Card - North Central region
 * -------------------------------------------------------------------------- */

.ContactCard--regionNorthCentral {
  border: 1px solid $contactcard-color-northcentral;

  &::after {
    /* North central contact card - top circle */
    background-color: $contactcard-color-northcentral;
  }
}

/* Contact Card - Northeast region
 * -------------------------------------------------------------------------- */

.ContactCard--regionNortheast {
  border: 1px solid $contactcard-color-northeast;

  &::after {
    /* Northeast contact card - top circle */
    background-color: $contactcard-color-northeast;
  }
}

/* Contact Card - Northwest region
 * -------------------------------------------------------------------------- */

.ContactCard--regionNorthwest {
  border: 1px solid $contactcard-color-northwest;

  &::after {
    /* Northwest contact card - top circle */
    background-color: $contactcard-color-northwest;
  }
}

/* Contact Card - Pacific region
 * -------------------------------------------------------------------------- */

.ContactCard--regionPacific {
  border: 1px solid $contactcard-color-pacific;

  &::after {
    /* Pacific contact card - top circle */
    background-color: $contactcard-color-pacific;
  }
}

/* Contact Card - Pacific Northwest region
 * -------------------------------------------------------------------------- */

.ContactCard--regionPacificNorthwest {
  border: 1px solid $contactcard-color-pacificnorthwest;

  &::after {
    /* Pacific Northwest contact card - top circle */
    background-color: $contactcard-color-pacificnorthwest;
  }
}

/* Contact Card - Rocky Mountain region
 * -------------------------------------------------------------------------- */

.ContactCard--regionRockyMountain {
  border: 1px solid $contactcard-color-rockymountain;

  &::after {
    /* Rocky Mountain contact card - top circle */
    background-color: $contactcard-color-rockymountain;
  }
}

/* Contact Card - Southeast region
 * -------------------------------------------------------------------------- */

.ContactCard--regionSoutheast {
  border: 1px solid $contactcard-color-southeast;

  &::after {
    /* Southeast contact card - top circle */
    background-color: $contactcard-color-southeast;
  }
}

/* Contact Card - Southwest region
 * -------------------------------------------------------------------------- */

.ContactCard--regionSouthwest {
  border: 1px solid $contactcard-color-southwest;

  &::after {
    /* Southeast contact card - top circle */
    background-color: $contactcard-color-southwest;
  }
}

/* Contact Card - Eastern US region
 * -------------------------------------------------------------------------- */

.ContactCard--regionEasternUS {
  border: 1px solid $contactcard-color-easternus;

  &::after {
    /* Eastern US contact card - top circle */
    background-color: $contactcard-color-easternus;
  }
}

/* Contact Card - Western US region
 * -------------------------------------------------------------------------- */

.ContactCard--regionWesternUS {
  border: 1px solid $contactcard-color-westernus;

  &::after {
    /* Western US contact card - top circle */
    background-color: $contactcard-color-westernus;
  }
}

/* --------------------------------------------------------------------------
 * Contact Card: text within circle
 * -------------------------------------------------------------------------- */

.ContactCard-circleText {
  /* Position */
  position: absolute;
  top: 0;
  left: $contactcard-width-xs / 2;
  z-index: $contactcard-circle-zindex;

  /* Box Model */
  width: $contactcard-circle-width-sm * 0.9;

  /* Typography */
  font-size: $contactcard-text-size-sm * 0.85;
  line-height: $contactcard-circle-lineheight;
  color: #fff;
  text-align: center;
  text-transform: uppercase;

  /* Visual */
  @include vendorize(transform, translate(-50%, -50%));

  @media #{$screen} and (min-width: 390px) {
    left: $contactcard-width-sm / 2;
  }

  @include responsive($screen, 'min-md') {
    /* Position */
    left: $contactcard-width-md / 2;

    /* Box Model */
    width: $contactcard-circle-width-md * 0.9;

    /* Typography */
    font-size: $contactcard-text-size-md * 0.85;
  }

  @include responsive($screen, 'min-xl') {
    /* Position */
    left: $contactcard-width-lg / 2;

    /* Box Model */
    width: $contactcard-circle-width-lg * 0.85;

    /* Typography */
    font-size: $contactcard-text-size-lg * 0.85;
  }
}

/* --------------------------------------------------------------------------
 * Contact Card: heading
 * -------------------------------------------------------------------------- */

.ContactCard-heading {
  /* Box Model */
  margin-bottom: 26px;

  /* Typography */
  font-weight: $regular;
  letter-spacing: 0.06rem;
  text-align: center;
}

/* --------------------------------------------------------------------------
 * Contact Card: headline
 * -------------------------------------------------------------------------- */

.ContactCard-headline {
  /* Typography */
  letter-spacing: 0.03rem;
  color: $page-color-accent;
}

/* Contact Card: headline - North Central region
 * -------------------------------------------------------------------------- */

.ContactCard-headline--regionNorthCentral {
  color: $contactcard-color-northcentral;
}

/* Contact Card: headline - Northeast region
 * -------------------------------------------------------------------------- */

.ContactCard-headline--regionNortheast {
  color: $contactcard-color-northeast;
}

/* Contact Card: headline - Northwest region
 * -------------------------------------------------------------------------- */

.ContactCard-headline--regionNorthwest {
  color: $contactcard-color-northwest;
}

/* Contact Card: headline - Pacific region
 * -------------------------------------------------------------------------- */

.ContactCard-headline--regionPacific {
  color: $contactcard-color-pacific;
}

/* Contact Card: headline - Pacific Northwest region
 * -------------------------------------------------------------------------- */

.ContactCard-headline--regionPacificNorthwest {
  color: $contactcard-color-pacificnorthwest;
}

/* Contact Card: headline - Rocky Mountain region
 * -------------------------------------------------------------------------- */

.ContactCard-headline--regionRockyMountain {
  color: $contactcard-color-rockymountain;
}

/* Contact Card: headline - Southeast region
 * -------------------------------------------------------------------------- */

.ContactCard-headline--regionSoutheast {
  color: $contactcard-color-southeast;
}

/* Contact Card: headline - Southwest region
 * -------------------------------------------------------------------------- */

.ContactCard-headline--regionSouthwest {
  color: $contactcard-color-southwest;
}

/* Contact Card: headline - Eastern US region
 * -------------------------------------------------------------------------- */

.ContactCard-headline--regionEasternUS {
  color: $contactcard-color-easternus;
}

/* Contact Card: headline - Western US region
 * -------------------------------------------------------------------------- */

.ContactCard-headline--regionWesternUS {
  color: $contactcard-color-westernus;
}

/* --------------------------------------------------------------------------
 * Contact Card: title
 * -------------------------------------------------------------------------- */

.ContactCard-title {
  /* Typography */
  font-family: $serif;
  font-size: $text-md;
  font-weight: $bold;

  @include responsive($screen, 'min-md') {
    font-size: $text-lg;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $text-lg * 1.1;
  }
}
