<section class="Contact-salesGovt{{#if last}} Contact-salesGovt--last{{/if}}">
  <h3 class="Contact-salesGovtTitle">{{title}}</h3>
  <div class="Contact-salesGovtMedia">
    {{> MediaContact emailAddress=true img=imgEmail imgAlt="Email icon."}}

  </div>
  <p><span class="Contact-salesGovtText">Contract Number</span> {{contractNum}}</p>
</section>