<div class="{{#if addClasses}}{{addClasses}} {{/if}}MediaContact Media Media--center">
  <div class="MediaContact-imgContainer{{#if region}} MediaContact-imgContainer--region{{region}}{{/if}}">
    <img class="MediaContact-img"
         src="{{devPath}}{{img}}"
         alt="{{imgAlt}}">
  </div>
  <div class="MediaContact-body Media-body">
    {{#if emailAddress}}
    <a class="Page-link MediaContact-email{{#if region}} MediaContact-email--region{{region}}{{/if}}"
       href="mailto:{{email}}">{{email}}</a>
    {{/if}}
    {{#if phoneNum}}
    <p>{{phoneNum}}</p>
    {{/if}}
    {{#if location}}
    <p>{{address}}</p>
    <p>{{city}}, {{state}} {{zip}}</p>
    {{/if}}
  </div>
</div>