/* ==========================================================================
 * Media Contact
 * ========================================================================== */

.MediaContact {
  margin-bottom: $mediacontact-margin-bot;
}

/* --------------------------------------------------------------------------
 * Media Contact:  body
 * -------------------------------------------------------------------------- */

.MediaContact-body {
  /* Box Model */
  margin-left: $mediacontact-body-pos-left-sm;

  @include responsive($screen, 'min-md') {
    margin-left: $mediacontact-body-pos-left-md;
  }

  @include responsive($screen, 'min-xl') {
    margin-left: $mediacontact-body-pos-left-lg;
  }
}

/* --------------------------------------------------------------------------
 * Media Contact:  email
 * -------------------------------------------------------------------------- */

.MediaContact-email {
  &:hover {
    /* Visual */
    opacity: 0.9;

    /* Misc */
    @include vendorize(transition, 300ms);
  }
}

/* Media Contact: email - North Central region
 * -------------------------------------------------------------------------- */

.MediaContact-email--regionNorthCentral {
  &:focus,
  &:hover {
    color: $contactcard-color-northcentral;
  }
}

/* Media Contact: email - Northeast region
 * -------------------------------------------------------------------------- */

.MediaContact-email--regionNortheast {
  &:focus,
  &:hover {
    color: $contactcard-color-northeast;
  }
}

/* Media Contact: email - Northwest region
 * -------------------------------------------------------------------------- */

.MediaContact-email--regionNorthwest {
  &:focus,
  &:hover {
    color: $contactcard-color-northwest;
  }
}

/* Media Contact: email - Pacific region
 * -------------------------------------------------------------------------- */

.MediaContact-email--regionPacific {
  &:focus,
  &:hover {
    color: $contactcard-color-pacific;
  }
}

/* Media Contact: email - Pacific Northwest region
 * -------------------------------------------------------------------------- */

.MediaContact-email--regionPacificNorthwest {
  &:focus,
  &:hover {
    color: $contactcard-color-pacificnorthwest;
  }
}

/* Media Contact: email - Rocky Mountain region
 * -------------------------------------------------------------------------- */

.MediaContact-email--regionRockyMountain {
  &:focus,
  &:hover {
    color: $contactcard-color-rockymountain;
  }
}

/* Media Contact: email - Southeast region
 * -------------------------------------------------------------------------- */

.MediaContact-email--regionSoutheast {
  &:focus,
  &:hover {
    color: $contactcard-color-southeast;
  }
}

/* Media Contact: email - Southwest region
 * -------------------------------------------------------------------------- */

.MediaContact-email--regionSouthwest {
  &:focus,
  &:hover {
    color: $contactcard-color-southwest;
  }
}

/* Media Contact: email - Eastern US region
 * -------------------------------------------------------------------------- */

.MediaContact-email--regionEasternUS {
  &:focus,
  &:hover {
    color: $contactcard-color-easternus;
  }
}

/* Media Contact: email - Western US region
 * -------------------------------------------------------------------------- */

.MediaContact-email--regionWesternUS {
  &:focus,
  &:hover {
    color: $contactcard-color-westernus;
  }
}

/* --------------------------------------------------------------------------
 * Media Contact:  image
 * -------------------------------------------------------------------------- */

.MediaContact-img {
  /* Box Model */
  height: $mediacontact-img-height-sm;

  @include responsive($screen, 'min-md') {
    height: $mediacontact-img-height-md;
  }

  @include responsive($screen, 'min-xl') {
    height: $mediacontact-img-height-lg;
  }
}

/* --------------------------------------------------------------------------
 * Media Contact:  image container
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer {
  /* Position */
  position: relative;
  top: 4px;
  left: $mediacontact-imgcircle-height-sm * 0.16;

  /* Typography */
  line-height: $contactcard-text-size-sm * $line-height-base;

  @include responsive($screen, 'min-md') {
    line-height: $contactcard-text-size-md * $line-height-base;
  }

  @include responsive($screen, 'min-xl') {
    line-height: $contactcard-text-size-lg * $line-height-base;
  }

  &::before {
    /* Media contact image outlined background circle */
    /* Position */
    position: absolute;
    top: 0;
    left: 0;

    /* Box Model */
    width: $mediacontact-imgcircle-width-sm;
    height: $mediacontact-imgcircle-height-sm;

    /* Visual */
    border-color: $page-color-accent;
    border-style: solid;
    border-width: 1px;
    border-radius: $mediacontact-imgcircle-radius-sm;
    content: '';

    /* Misc */
    @include vendorize(transform, translate(-16%, -16%));
    box-sizing: border-box;

    @include responsive($screen, 'min-md') {
      /* Box Model */
      width: $mediacontact-imgcircle-width-md;
      height: $mediacontact-imgcircle-height-md;

      /* Visual */
      border-radius: $mediacontact-imgcircle-radius-md;
    }

    @include responsive($screen, 'min-xl') {
      /* Box Model */
      width: $mediacontact-imgcircle-width-lg;
      height: $mediacontact-imgcircle-height-lg;

      /* Visual */
      border-radius: $mediacontact-imgcircle-radius-lg;
    }
  }
}

/* Media Contact:  image container - North Central region
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer--regionNorthCentral {
  &::before {
    /* Media contact image outlined background cirlce */
    border-color: $contactcard-color-northcentral;
  }
}

/* Media Contact:  image container - Northeast region
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer--regionNortheast {
  &::before {
    /* Media contact image outlined background cirlce */
    border-color: $contactcard-color-northeast;
  }
}

/* Media Contact:  image container - Northwest region
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer--regionNorthwest {
  &::before {
    /* Media contact image outlined background cirlce */
    border-color: $contactcard-color-northwest;
  }
}

/* Media Contact:  image container - Pacific region
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer--regionPacific {
  &::before {
    /* Media contact image outlined background cirlce */
    border-color: $contactcard-color-pacific;
  }
}

/* Media Contact:  image container - Pacific Northwest region
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer--regionPacificNorthwest {
  &::before {
    /* Media contact image outlined background cirlce */
    border-color: $contactcard-color-pacificnorthwest;
  }
}

/* Media Contact:  image container - Rocky Mountain region
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer--regionRockyMountain {
  &::before {
    /* Media contact image outlined background cirlce */
    border-color: $contactcard-color-rockymountain;
  }
}

/* Media Contact:  image container - Southeast region
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer--regionSoutheast {
  &::before {
    /* Media contact image outlined background cirlce */
    border-color: $contactcard-color-southeast;
  }
}

/* Media Contact:  image container - Southwest region
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer--regionSouthwest {
  &::before {
    /* Media contact image outlined background cirlce */
    border-color: $contactcard-color-southwest;
  }
}

/* Media Contact:  image container - Eastern US region
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer--regionEasternUS {
  &::before {
    /* Media contact image outlined background cirlce */
    border-color: $contactcard-color-easternus;
  }
}

/* Media Contact:  image container - Western US region
 * -------------------------------------------------------------------------- */

.MediaContact-imgContainer--regionWesternUS {
  &::before {
    /* Media contact image outlined background cirlce */
    border-color: $contactcard-color-westernus;
  }
}
