/* ==========================================================================
 * VisualMedia
 * ========================================================================== */

.VisualMedia {
  /* Position */
  position: relative;

  /* Box Model */
  height: 0;
  /* padding creates video ratio 4:3 */
  padding-bottom: 75%;
  overflow: hidden;

  /* Visual */
  background: url(../images/loading.gif) center / 50px 50px no-repeat;
}

/* Media - border all sides
 * -------------------------------------------------------------------------- */

.VisualMedia--border {
  border: 1px solid #e2e2e2;
}

/* Media - HD quality and size
 * -------------------------------------------------------------------------- */

.VisualMedia--HD {
  /* padding creates video ratio 16:9 */
  padding-bottom: 56.25%;
}

/* --------------------------------------------------------------------------
 * VisualMedia: iframe
 * -------------------------------------------------------------------------- */

.VisualMedia-iframe {
  /* Position */
  position: absolute;
  top: 0;
  left: 0;

  /* Box Model */
  width: 100%;
  height: 100%;

  &[aria-hidden='true'] {
    display: none;
  }

  &[aria-hidden='false'] {
    display: block;
  }
}

/* --------------------------------------------------------------------------
 * VisualMedia: image
 * -------------------------------------------------------------------------- */

.VisualMedia-img {
  /* Box Model */
  display: block;
  width: 100%;

  &[aria-hidden='true'] {
    visibility: hidden;
  }

  &[aria-hidden='false'] {
    visibility: visible;
  }
}

/* VisualMedia: image - HD quality and size
 * -------------------------------------------------------------------------- */

.VisualMedia-img--HD {
  /* Position */
  position: absolute;
  top: 0;
  left: 0;

  /* Box Model */
  max-height: 100%;
}
