<div class="VisualMedia {{#if media.hdSize}}VisualMedia--HD {{/if}}{{#if media.border}}VisualMedia--border {{/if}}js-media"
     data-loaded="{{media.loaded}}"
     data-image="{{media.imgLoaded}}">
  {{#if media.btn}}
  <button class="Btn Btn--media {{#if media.model}}Btn--mediaModel {{/if}}{{#if media.video}}Btn--mediaVideo {{/if}}js-media-btn"
          data-host="{{media.dataHost}}"
          data-media="{{media.id}}"
          aria-pressed="{{media.pressed}}"
          aria-disabled="{{media.disabled}}"
          autocomplete="{{media.autocomplete}}"><span class="u-visuallyHidden">{{{media.btnText}}}</span></button>
  {{/if}}
  {{#if media.img}}
  <img class="VisualMedia-img js-visualMedia-img"
       src="{{#if media.placeholderImg}}{{else}}{{devPath}}{{/if}}{{media.img}}"
       alt="{{media.imgAlt}}">
  {{/if}}
</div>