// =============================================================================
// Products Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// building media: width
$buildingmedia-width: 298px;

// building images: image carousel padding
$buildingimages-imgcarousel-pad-left: 50px;
$buildingimages-imgcarousel-pad-right: 50px;

// building images: image carousel image dimensions
$buildingimages-imgcarousel-img-height: 195px;
$buildingimages-imgcarousel-img-width: 270px;

// building weather: image carousel image dimensions
$buildingweather-imgcarousel-img-width: 200px;

// building weather: image carousel image padding
$buildingweather-imgcarousel-img-pad-left: 13px;
$buildingweather-imgcarousel-img-pad-right: 13px;

// building: options padding
$building-options-pad-horz: 13px;
$building-options-pad-vert: 13px;

// building: color section grid max width
$building-sxncolorgrid-width-max: 800px;

// building: button image grid item dimensions
$building-imgbtngrid-item-height: 47px;
$building-imgbtngrid-item-width: $building-imgbtngrid-item-height;

// building: button image grid item margin
$building-imgbtngrid-item-margin-bottom: 6px;
$building-imgbtngrid-item-margin-left: $building-imgbtngrid-item-margin-bottom *
  1.4;

// building: image grid item padding
$building-imggrid-item-pad-top: 13px;
$building-imggrid-item-pad-right: 12px;
$building-imggrid-item-pad-bottom: 13px;
$building-imggrid-item-pad-left: 12px;

// building: image grid item margin
$building-imggrid-item-margin-top: 0;
$building-imggrid-item-margin-right: 0;
$building-imggrid-item-margin-bottom: 13px;
$building-imggrid-item-margin-left: 0;

// buildings: multiple
$buildings-disclaimer-text-mult: 0.85;

// buildings: section breakpoint
$buildings-sxn-breapoint-sm: 400px;
$buildings-sxn-breapoint-md: 650px;

// buildings: grid media width
$buildings-grid-media-width: 220px;

// buildings: grid item padding
$buildings-grid-item-pad-top: 13px;
$buildings-grid-item-pad-right: 13px;
$buildings-grid-item-pad-bottom: 13px;
$buildings-grid-item-pad-left: 13px;

// buildings: grid item margin
$buildings-grid-item-margin-top: 0;
$buildings-grid-item-margin-right: 0;
$buildings-grid-item-margin-bottom: 13px;
$buildings-grid-item-margin-left: 0;

// buildings: section padding
$buildings-sxn-pad-top: 26px;
$buildings-sxn-pad-right: 13px;
$buildings-sxn-pad-bottom: 13px;
$buildings-sxn-pad-left: 13px;

// buildings: info image width
$buildingsinfo-img-width-sm: 210px + 26px + 26px;
$buildingsinfo-img-width: 375px;
$buildingsinfo-img-width-xl: 425px;

// buildings: info text multiple
$buildingsinfo-text-multi: 0.9;

// buildings: info text size
$buildingsinfo-text-sm: $text-sm * $buildingsinfo-text-multi;
$buildingsinfo-text-md: $text-md * $buildingsinfo-text-multi;
$buildingsinfo-text-lg: $text-lg * $buildingsinfo-text-multi;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// building: image grid item width
// Dependence: building media width, building image grid item pad
$building-imggrid-item-width: $buildingmedia-width +
  $building-imggrid-item-pad-left + $building-imggrid-item-pad-right;

// building: image grid item total width
// Dependence: building image grid - item width, item margin
$building-imggrid-item-totalwidth: $building-imggrid-item-width +
  $building-imggrid-item-margin-left + $building-imggrid-item-margin-right;

// building weather: image carousel total image width
// Dependence: building weather image carousel image - width, padding
$buildingweather-imgcarousel-totalimg-width: $buildingweather-imgcarousel-img-width +
  $buildingweather-imgcarousel-img-pad-left +
  $buildingweather-imgcarousel-img-pad-right;

// buildings: disclaimer title size
// Dependence: page text size
$buildings-disclaimer-title-size-sm: $text-sm;
$buildings-disclaimer-title-size-md: $text-md;
$buildings-disclaimer-title-size-lg: $text-lg;

// buildings: disclaimer text size
// Dependence: buildings disclaimer - title size, multiplier
$buildings-disclaimer-text-size-sm: $buildings-disclaimer-title-size-sm *
  $buildings-disclaimer-text-mult;
$buildings-disclaimer-text-size-md: $buildings-disclaimer-title-size-md *
  $buildings-disclaimer-text-mult;
$buildings-disclaimer-text-size-lg: $buildings-disclaimer-title-size-lg *
  $buildings-disclaimer-text-mult;

// buildings: grid item width
// Dependence: buildings grid: media width, item pad
$buildings-grid-item-width: $buildings-grid-media-width +
  $buildings-grid-item-pad-left + $buildings-grid-item-pad-right;

// buildings: grid item width
// Dependence: buildings grid - item width, item margin
$buildings-grid-item-totalwidth: $buildings-grid-item-width +
  $buildings-grid-item-margin-left + $buildings-grid-item-margin-right;

// buildings: grid width
// Dependence: buildings grid item total width
$buildings-grid-width-sm: ($buildings-grid-item-totalwidth * 1);
$buildings-grid-width-md: ($buildings-grid-item-totalwidth * 2);
$buildings-grid-width-lg: ($buildings-grid-item-totalwidth * 3);
$buildings-grid-width-xl: ($buildings-grid-item-totalwidth * 4);

// buildings: section width
// Dependence: buildings grid width, buildings section padding
$buildings-sxn-width-sm: (
  $buildings-grid-width-sm + $buildings-sxn-pad-left + $buildings-sxn-pad-right
);
$buildings-sxn-width-md: (
  $buildings-grid-width-md + $buildings-sxn-pad-left + $buildings-sxn-pad-right
);
$buildings-sxn-width-lg: (
  $buildings-grid-width-lg + $buildings-sxn-pad-left + $buildings-sxn-pad-right
);
$buildings-sxn-width-xl: (
  $buildings-grid-width-xl + $buildings-sxn-pad-left + $buildings-sxn-pad-right
);
