<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingArapahoe.docHead.title description=buildingArapahoe.docHead.description devPath=buildingArapahoe.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingArapahoe.docHead.devPath}}

    {{> PageHeader title=buildingArapahoe.page.title breadcrumbs=buildingArapahoe.breadcrumbs devPath=buildingArapahoe.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingArapahoe devPath=buildingArapahoe.docHead.devPath modelFile=true imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingArapahoe.docHead.devPath}}

  {{> jsSketchfab devPath=buildingArapahoe.docHead.devPath}}

  {{> jsMain devPath=buildingArapahoe.docHead.devPath}}

</body>

</html>