<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingCascadianDouble.docHead.title description=buildingCascadianDouble.docHead.description devPath=buildingCascadianDouble.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingCascadianDouble.docHead.devPath}}

    {{> PageHeader title=buildingCascadianDouble.page.title breadcrumbs=buildingCascadianDouble.breadcrumbs devPath=buildingCascadianDouble.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{!-- {{> BuildingPageview buildingName=buildingCascadianDouble.buildingName availableTextures=buildingCascadianDouble.availableTextures availableColors=buildingCascadianDouble.availableColors specs=buildingCascadianDouble.specs resources=buildingCascadianDouble.resources devPath=buildingCascadianDouble.docHead.devPath imgFile=true}} --}}
      {{> BuildingPageview building=buildingCascadianDouble devPath=buildingCascadianDouble.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingCascadianDouble.docHead.devPath}}

  {{> jsSketchfab devPath=buildingCascadianDouble.docHead.devPath}}

  {{> jsMain devPath=buildingCascadianDouble.docHead.devPath}}

</body>

</html>