<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingCascadian.docHead.title description=buildingCascadian.docHead.description devPath=buildingCascadian.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingCascadian.docHead.devPath}}

    {{> PageHeader title=buildingCascadian.page.title breadcrumbs=buildingCascadian.breadcrumbs devPath=buildingCascadian.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingCascadian devPath=buildingCascadian.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingCascadian.docHead.devPath}}

  {{> jsSketchfab devPath=buildingCascadian.docHead.devPath}}

  {{> jsMain devPath=buildingCascadian.docHead.devPath}}

</body>

</html>