<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingCheyenne.docHead.title description=buildingCheyenne.docHead.description devPath=buildingCheyenne.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingCheyenne.docHead.devPath}}

    {{> PageHeader title=buildingCheyenne.page.title breadcrumbs=buildingCheyenne.breadcrumbs devPath=buildingCheyenne.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingCheyenne devPath=buildingCheyenne.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingCheyenne.docHead.devPath}}

  {{> jsSketchfab devPath=buildingCheyenne.docHead.devPath}}

  {{> jsMain devPath=buildingCheyenne.docHead.devPath}}

</body>

</html>