<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingsConcession.docHead.title description=buildingsConcession.docHead.description devPath=buildingsConcession.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=buildingsConcession devPath=buildingsConcession.docHead.devPath}}

    {{> PageHeader title=buildingsConcession.page.title breadcrumbs=buildingsConcession.breadcrumbs devPath=buildingsConcession.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingsPageview title="Concession" headline="Our concession buildings come pre-plumbed and pre-wired with water and electrical lines concealed within a storage area to reduce maintenance and vandalism." page=buildingsConcession.page.name buildings=buildingsConcession.buildings sort=buildings.sort filter=buildingsConcession.filter showSortTitle=true gridHeadlineBlockClass="BuildingsGrid" gridHeadlineModClass="extend" devPath=buildingsConcession.docHead.devPath}}

    </main>
  </div>
  {{> FooterSite devPath=buildingsConcession.docHead.devPath}}

  {{> jsMain devPath=buildingsConcession.docHead.devPath}}

</body>

</html>