<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingCortez.docHead.title description=buildingCortez.docHead.description devPath=buildingCortez.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingCortez.docHead.devPath}}

    {{> PageHeader title=buildingCortez.page.title breadcrumbs=buildingCortez.breadcrumbs devPath=buildingCortez.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingCortez devPath=buildingCortez.docHead.devPath modelFile=true imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingCortez.docHead.devPath}}

  {{> jsSketchfab devPath=buildingCortez.docHead.devPath}}

  {{> jsMain devPath=buildingCortez.docHead.devPath}}

</body>

</html>