<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingDakota.docHead.title description=buildingDakota.docHead.description devPath=buildingDakota.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingDakota.docHead.devPath}}

    {{> PageHeader title=buildingDakota.page.title breadcrumbs=buildingDakota.breadcrumbs devPath=buildingDakota.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingDakota devPath=buildingDakota.docHead.devPath}}

    </main>
  </div>
  {{> FooterSite devPath=buildingDakota.docHead.devPath}}

  {{> jsSketchfab devPath=buildingDakota.docHead.devPath}}

  {{> jsMain devPath=buildingDakota.docHead.devPath}}

</body>

</html>