<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingDenali.docHead.title description=buildingDenali.docHead.description devPath=buildingDenali.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingDenali.docHead.devPath}}

    {{> PageHeader title=buildingDenali.page.title breadcrumbs=buildingDenali.breadcrumbs devPath=buildingDenali.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingDenali devPath=buildingDenali.docHead.devPath modelFile=true imgFile=true}}

    </main>

  </div>
  {{> FooterSite devPath=buildingDenali.docHead.devPath}}

  {{> jsSketchfab devPath=buildingDenali.docHead.devPath}}

  {{> jsMain devPath=buildingDenali.docHead.devPath}}

</body>

</html>