<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingDiablo.docHead.title description=buildingDiablo.docHead.description devPath=buildingDiablo.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingDiablo.docHead.devPath}}

    {{> PageHeader title=buildingDiablo.page.title breadcrumbs=buildingDiablo.breadcrumbs devPath=buildingDiablo.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingDiablo devPath=buildingDiablo.docHead.devPath}}

    </main>
  </div>
  {{> FooterSite devPath=buildingDiablo.docHead.devPath}}

  {{> jsSketchfab devPath=buildingDiablo.docHead.devPath}}

  {{> jsMain devPath=buildingDiablo.docHead.devPath}}

</body>

</html>