<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingsFlush.docHead.title description=buildingsFlush.docHead.description devPath=buildingsFlush.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=buildingsFlush devPath=buildingsFlush.docHead.devPath}}

    {{> PageHeader title=buildingsFlush.page.title breadcrumbs=buildingsFlush.breadcrumbs devPath=buildingsFlush.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingsPageview title="Flush Restrooms" headline="Our restrooms come pre-plumbed and pre-wired with water and electrical lines concealed within a storage area to reduce maintenance and vandalism." page=buildingsFlush.page.name buildings=buildingsFlush.buildings sort=buildings.sort showSortTitle=true filter=buildingsFlush.filter gridHeadlineBlockClass="BuildingsGrid" gridHeadlineModClass="extend" devPath=buildingsFlush.docHead.devPath}}

    </main>
  </div>
  {{> FooterSite devPath=buildingsFlush.docHead.devPath}}

  {{> jsMain devPath=buildingsFlush.docHead.devPath}}

</body>

</html>