<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingFontana.docHead.title description=buildingFontana.docHead.description devPath=buildingFontana.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingFontana.docHead.devPath}}

    {{> PageHeader title=buildingFontana.page.title breadcrumbs=buildingFontana.breadcrumbs devPath=buildingFontana.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingFontana devPath=buildingFontana.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingFontana.docHead.devPath}}

  {{> jsSketchfab devPath=buildingFontana.docHead.devPath}}

  {{> jsMain devPath=buildingFontana.docHead.devPath}}

</body>

</html>