<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingGunnison.docHead.title description=buildingGunnison.docHead.description devPath=buildingGunnison.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingGunnison.docHead.devPath}}

    {{> PageHeader title=buildingGunnison.page.title breadcrumbs=buildingGunnison.breadcrumbs devPath=buildingGunnison.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingGunnison devPath=buildingGunnison.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingGunnison.docHead.devPath}}

  {{> jsSketchfab devPath=buildingGunnison.docHead.devPath}}

  {{> jsMain devPath=buildingGunnison.docHead.devPath}}

</body>

</html>