<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildings.docHead.title description=buildings.docHead.description devPath=buildings.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=buildings devPath=buildings.docHead.devPath}}

    {{> PageHeader title=buildings.page.title breadcrumbs=buildings.breadcrumbs devPath=buildings.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingsPageview title="Buildings" headline="Our buildings are engineered to maintain their aesthetics in extreme conditions and meet ADA specifications." buildings=buildings.buildings sort=buildings.sort filter=buildings.filter showSortTitle=true gridHeadlineBlockClass="BuildingsGrid" page=buildings.page.name devPath=buildings.docHead.devPath }}

    </main>
  </div>
  {{> FooterSite devPath=buildings.docHead.devPath}}

  {{> jsMain devPath=buildings.docHead.devPath}}

</body>

</html>