<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingKodiak.docHead.title description=buildingKodiak.docHead.description devPath=buildingKodiak.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingKodiak.docHead.devPath}}

    {{> PageHeader title=buildingKodiak.page.title breadcrumbs=buildingKodiak.breadcrumbs devPath=buildingKodiak.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingKodiak devPath=buildingKodiak.docHead.devPath modelFile=true imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingKodiak.docHead.devPath}}

  {{> jsSketchfab devPath=buildingKodiak.docHead.devPath}}

  {{> jsMain devPath=buildingKodiak.docHead.devPath}}

</body>

</html>