<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingMalibu.docHead.title description=buildingMalibu.docHead.description devPath=buildingMalibu.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingMalibu.docHead.devPath}}

    {{> PageHeader title=buildingMalibu.page.title breadcrumbs=buildingMalibu.breadcrumbs devPath=buildingMalibu.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingMalibu devPath=buildingMalibu.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingMalibu.docHead.devPath}}

  {{> jsSketchfab devPath=buildingMalibu.docHead.devPath}}

  {{> jsMain devPath=buildingMalibu.docHead.devPath}}

</body>

</html>