<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingMendocino.docHead.title description=buildingMendocino.docHead.description devPath=buildingMendocino.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingMendocino.docHead.devPath}}

    {{> PageHeader title=buildingMendocino.page.title breadcrumbs=buildingMendocino.breadcrumbs devPath=buildingMendocino.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingMendocino devPath=buildingMendocino.docHead.devPath}}

    </main>
  </div>
  {{> FooterSite devPath=buildingMendocino.docHead.devPath}}

  {{> jsSketchfab devPath=buildingMendocino.docHead.devPath}}

  {{> jsMain devPath=buildingMendocino.docHead.devPath}}

</body>

</html>