<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingMontrose.docHead.title description=buildingMontrose.docHead.description devPath=buildingMontrose.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingMontrose.docHead.devPath}}

    {{> PageHeader title=buildingMontrose.page.title breadcrumbs=buildingMontrose.breadcrumbs devPath=buildingMontrose.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingMontrose devPath=buildingMontrose.docHead.devPath modelFile=true imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingMontrose.docHead.devPath}}

  {{> jsSketchfab devPath=buildingMontrose.docHead.devPath}}

  {{> jsMain devPath=buildingMontrose.docHead.devPath}}

</body>

</html>