<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingNavajo.docHead.title description=buildingNavajo.docHead.description devPath=buildingNavajo.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingNavajo.docHead.devPath}}

    {{> PageHeader title=buildingNavajo.page.title breadcrumbs=buildingNavajo.breadcrumbs devPath=buildingNavajo.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingNavajo devPath=buildingNavajo.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingNavajo.docHead.devPath}}

  {{> jsSketchfab devPath=buildingNavajo.docHead.devPath}}

  {{> jsMain devPath=buildingNavajo.docHead.devPath}}

</body>

</html>