<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingOzarkII.docHead.title description=buildingOzarkII.docHead.description devPath=buildingOzarkII.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingOzarkII.docHead.devPath}}

    {{> PageHeader title=buildingOzarkII.page.title breadcrumbs=buildingOzarkII.breadcrumbs devPath=buildingOzarkII.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingOzarkII devPath=buildingOzarkII.docHead.devPath modelFile=true imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingOzarkII.docHead.devPath}}

  {{> jsSketchfab devPath=buildingOzarkII.docHead.devPath}}

  {{> jsMain devPath=buildingOzarkII.docHead.devPath}}

</body>

</html>