<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingOzarkI.docHead.title description=buildingOzarkI.docHead.description devPath=buildingOzarkI.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingOzarkI.docHead.devPath}}

    {{> PageHeader title=buildingOzarkI.page.title breadcrumbs=buildingOzarkI.breadcrumbs devPath=buildingOzarkI.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingOzarkI devPath=buildingOzarkI.docHead.devPath modelFile=true imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingOzarkI.docHead.devPath}}

  {{> jsSketchfab devPath=buildingOzarkI.docHead.devPath}}

  {{> jsMain devPath=buildingOzarkI.docHead.devPath}}

</body>

</html>