<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingPioneer.docHead.title description=buildingPioneer.docHead.description devPath=buildingPioneer.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingPioneer.docHead.devPath}}

    {{> PageHeader title=buildingPioneer.page.title breadcrumbs=buildingPioneer.breadcrumbs devPath=buildingPioneer.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingPioneer devPath=buildingPioneer.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingPioneer.docHead.devPath}}

  {{> jsSketchfab devPath=buildingPioneer.docHead.devPath}}

  {{> jsMain devPath=buildingPioneer.docHead.devPath}}

</body>

</html>