<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingPomona.docHead.title description=buildingPomona.docHead.description devPath=buildingPomona.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingPomona.docHead.devPath}}

    {{> PageHeader title=buildingPomona.page.title breadcrumbs=buildingPomona.breadcrumbs devPath=buildingPomona.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingPomona devPath=buildingPomona.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingPomona.docHead.devPath}}

  {{> jsSketchfab devPath=buildingPomona.docHead.devPath}}

  {{> jsMain devPath=buildingPomona.docHead.devPath}}

</body>

</html>