<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingRainier.docHead.title description=buildingRainier.docHead.description devPath=buildingRainier.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingRainier.docHead.devPath}}

    {{> PageHeader title=buildingRainier.page.title breadcrumbs=buildingRainier.breadcrumbs devPath=buildingRainier.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingRainier devPath=buildingRainier.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingRainier.docHead.devPath}}

  {{> jsSketchfab devPath=buildingRainier.docHead.devPath}}

  {{> jsMain devPath=buildingRainier.docHead.devPath}}

</body>

</html>