<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingRockyMtnDouble.docHead.title description=buildingRockyMtnDouble.docHead.description devPath=buildingRockyMtnDouble.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingRockyMtnDouble.docHead.devPath}}

    {{> PageHeader title=buildingRockyMtnDouble.page.title breadcrumbs=buildingRockyMtnDouble.breadcrumbs devPath=buildingRockyMtnDouble.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingRockyMtnDouble devPath=buildingRockyMtnDouble.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingRockyMtnDouble.docHead.devPath}}

  {{> jsSketchfab devPath=buildingRockyMtnDouble.docHead.devPath}}

  {{> jsMain devPath=buildingRockyMtnDouble.docHead.devPath}}

</body>

</html>