<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingRockyMtn.docHead.title description=buildingRockyMtn.docHead.description devPath=buildingRockyMtn.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingRockyMtn.docHead.devPath}}

    {{> PageHeader title=buildingRockyMtn.page.title breadcrumbs=buildingRockyMtn.breadcrumbs devPath=buildingRockyMtn.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingRockyMtn devPath=buildingRockyMtn.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingRockyMtn.docHead.devPath}}

  {{> jsSketchfab devPath=buildingRockyMtn.docHead.devPath}}

  {{> jsMain devPath=buildingRockyMtn.docHead.devPath}}

</body>

</html>