<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingSchweitzerI.docHead.title description=buildingSchweitzerI.docHead.description devPath=buildingSchweitzerI.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingSchweitzerI.docHead.devPath}}

    {{> PageHeader title=buildingSchweitzerI.page.title breadcrumbs=buildingSchweitzerI.breadcrumbs devPath=buildingSchweitzerI.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingSchweitzerI devPath=buildingSchweitzerI.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingSchweitzerI.docHead.devPath}}

  {{> jsSketchfab devPath=buildingSchweitzerI.docHead.devPath}}

  {{> jsMain devPath=buildingSchweitzerI.docHead.devPath}}

</body>

</html>