<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingSchweitzerII.docHead.title description=buildingSchweitzerII.docHead.description devPath=buildingSchweitzerII.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingSchweitzerII.docHead.devPath}}

    {{> PageHeader title=buildingSchweitzerII.page.title breadcrumbs=buildingSchweitzerII.breadcrumbs devPath=buildingSchweitzerII.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingSchweitzerII devPath=buildingSchweitzerII.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingSchweitzerII.docHead.devPath}}

  {{> jsSketchfab devPath=buildingSchweitzerII.docHead.devPath}}

  {{> jsMain devPath=buildingSchweitzerII.docHead.devPath}}

</body>

</html>