<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingsShower.docHead.title description=buildingsShower.docHead.description devPath=buildingsShower.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=buildingsShower devPath=buildingsShower.docHead.devPath}}

    {{> PageHeader title=buildingsShower.page.title breadcrumbs=buildingsShower.breadcrumbs devPath=buildingsShower.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingsPageview title="Flush Restrooms with Shower" headline="Our restrooms with shower come pre-plumbed and pre-wired with water and electrical lines concealed within a storage area to reduce maintenance and vandalism." page=buildingsShower.page.name buildings=buildingsShower.buildings sort=buildings.sort filter=buildingsShower.filter showSortTitle=true gridHeadlineBlockClass="BuildingsGrid" gridHeadlineModClass="extend" devPath=buildingsShower.docHead.devPath}}

    </main>
  </div>
  {{> FooterSite devPath=buildingsShower.docHead.devPath}}

  {{> jsMain devPath=buildingsShower.docHead.devPath}}

</body>

</html>