<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingTaos.docHead.title description=buildingTaos.docHead.description devPath=buildingTaos.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingTaos.docHead.devPath}}

    {{> PageHeader title=buildingTaos.page.title breadcrumbs=buildingTaos.breadcrumbs devPath=buildingTaos.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingTaos devPath=buildingTaos.docHead.devPath modelFile=true imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingTaos.docHead.devPath}}

  {{> jsSketchfab devPath=buildingTaos.docHead.devPath}}

  {{> jsMain devPath=buildingTaos.docHead.devPath}}

</body>

</html>