<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingTeton.docHead.title description=buildingTeton.docHead.description devPath=buildingTeton.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingTeton.docHead.devPath}}

    {{> PageHeader title=buildingTeton.page.title breadcrumbs=buildingTeton.breadcrumbs devPath=buildingTeton.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingTeton devPath=buildingTeton.docHead.devPath}}

    </main>
  </div>
  {{> FooterSite devPath=buildingTeton.docHead.devPath}}

  {{> jsSketchfab devPath=buildingTeton.docHead.devPath}}

  {{> jsMain devPath=buildingTeton.docHead.devPath}}

</body>

</html>