<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingTioga.docHead.title description=buildingTioga.docHead.description devPath=buildingTioga.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=buildingTioga.docHead.devPath}}

    {{> PageHeader title=buildingTioga.page.title breadcrumbs=buildingTioga.breadcrumbs devPath=buildingTioga.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingPageview building=buildingTioga devPath=buildingTioga.docHead.devPath imgFile=true}}

    </main>
  </div>
  {{> FooterSite devPath=buildingTioga.docHead.devPath}}

  {{> jsSketchfab devPath=buildingTioga.docHead.devPath}}

  {{> jsMain devPath=buildingTioga.docHead.devPath}}

</body>

</html>