<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingsUtility.docHead.title description=buildingsUtility.docHead.description devPath=buildingsUtility.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=buildingsUtility devPath=buildingsUtility.docHead.devPath}}

    {{> PageHeader title=buildingsUtility.page.title breadcrumbs=buildingsUtility.breadcrumbs devPath=buildingsUtility.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingsPageview title="Utility" headline="Our utility buildings come pre-wired with electrical lines concealed inside to reduce maintenance and vandalism." page=buildingsUtility.page.name buildings=buildingsUtility.buildings sort=buildings.sort filter=buildingsUtility.filter showSortTitle=true gridHeadlineBlockClass="BuildingsGrid" devPath=buildingsUtility.docHead.devPath}}

    </main>
  </div>
  {{> FooterSite devPath=buildingsUtility.docHead.devPath}}

  {{> jsMain devPath=buildingsUtility.docHead.devPath}}

</body>

</html>