<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=buildingsVault.docHead.title description=buildingsVault.docHead.description devPath=buildingsVault.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=buildingsVault devPath=buildingsVault.docHead.devPath}}

    {{> PageHeader title=buildingsVault.page.title breadcrumbs=buildingsVault.breadcrumbs devPath=buildingsVault.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{> BuildingsPageview title="Vault Restrooms" headline="Our restrooms are designed and placed to ensure unobstructed airflow for passive ventilation to take advantage of sweet smelling technology." page=buildingsVault.page.name buildings=buildingsVault.buildings sort=buildings.sort filter=buildingsVault.filter showSortTitle=true gridHeadlineBlockClass="BuildingsGrid" gridHeadlineModClass="extend" devPath=buildingsVault.docHead.devPath}}

    </main>
  </div>
  {{> FooterSite devPath=buildingsVault.docHead.devPath}}

  {{> jsMain devPath=buildingsVault.docHead.devPath}}

</body>

</html>