<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=install.docHead.title description=install.docHead.description devPath=install.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=install devPath=install.docHead.devPath}}

    {{> PageHeader title=install.page.title breadcrumbs=install.breadcrumbs devPath=install.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{!-- Installation models --}}
      {{> SxnOpen bgcolor=false}}

      {{#each install.models}}
      {{> ModelSxn media=this devPath=../install.docHead.devPath first=@first}}

      {{/each}}
      {{> SxnClose}}

      {{!-- Delivery information --}}
      {{> SxnOpen bgcolor=true}}

      <div class="Install-mediaCard Page-mediaCard">
        <div class="Install-mediaCardMedia Page-mediaCardMedia">
          {{> PageWarningJS text="Enable JavaScript to watch video."}}

          {{> VisualMedia media=install.video}}

        </div>
        <div class="Install-mediaCardBody">
          <h2 class="Page-headline Install-sxnDeliveryTitle">Building Delivery Information</h2>
          <div class="Install-sxnDeliveryContent">
            {{#each install.deliveryContent}}
            {{> PdfLink link=(lookup ../resourcesBuildings linkName) devPath=../install.docHead.devPath newWindow=true}}

            {{/each}}
          </div>
        </div>
      </div>
      {{> SxnClose}}

      {{!-- Installation forms --}}
      {{> SxnOpen bgcolor=false}}

      {{> SxnHeading title="Installation Forms"}}
      <div class="Page-sxnGroup Install-sxnFormsResources">
        {{#each install.forms}}
        {{> PdfLink link=(lookup ../resourcesBuildings linkName) devPath=../install.docHead.devPath imgTop=true setWidth=true newWindow=true}}

        {{/each}}
      </div>
      {{!-- Contact us button --}}
      <p class="Page-sxnHeadline Page-sxnHeadline--last">Have installation related questions or concerns?</p>
      {{> SxnLinkBtn linkName="contact-install" text="Contact Us" pressed="false" disabled="false" devPath=install.docHead.devPath}}

      {{> SxnClose}}

      {{!-- Installation instructions and stub drawings --}}
      {{> SxnOpen bgcolor=true}}

      {{> SxnHeading title="Installation Instructions &amp; Stub-up Drawings"}}
      {{!-- Instructions and stub drawings filter --}}
      {{> FilterBtns filter=install.instructDrawingsFilter addFilterClasses="Page-sxnGroup" addOptionsClasses="Install-filterBtns js-install-instructions-btns" warningText="Enable JavaScript to filter instructions and drawings."}}

      <ul class="Install-resourcesCards js-install-instructions-items">
        {{#each install.instructDrawings}}
        <li class="Install-resourcesCard js-filter-item"
            aria-hidden="{{hidden}}"
            data-category="{{category}}">
          {{> ResourcesCard resources=../resourcesBuildings devPath=../install.docHead.devPath}}

        </li>
        {{/each}}
      </ul>
      {{!-- View more button --}}
      <div class="Page-sxnBtn js-install-instructions-viewMoreBtn"
           aria-hidden="true">
        {{> PageBtn text="View More" pressed="false" disabled="false" outline=true}}

      </div>
      {{> SxnClose}}

    </main>
  </div>
  {{> FooterSite devPath=install.docHead.devPath}}

  {{> jsMain devPath=install.docHead.devPath}}

</body>

</html>