/* ==========================================================================
 * Install
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Install: filter buttons
 * -------------------------------------------------------------------------- */

.Install-filterBtns {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-direction, column);
  @include vendorize(justify-content, center);
  @include vendorize(align-items, center);

  @media #{$screen} and (min-width: 675px) {
    @include vendorize(flex-direction, row);
  }
}

/* --------------------------------------------------------------------------
 * Install: media card
 * -------------------------------------------------------------------------- */

.Install-mediaCard {
  // Position
  position: relative;

  @include clear('', block);
}

/* --------------------------------------------------------------------------
 * Install: media card body
 * -------------------------------------------------------------------------- */

.Install-mediaCardBody {
  /* Position */
  float: left;

  /* Box Model */
  display: block;
  width: 100%;
  padding-left: 0;

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    width: 50%;
    padding-left: 39px;
  }
}

/* Install: media card body - positioned right
 * -------------------------------------------------------------------------- */

.Install-mediaCardBody--posRight {
  float: right;
}

/* --------------------------------------------------------------------------
 * Install: media card media
 * -------------------------------------------------------------------------- */

.Install-mediaCardMedia {
  /* Position */
  float: left;

  /* Box Model */
  display: block;
  width: 100%;

  @include responsive($screen, 'min-lg') {
    width: 50%;
  }
}

/* --------------------------------------------------------------------------
 * Install: group of resources card
 * -------------------------------------------------------------------------- */

.Install-resourcesCards {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  width: $install-instructDrawingsSxn-width-total;
  margin-right: auto;
  margin-bottom: 26px;
  margin-left: auto;

  @media #{$screen} and (min-width: 735px) {
    width: $install-instructDrawingsSxn-width-total * 2;
  }

  @media #{$screen} and (min-width: 1100px) {
    width: $install-instructDrawingsSxn-width-total * 3;
  }
}

/* --------------------------------------------------------------------------
 * Install: single resources card
 * -------------------------------------------------------------------------- */

.Install-resourcesCard {
  /* Box Model */
  @include vendorize(flex-grow, 0);

  /* Misc */
  @include vendorize(transition, all 830ms ease);

  &[aria-hidden='false'] {
    /* Single resources card shown */
    /* Box Model */
    width: $install-instructDrawingsSxn-width;
    margin-top: 39px;
    margin-right: $install-instructDrawingsSxn-margin-horz;
    margin-bottom: 39px;
    margin-left: $install-instructDrawingsSxn-margin-horz;

    & .ResourcesCard {
      /* Displays resource card */
      display: block;
    }
  }

  &[aria-hidden='true'] .ResourcesCard {
    /* Single resources card hidden */
    display: none;
  }
}

/* --------------------------------------------------------------------------
 * Install: delivery section content
 * -------------------------------------------------------------------------- */

.Install-sxnDeliveryContent {
  /* Box Model */
  width: 220px;
  margin-right: auto;
  margin-left: auto;

  @include responsive($screen, 'min-md') {
    width: 250px;
  }

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    width: auto;
    margin-right: 0;
    margin-left: 0;
  }
}

/* --------------------------------------------------------------------------
 * Install: delivery section title
 * -------------------------------------------------------------------------- */

.Install-sxnDeliveryTitle {
  /* Box Model */
  margin-top: 26px;

  /* Typography */
  text-align: center;

  @include responsive($screen, 'min-lg') {
    text-align: left;
  }
}

/* --------------------------------------------------------------------------
 * Install: form resources section
 * -------------------------------------------------------------------------- */

.Install-sxnFormsResources {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-direction, column);
  @include vendorize(justify-content, center);
  @include vendorize(align-items, center);

  @include responsive($screen, 'min-sm') {
    /* Box Model */
    @include vendorize(flex-direction, row);
    @include vendorize(align-items, baseline);
  }
}

/* --------------------------------------------------------------------------
 * Install: model section text
 * -------------------------------------------------------------------------- */

.Install-sxnModelText {
  /* Box Model */
  margin-bottom: $headline-sm * $line-height-base;

  /* Typography */
  font-size: $headline-sm * 0.85;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    margin-bottom: $headline-md * $line-height-base;

    /* Typography */
    font-size: $headline-md * 0.85;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $headline-lg * 0.85;
  }
}

/* --------------------------------------------------------------------------
 * Install: model section title
 * -------------------------------------------------------------------------- */

.Install-sxnModelTitle {
  /* Box Model */
  margin-bottom: $text-sm * $line-height-sm;

  /* Typography */
  font-size: $title-sm;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    margin-bottom: $text-md * $line-height-sm;

    /* Typography */
    font-size: $title-md;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    margin-bottom: $text-lg * $line-height-sm;

    /* Typography */
    font-size: $title-lg;
  }
}
