{{> SxnOpen}}

{{> SxnHeading title=link.title headline=link.headline headline2=link.headline2}}

{{> SxnLinkBtn linkName=link.linkName text=link.text pressed=link.pressed disabled=link.disabled newWindow=link.newWindow}}

{{> SxnClose}}