<a class="{{#if blockClass}}{{blockClass}}-imgLink {{/if}}Page-imgLink"
   href="{{devPath}}{{link.href}}"
   alt="{{link.alt}}"
   {{#if newWindow}}
   target="_blank"
   rel="noopener"
   {{/if}}
   aria-disabled="{{disabled}}"><img class="Page-img"
       src="{{#if placeholderImg}}{{else}}{{devPath}}{{/if}}{{#if img}}{{img}}{{else}}{{link.img}}{{/if}}"
       alt="{{#if imgAlt}}{{imgAlt}}{{else}}{{link.imgAlt}}{{/if}}">{{#if blockClass}}<span class="{{blockClass}}-imgLinkText">{{#if text}}{{{text}}}{{/if}}</span>{{else}}{{#if text}}{{{text}}}{{/if}}{{/if}}</a>