<a class="{{#if blockClass}}{{blockClass}} {{/if}}{{#if classes}}{{classes}}{{else}}{{#if addClasses}}{{addClasses}} {{/if}}Page-link{{/if}}"
   href="{{devPath}}{{link.href}}"
   alt="{{link.alt}}"
   {{#if currPage}}
   disabled="true"
   tabindex="-1"
   {{/if}}
   {{#if newWindow}}
   target="_blank"
   rel="noopener"
   {{/if}}
   aria-pressed="{{pressed}}"
   aria-disabled="{{disabled}}">{{#if img}}<img src="{{img}}"
       alt="{{imgAlt}}">{{/if}}{{#if text}}{{text}}{{else}}{{{link.text}}}{{/if}}</a>