<button class="{{#if blockClass}}{{blockClass}}-btn {{/if}}Btn{{#if chevron}} Btn--chevron{{/if}}{{#if chevronOnly}} Btn--chevronOnly{{/if}}{{#if filter}} Btn--filter{{/if}}{{#if img}} Btn--img{{/if}}{{#if outline}} Btn--outline{{/if}}{{#if sort}} Btn--sort{{/if}}{{#if classes}} {{classes}}{{/if}}"
        {{#if id}}
        id="{{id}}"
        {{/if}}
        {{#if type}}
        type="{{type}}"
        {{/if}}
        {{#if dataAttr}}
        {{dataAttr}}="{{dataValue}}"
        {{else}}
        {{#each dataAttributes}}
        {{@key}}="{{this}}"
        {{/each}}
        {{/if}}
        {{#if disableBtn}}
        disabled="true"
        tabindex="-1"
        {{/if}}
        {{#if autocomplete}}
        autocomplete="{{autocomplete}}"
        {{/if}}
        {{#if ariaControls}}
        aria-controls="{{ariaControls}}"
        {{/if}}
        aria-pressed="{{pressed}}"
        aria-disabled="{{disabled}}">{{#if img}}<img class="{{#if blockClass}}{{blockClass}}-btnImg {{/if}}Page-img"
            src="{{#if placeholderImg}}{{else}}{{devPath}}{{/if}}{{img}}"
            alt="{{imgAlt}}"
            title="{{imgTitle}}">{{/if}}{{#if hiddenText}}<span class="u-visuallyHidden">{{hiddenText}}</span>{{/if}}{{#if text}}{{#if textClasses}}<span class="{{textClasses}}">{{{text}}}</span>{{else}}{{{text}}}{{/if}}{{/if}}</button>
{{!-- aria-disabled="{{disabled}}">{{#if hiddenText}}<span class="u-visuallyHidden">{{hiddenText}}</span>{{/if}}{{#if text}}{{{text}}}{{/if}}</button> --}}