<section class="Page-heading">
  <h1 class="Page-headingTitle">{{title}}</h1>
  {{#if breadcrumbs}}
  <h2 class="u-visuallyHidden">Page Breadcrumbs</h2>
  <ul class="Page-headingBreadcrumbs">
    {{#each breadcrumbs}}
    <li class="Breadcrumb"
        data-disabled="{{disabled}}">
      {{#if currPage}}
      <p class="Page-link"
         aria-disabled="{{disabled}}">{{text}}</p>
      {{else}}
      {{> PageLink link=(lookup ../navSite linkName) devPath=../devPath}}
      {{/if}}

    </li>
    {{/each}}
  </ul>
  {{/if}}
</section>