// =============================================================================
// Btn Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Multipliers
$btn-text-mult: 0.9;
$btn-pad-mult: 0.4;

// Line height
$btn-line-height: $line-height-sm;

// Chevron icon: padding
$btnchevron-pad-horz: 6px;

// Chevron icon: margin
$btnchevron-margin-horz: 3px;

// Hamburger icon: bar height
$btnhamburger-bar-height: 3px;

// Model Btn: padding
$btnmodel-pad-left: 26px;

// Model Btn: rectangle width
$btnmodel-rectangle-width-sm: 180px;
$btnmodel-rectangle-width-md: 200px;
$btnmodel-rectangle-width-lg: 210px;

// Model Btn: triangle width
$btnmodel-triangle-width-sm: 14px;
$btnmodel-triangle-width-md: 16px;
$btnmodel-triangle-width-lg: 18px;

// Video Btn: rectangle width
$btnvideo-rectangle-width-sm: 80px;
$btnvideo-rectangle-width-lg: 100px;

// Video Btn: rectangle height
$btnvideo-rectangle-height-sm: 60px;
$btnvideo-rectangle-height-lg: 70px;

// Video Btn: triangle width
$btnvideo-triangle-width-sm: 20px;
$btnvideo-triangle-width-lg: 24px;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Text: font size
// Dependence: btn text mult
$btn-text-sm: $text-sm * $btn-text-mult;
$btn-text-md: $text-md * $btn-text-mult;
$btn-text-lg: $text-lg * $btn-text-mult;
$btn-text-xl: $text-lg;

// Padding: horizontal
// Dependence: text
$btn-pad-horz-sm: $btn-text-sm * 1.5;
$btn-pad-horz-md: $btn-text-md * 1.5;
$btn-pad-horz-lg: $btn-text-lg * 1.5;
$btn-pad-horz-xl: $btn-text-xl * 1.5;

// Padding: vertical
// Dependence: horz padding
$btn-pad-vert-sm: $btn-pad-horz-sm * $btn-pad-mult;
$btn-pad-vert-md: $btn-pad-horz-md * $btn-pad-mult;
$btn-pad-vert-lg: $btn-pad-horz-lg * $btn-pad-mult;
$btn-pad-vert-xl: $btn-pad-horz-xl * $btn-pad-mult;

// Height
// Dependence: text, border width, horz padding
$btn-height-sm: ($btn-text-sm * $line-height-base) + (2 * $btn-pad-vert-sm) +
  (2 * $page-btn-border-width);
$btn-height-md: ($btn-text-md * $line-height-base) + (2 * $btn-pad-vert-md) +
  (2 * $page-btn-border-width);
$btn-height-lg: ($btn-text-lg * $line-height-base) + (2 * $btn-pad-vert-lg) +
  (2 * $page-btn-border-width);
$btn-height-xl: ($btn-text-xl * $line-height-base) + (2 * $btn-pad-vert-xl) +
  (2 * $page-btn-border-width);

// Filter (buttons style) Btn: multiplier
$btnfilter-pad-mult: 0.5;

// Filter (buttons style) Btn: padding - vertical
// Dependence: btn pad vert
$btnfilter-pad-vert-sm: $btn-pad-vert-sm * $btnfilter-pad-mult;
$btnfilter-pad-vert-md: $btn-pad-vert-md * $btnfilter-pad-mult;
$btnfilter-pad-vert-lg: $btn-pad-vert-lg * $btnfilter-pad-mult;
$btnfilter-pad-vert-xl: $btn-pad-vert-xl * $btnfilter-pad-mult;

// Filter (buttons style) Btn: padding - horizontal
// Dependence: btn pad horz
$btnfilter-pad-horz-sm: $btn-pad-horz-sm * $btnfilter-pad-mult;
$btnfilter-pad-horz-md: $btn-pad-horz-md * $btnfilter-pad-mult;
$btnfilter-pad-horz-lg: $btn-pad-horz-lg * $btnfilter-pad-mult;
$btnfilter-pad-horz-xl: $btn-pad-horz-xl * $btnfilter-pad-mult;

// Filter (buttons style) Btn: margin - vertical
// Dependence: filter btn pad vert
$btnfilter-margin-vert-sm: $btnfilter-pad-vert-sm * (1 - $btnfilter-pad-mult);
$btnfilter-margin-vert-md: $btnfilter-pad-vert-md * (1 - $btnfilter-pad-mult);
$btnfilter-margin-vert-lg: $btnfilter-pad-vert-lg * (1 - $btnfilter-pad-mult);
$btnfilter-margin-vert-xl: $btnfilter-pad-vert-xl * (1 - $btnfilter-pad-mult);

// Filter (buttons style) Btn: margin - horizontal
// Dependence: filter btn pad horz
$btnfilter-margin-horz-sm: $btnfilter-pad-horz-sm * (1 - $btnfilter-pad-mult);
$btnfilter-margin-horz-md: $btnfilter-pad-horz-md * (1 - $btnfilter-pad-mult);
$btnfilter-margin-horz-lg: $btnfilter-pad-horz-lg * (1 - $btnfilter-pad-mult);
$btnfilter-margin-horz-xl: $btnfilter-pad-horz-xl * (1 - $btnfilter-pad-mult);

// Model Btn: text height
// Dependence: btn text
$btnmodel-text-height-sm: $btn-text-sm * $btn-line-height;
$btnmodel-text-height-md: $btn-text-md * $btn-line-height;
$btnmodel-text-height-lg: $btn-text-lg * $btn-line-height;

// Model Btn: triangle height
// Dependence: model btn triangle width
$btnmodel-triangle-heighthalf-sm: ($btnmodel-triangle-width-sm / 2);
$btnmodel-triangle-heighthalf-md: ($btnmodel-triangle-width-md / 2);
$btnmodel-triangle-heighthalf-lg: ($btnmodel-triangle-width-lg / 2);

// Video Btn: triangle height
// Dependence: video btn triangle width
$btnvideo-triangle-heighthalf-sm: ($btnvideo-triangle-width-sm / 2);
$btnvideo-triangle-heighthalf-lg: ($btnvideo-triangle-width-lg / 2);

// Sort (buttons style) Btn: text multiplier
$btnsort-text-mult: 0.8;

// Sort (buttons style) Btn: text size
$btnsort-text-sm: $btn-text-sm * $btnsort-text-mult;
$btnsort-text-md: $btn-text-md * $btnsort-text-mult;
$btnsort-text-lg: $btn-text-lg * $btnsort-text-mult;

// Sort (buttons style) Btn: padding multiplier
$btnsort-pad-mult: 0.25;

// Sort (buttons style) Btn: padding - vertical
// Dependence: btn pad vert
$btnsort-pad-vert-sm: $btn-pad-vert-sm * $btnsort-pad-mult;
$btnsort-pad-vert-md: $btn-pad-vert-md * $btnsort-pad-mult;
$btnsort-pad-vert-lg: $btn-pad-vert-lg * $btnsort-pad-mult;
$btnsort-pad-vert-xl: $btn-pad-vert-xl * $btnsort-pad-mult;

// Sort (buttons style) Btn: padding - horizontal
// Dependence: btn pad horz
$btnsort-pad-horz-sm: $btn-pad-horz-sm * $btnsort-pad-mult;
$btnsort-pad-horz-md: $btn-pad-horz-md * $btnsort-pad-mult;
$btnsort-pad-horz-lg: $btn-pad-horz-lg * $btnsort-pad-mult;
$btnsort-pad-horz-xl: $btn-pad-horz-xl * $btnsort-pad-mult;

// Sort (buttons style) Btn: margin - vertical
// Dependence: sort btn pad vert
$btnsort-margin-vert-sm: $btnsort-pad-vert-sm * (1 - $btnsort-pad-mult);
$btnsort-margin-vert-md: $btnsort-pad-vert-md * (1 - $btnsort-pad-mult);
$btnsort-margin-vert-lg: $btnsort-pad-vert-lg * (1 - $btnsort-pad-mult);
$btnsort-margin-vert-xl: $btnsort-pad-vert-xl * (1 - $btnsort-pad-mult);

// Sort (buttons style) Btn: margin - horizontal
// Dependence: sort btn pad horz
$btnsort-margin-horz-sm: $btnsort-pad-horz-sm * (1 - $btnsort-pad-mult);
$btnsort-margin-horz-md: $btnsort-pad-horz-md * (1 - $btnsort-pad-mult);
$btnsort-margin-horz-lg: $btnsort-pad-horz-lg * (1 - $btnsort-pad-mult);
$btnsort-margin-horz-xl: $btnsort-pad-horz-xl * (1 - $btnsort-pad-mult);
