/* ==========================================================================
 * Button
 * ========================================================================== */

.Btn {
  /* Box Model */
  display: inline-block;
  padding-top: $btn-pad-vert-sm;
  padding-right: $btn-pad-horz-sm;
  padding-bottom: $btn-pad-vert-sm;
  padding-left: $btn-pad-horz-sm;

  /* Typography */
  font-family: $serif;
  font-size: $btn-text-sm;
  font-weight: $regular;
  line-height: $btn-line-height;
  letter-spacing: 0.025em;
  /* Removes btn-link underlines */
  text-decoration: none;

  /* Visual */
  border-radius: $page-border-rad;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    // padding: $btn-pad-vert-md $btn-pad-horz-md;
    padding-top: $btn-pad-vert-md;
    padding-right: $btn-pad-horz-md;
    padding-bottom: $btn-pad-vert-md;
    padding-left: $btn-pad-horz-md;

    /* Typography */
    font-size: $btn-text-md;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    // padding: $btn-pad-vert-lg $btn-pad-horz-lg;
    padding-top: $btn-pad-vert-lg;
    padding-right: $btn-pad-horz-lg;
    padding-bottom: $btn-pad-vert-lg;
    padding-left: $btn-pad-horz-lg;

    /* Typography */
    font-size: $btn-text-lg;
  }

  &:focus {
    outline: none;
  }

  &::-moz-focus-inner {
    /* Box Model */
    padding: 2px 0 0;

    /* Visual */
    border-width: 1px;
  }

  &[aria-pressed]:hover {
    /* Toggle button hover */
    cursor: pointer;
  }

  &[aria-disabled='true']:hover {
    /* Radial button selected hover */
    cursor: default;
  }

  &[aria-disabled='false']:hover {
    /* Radial button not selected hover */
    cursor: pointer;
  }
}

/* --------------------------------------------------------------------------
 * Button - (with) chevron and chevron only
 * -------------------------------------------------------------------------- */

.Btn--chevron,
.Btn--chevronOnly {
  &::after {
    /* Button chevron icon */
    /* Position */
    position: relative;

    /* Box Model */
    display: inline-block;
    width: $page-chevron-width-sm;
    height: $page-chevron-width-sm;

    /* Visual */
    border-color: #000;
    border-style: solid;
    border-width: $page-chevron-thickness $page-chevron-thickness 0 0;
    content: '';

    @include responsive($screen, 'min-md') {
      /* Box Model */
      width: $page-chevron-width-md;
      height: $page-chevron-width-md;
    }

    @include responsive($screen, 'min-xl') {
      /* Box Model */
      width: $page-chevron-width-lg;
      height: $page-chevron-width-lg;
    }
  }

  &:hover,
  &:focus {
    color: $page-color-accent;
  }

  &:focus {
    outline: none;

    &::after {
      /* Button chevron icon focus */
      border-color: $page-color-accent;
    }
  }

  &[aria-pressed='false']::after {
    /* Button chevron icon pointing down */
    /* Position */
    top: -4px;

    /* Misc */
    @include vendorize(transform, rotate(135deg));
  }

  &[aria-pressed='true']::after {
    /* Button chevron icon pointing up */
    @include vendorize(transform, rotate(-45deg));
  }

  &:hover::after {
    /* Button chevron icon hover */
    border-color: $page-color-accent;
  }
}

/* --------------------------------------------------------------------------
 * Button - (with) chevron
 * -------------------------------------------------------------------------- */

.Btn--chevron {
  &::after {
    margin-left: 12px;
  }
}

/* --------------------------------------------------------------------------
 * Button - chevron only
 * -------------------------------------------------------------------------- */

.Btn--chevronOnly {
  /* Box Model */
  padding-top: 0; /* Removes Btn default */
  padding-right: $btnchevron-pad-horz;
  padding-bottom: 0; /* Removes Btn default */
  padding-left: $btnchevron-pad-horz;
  margin-right: $btnchevron-margin-horz;
  margin-left: $btnchevron-margin-horz;
}

/* --------------------------------------------------------------------------
 * Button - image
 * -------------------------------------------------------------------------- */

.Btn--img {
  /* Position */
  position: relative;

  /* Box Model */
  display: block;
  padding: 0;

  /* Misc */
  @include vendorize(transition, all 230ms ease-in-out);

  &:focus {
    opacity: 0.4;
  }

  &[aria-pressed='false']:hover,
  &[aria-pressed='false']:focus {
    opacity: 0.4;
  }

  &[aria-pressed='false']:active {
    /* Button image not pressed, but selected */
    opacity: 0.7;
  }
}

/* --------------------------------------------------------------------------
 * Button - sort
 * -------------------------------------------------------------------------- */

.Btn--sort {
  /* Box Model */
  padding: $btnsort-pad-vert-sm $btnsort-pad-horz-sm;
  margin: $btnsort-margin-vert-sm $btnsort-margin-horz-sm;

  /* Typography */
  font-family: $sans-serif;
  font-size: $btnsort-text-sm;

  /* Visual */
  border-radius: 0; /* Removes btn default */

  /* Misc */
  @include vendorize(transition, all 230ms linear);

  @include responsive($screen, 'min-md') {
    /* Box Model */
    padding: $btnsort-pad-vert-sm $btnsort-pad-horz-sm;
    margin: $btnsort-margin-vert-sm $btnsort-margin-horz-sm;

    /* Typography */
    font-size: $btnsort-text-md;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    padding: $btnsort-pad-vert-sm $btnsort-pad-horz-sm;
    margin: $btnsort-margin-vert-sm $btnsort-margin-horz-sm;

    /* Typography */
    font-size: $btnsort-text-lg;
  }

  &[aria-disabled='false'] {
    color: #000;

    &:hover {
      color: $page-btn-text-color;
    }

    &:focus {
      color: $page-btn-text-color;
    }

    &:active {
      color: $page-btn-text-color;
    }
  }

  &[aria-disabled='true'] {
    /* Typography */
    color: $page-btn-text-color;

    /* Visual */
    border-bottom: 1px solid $page-btn-text-color;
  }
}

/* --------------------------------------------------------------------------
 * Button - filter
 * -------------------------------------------------------------------------- */

.Btn--filter {
  /* Box Model */
  padding: $btnfilter-pad-vert-sm $btnfilter-pad-horz-sm;
  margin: $btnfilter-margin-vert-sm $btnfilter-margin-horz-sm;

  /* Visual */
  border-radius: 0; // removes btn default

  /* Misc */
  @include vendorize(transition, all 230ms linear);

  @include responsive($screen, 'min-md') {
    /* Box Model */
    padding: $btnfilter-pad-vert-sm $btnfilter-pad-horz-sm;
    margin: $btnfilter-margin-vert-sm $btnfilter-margin-horz-sm;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    padding: $btnfilter-pad-vert-sm $btnfilter-pad-horz-sm;
    margin: $btnfilter-margin-vert-sm $btnfilter-margin-horz-sm;
  }

  &[aria-disabled='false'] {
    color: #000;

    &:hover {
      color: $page-btn-text-color;
    }

    &:focus {
      color: $page-btn-text-color;
    }

    &:active {
      color: $page-btn-text-color;
    }
  }

  &[aria-disabled='true'] {
    /* Typography */
    color: $page-btn-text-color;

    /* Visual */
    border-bottom: 1px solid $page-btn-text-color;
  }
}

/* --------------------------------------------------------------------------
 * Button - outline
 * -------------------------------------------------------------------------- */

.Btn--outline {
  /* Typography */
  color: $page-btn-text-color;

  /* Visual */
  background-color: transparent;
  border-color: $page-btn-border-color;
  border-style: solid;
  border-width: $page-btn-border-width;

  /* Misc */
  @include vendorize(transition, all 230ms linear);

  &[aria-disabled='true'] {
    /* Typography */
    color: $page-btn-disabled-color;

    /* Visual */
    border-color: $page-btn-disabled-color;
  }

  &[aria-disabled='false']:hover {
    /* Typography */
    color: $page-btn-text-color-hover;

    /* Visual */
    background-color: $page-btn-bgcolor-hover;
    border-color: $page-btn-bgcolor-hover;
  }

  &[aria-disabled='false']:focus {
    /* Typography */
    color: $page-btn-text-color-hover;

    /* Visual */
    background-color: $page-btn-bgcolor-hover;
    border-color: $page-btn-bgcolor-hover;
  }

  &[aria-disabled='false']:active {
    // Typography
    color: $page-btn-text-color-hover;

    // Visual
    background-color: rgba(66, 136, 198, 0.7); // opaque $page-color-accent
    border-color: transparent;
  }
}

/* --------------------------------------------------------------------------
 * Button - hamburger icon
 * -------------------------------------------------------------------------- */

.Btn--hamburger {
  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;

  /* Box Model */
  display: block;
  width: 50%;
  height: $btnhamburger-bar-height;

  /* Typography */
  font-size: 0;

  /* Visual */
  border-radius: 1px;

  /* Misc */
  @include vendorize(transform, translate3d(-50%, -50%, 0));
  @include vendorize(transition, all 230ms linear);

  &::before {
    /* Triple bar hamburger icon */
    /* Position */
    position: absolute;

    /* Box Model */
    display: block;
    width: 100%;
    height: $btnhamburger-bar-height;

    /* Visual */
    background: #333;
    content: '';
    border-radius: 1px;

    /* Misc */
    box-sizing: border-box;
    @include vendorize(transition, all 230ms linear);
  }

  &::after {
    /* Triple bar hamburger icon */
    /* Position */
    position: absolute;

    /* Box Model */
    display: block;
    width: 100%;
    height: $btnhamburger-bar-height;

    /* Visual */
    background: #333;
    content: '';
    border-radius: 1px;

    /* Misc */
    box-sizing: border-box;
    @include vendorize(transition, all 230ms linear);
  }

  &[data-menu='close'] {
    /* Hamburger triple bar icon shown */
    background: #333;

    &[data-menu='close']::before {
      /* Hamburger triple bar icon shown */
      top: -($btnhamburger-bar-height * 3);
    }

    &[data-menu='close']::after {
      /* Hamburger triple bar icon shown */
      top: ($btnhamburger-bar-height * 3);
    }
  }

  &[data-menu='open'] {
    /* Hamburger X icon shown */
    background: transparent;

    &[data-menu='open']::before {
      /* Hamburger X icon shown */
      /* Position */
      top: 0;

      /* Misc */
      @include vendorize(transform, rotate(45deg));
    }

    &[data-menu='open']::after {
      /* Hamburger X icon shown */
      /* Position */
      top: 0;

      /* Misc */
      @include vendorize(transform, rotate(-45deg));
    }
  }
}

/* --------------------------------------------------------------------------
 * Button - media
 * -------------------------------------------------------------------------- */

.Btn--media[aria-disabled='true'] {
  display: none;
}

.Btn--media[aria-disabled='false'] {
  /* Position */
  position: absolute;
  top: 0;
  left: 0;

  /* Box Model */
  width: 100%;
  height: 100%;

  /* Visual */
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;

  /* Misc */
  @include vendorize(transition, all 0.5s ease);

  &::before {
    /* Media button rectangle part of play symbol */
    /* Position */
    position: absolute;
    z-index: 1;

    /* Typography */
    font-family: $sans-serif;
    font-weight: $light;
    color: #fff;

    /* Visual */
    background-color: #000;
    border-radius: $page-border-rad;
    content: '';

    /* Misc */
    opacity: 1;
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.2);
    box-sizing: border-box;
    @include vendorize(transition, all 0.38s ease);
  }

  &::after {
    /* Media button triangle part of play symbol */
    /* Position */
    position: absolute;
    z-index: 2;

    /* Visual */
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    content: '';

    /* Misc */
    box-sizing: border-box;
  }

  &:hover {
    background-color: rgba(0, 0, 0, 0.22);

    &::before {
      /* Media button rectangle part of play symbol hover */
      background-color: $page-btn-bgcolor-hover;
    }
  }

  &:focus {
    background-color: rgba(0, 0, 0, 0.15);

    &::before {
      /* Media button rectangle part of play symbol focus */
      background-color: $page-color-accent;
    }
  }
}

/* --------------------------------------------------------------------------
 * Button - media model
 * -------------------------------------------------------------------------- */

.Btn--mediaModel[aria-disabled='false'] {
  &::before {
    /* Media model button rectangle part of play symbol */
    /* Position */
    bottom: calc(50% - (#{$btn-height-sm} / 2));
    left: calc(50% - (#{$btnmodel-rectangle-width-sm} / 2));

    /* Box Model */
    width: $btnmodel-rectangle-width-sm;
    height: $btn-height-sm;
    padding-top: ($btn-height-sm / 2) - ($btnmodel-text-height-sm / 2);
    padding-left: $btnmodel-pad-left;

    /* Visual */
    content: 'Load 3D Model';

    @include responsive($screen, 'min-md') {
      /* Position */
      bottom: calc(50% - (#{$btn-height-md} / 2));
      left: calc(50% - (#{$btnmodel-rectangle-width-md} / 2));

      /* Box Model */
      width: $btnmodel-rectangle-width-md;
      height: $btn-height-md;
      padding-top: ($btn-height-md / 2) - ($btnmodel-text-height-md / 2);
    }

    @include responsive($screen, 'min-xl') {
      /* Position */
      bottom: calc(50% - (#{$btn-height-lg} / 2));
      left: calc(50% - (#{$btnmodel-rectangle-width-lg} / 2));

      /* Box Model */
      width: $btnmodel-rectangle-width-lg;
      height: $btn-height-lg;
      padding-top: ($btn-height-lg / 2) - ($btnmodel-text-height-lg / 2);
    }
  }

  &::after {
    /* Media model button triangle part of play symbol */
    /* Position */
    bottom: calc(50% - #{$btnmodel-triangle-heighthalf-sm} - 1px);
    left: calc(
      50% + (#{$btnmodel-rectangle-width-sm} / 2) - #{$btnmodel-triangle-width-sm} -
        #{$btnmodel-pad-left} + 1px
    );

    /* Visual */
    border-width: $btnmodel-triangle-heighthalf-sm 0
      $btnmodel-triangle-heighthalf-sm $btnmodel-triangle-width-sm;

    @include responsive($screen, 'min-md') {
      /* Position */
      bottom: calc(50% - #{$btnmodel-triangle-heighthalf-md} - 1px);
      left: calc(
        50% + (#{$btnmodel-rectangle-width-md} / 2) - #{$btnmodel-triangle-width-md} -
          #{$btnmodel-pad-left} + 1px
      );

      /* Visual */
      border-width: $btnmodel-triangle-heighthalf-md 0
        $btnmodel-triangle-heighthalf-md $btnmodel-triangle-width-md;
    }

    @include responsive($screen, 'min-xl') {
      /* Position */
      bottom: calc(50% - #{$btnmodel-triangle-heighthalf-lg} - 1px);
      left: calc(
        50% + (#{$btnmodel-rectangle-width-lg} / 2) - #{$btnmodel-triangle-width-lg} -
          #{$btnmodel-pad-left} + 1px
      );

      /* Visual */
      border-width: $btnmodel-triangle-heighthalf-lg 0
        $btnmodel-triangle-heighthalf-lg $btnmodel-triangle-width-lg;
    }
  }
}

/* --------------------------------------------------------------------------
 * Button - media video
 * -------------------------------------------------------------------------- */

.Btn--mediaVideo[aria-disabled='false'] {
  &::before {
    /* Media Video button rectangle part of play symbol */
    /* Position */
    bottom: calc(50% - (#{$btnvideo-rectangle-height-sm} / 2));
    left: calc(50% - (#{$btnvideo-rectangle-width-sm} / 2));

    /* Box Model */
    width: $btnvideo-rectangle-width-sm;
    height: $btnvideo-rectangle-height-sm;

    @include responsive($screen, 'min-sm') {
      /* Position */
      bottom: calc(50% - (#{$btnvideo-rectangle-height-lg} / 2));
      left: calc(50% - (#{$btnvideo-rectangle-width-lg} / 2));

      /* Box Model */
      width: $btnvideo-rectangle-width-lg;
      height: $btnvideo-rectangle-height-lg;
    }

    @include responsive($screen, 'min-lg') {
      /* Position */
      bottom: calc(50% - (#{$btnvideo-rectangle-height-sm} / 2));
      left: calc(50% - (#{$btnvideo-rectangle-width-sm} / 2));

      /* Box Model */
      width: $btnvideo-rectangle-width-sm;
      height: $btnvideo-rectangle-height-sm;
    }

    @include responsive($screen, 'min-xl') {
      /* Position */
      bottom: calc(50% - (#{$btnvideo-rectangle-height-lg} / 2));
      left: calc(50% - (#{$btnvideo-rectangle-width-lg} / 2));

      /* Box Model */
      width: $btnvideo-rectangle-width-lg;
      height: $btnvideo-rectangle-height-lg;
    }
  }

  &::after {
    /* Media Video button rectangle part of play symbol */
    /* Position */
    bottom: calc(50% - #{$btnvideo-triangle-heighthalf-sm} - 1px);
    left: calc(50% - #{$btnvideo-triangle-heighthalf-sm} + 1px);

    /* Visual */
    border-width: $btnvideo-triangle-heighthalf-sm 0
      $btnvideo-triangle-heighthalf-sm $btnvideo-triangle-width-sm;

    @include responsive($screen, 'min-sm') {
      /* Position */
      bottom: calc(50% - #{$btnvideo-triangle-heighthalf-lg} - 1px);

      /* Visual */
      border-width: $btnvideo-triangle-heighthalf-lg 0
        $btnvideo-triangle-heighthalf-lg $btnvideo-triangle-width-lg;
    }

    @include responsive($screen, 'min-lg') {
      /* Position */
      bottom: calc(50% - #{$btnvideo-triangle-heighthalf-sm} - 1px);

      /* Visual */
      border-width: $btnvideo-triangle-heighthalf-sm 0
        $btnvideo-triangle-heighthalf-sm $btnvideo-triangle-width-sm;
    }

    @include responsive($screen, 'min-xl') {
      /* Position */
      bottom: calc(50% - #{$btnvideo-triangle-heighthalf-lg} - 1px);

      /* Visual */
      border-width: $btnvideo-triangle-heighthalf-lg 0
        $btnvideo-triangle-heighthalf-lg $btnvideo-triangle-width-lg;
    }
  }
}
