<section class="{{#if blockClass}}{{blockClass}}-sort {{/if}}{{#if addSortClasses}}{{addSortClasses}} {{/if}}Sort">
  {{> PageWarningJS classes="Buildings-sortWarningJS" text="Enable JavaScript to sort buildings."}}

  <h3 class="{{#if showSortTitle}}{{blockClass}}-sortTitle{{else}}u-visuallyHidden{{/if}}">{{{sort.title}}}</h3>
  <ul class="{{#if blockClass}}{{blockClass}}-sortBtns{{/if}}{{#if jsBtnsClasses}} {{jsBtnsClasses}}{{/if}}">
    {{#each sort.options}}
    <li>
      {{> PageBtn classes="js-sort-btn" text=displayText disableBtn=@first sort=true}}

    </li>
    {{/each}}
  </ul>
</section>