/* ==========================================================================
 * Breadcrumb
 * ========================================================================== */

.Breadcrumb {
  /* Box Model */
  display: inline-block;

  &[data-disabled='false']::after {
    /* Non-disabled breadcrumb link chevron after link */
    /* Position */
    position: relative;

    /* Box Model */
    display: inline-block;
    width: $page-chevron-width-sm;
    height: $page-chevron-width-sm;
    margin-right: 11px;
    margin-bottom: -1px;

    /* Visual */
    border-color: $page-color-disabled;
    border-style: solid;
    border-top-width: $page-chevron-thickness;
    border-right-width: $page-chevron-thickness;
    border-bottom-width: 0;
    border-left-width: 0;
    content: '';

    /* Misc */
    @include vendorize(transform, rotate(45deg));

    @include responsive($screen, 'min-md') {
      /* Box Model */
      width: $page-chevron-width-md;
      height: $page-chevron-width-md;
    }

    @include responsive($screen, 'min-xl') {
      /* Box Model */
      width: $page-chevron-width-lg;
      height: $page-chevron-width-lg;
    }
  }
}
