// =============================================================================
// Page Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// padding
$footersite-pad-vert: 39px;

// LB Foster highlight color
$footersite-lbfoster-color-highlight: #d31145;

// LB Foster logo image: height
$footersite-lbfoster-img-height: 39px;

// LB Foster submenus: width
$footersite-lbfoster-submenus-width-narrow: 135px;
$footersite-lbfoster-submenus-width-wide: 340px;

// LB Foster submenus: margin
$footersite-lbfoster-submenus-margin-left: 19px;

// LB Foster submenus: breakpoint
$footersite-lbfoster-submenus-breakpoint-sm: 450px;
$footersite-lbfoster-submenus-breakpoint-md: 680px;
