<footer class="footerSite Page-footerSite">
  <div class="footerSite-content">
    {{> FooterSiteInfoCxt devPath=devPath}}

    {{> FooterSiteInfoLbfoster devPath=devPath}}

  </div>
  <p class="footerSite-copyright">All Rights Reserved. &copy; <span class="js-copyrightyear"></span> CXT Incorporated.</p>
</footer>