/* ==========================================================================
 * footerSite
 * ========================================================================== */

.footerSite {
  /* Position */
  position: relative;

  /* Box Model */
  padding-top: $footersite-pad-vert;
  padding-right: $page-navsite-pad-horz-sm * 2;
  padding-bottom: $footersite-pad-vert;
  padding-left: $page-navsite-pad-horz-sm * 2;

  /* Typography */
  font-size: $text-sm * 0.9;

  /* Visual */
  background-color: $page-bgcolor-light;

  &::before {
    /* footerSite - background overlay */
    /* Position */
    position: absolute;
    top: 0;
    left: 0;

    /* Box Model */
    width: 100%;
    height: 100%;

    /* Visual */
    background: url(../images/pattern.png);
    content: '';

    /* Misc */
    opacity: 0.13;
  }
}

/* --------------------------------------------------------------------------
 * footerSite: content
 * -------------------------------------------------------------------------- */

.footerSite-content {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  @include vendorize(justify-content, space-between);
  margin-bottom: 26px;
}

/* --------------------------------------------------------------------------
 * footerSite: copyright
 * -------------------------------------------------------------------------- */

.footerSite-copyright {
  font-size: $text-sm * 0.85;
}

/* --------------------------------------------------------------------------
 * footerSite: all logo links
 * -------------------------------------------------------------------------- */

.footerSite-logoLink {
  opacity: 1;

  &:hover {
    opacity: 0.6;
  }
}

/* --------------------------------------------------------------------------
 * footerSite: cxt content
 * -------------------------------------------------------------------------- */

.footerSite-cxtContent {
  /* Position */
  z-index: 3;

  /* Box Model */
  display: block;
  width: 100%;
  margin-top: 0;

  @media #{$screen} and
  (min-width: #{$footersite-lbfoster-submenus-breakpoint-md}) {
    /* Box Model */
    width: auto;
    margin-top: $footersite-lbfoster-img-height;
  }

  @include responsive($screen, 'min-lg') {
    margin-top: 0;
  }
}

/* --------------------------------------------------------------------------
 * footerSite: cxt image
 * -------------------------------------------------------------------------- */

.footerSite-cxtImg {
  /* Box Model */
  display: inline-block;
  width: 80px;
}

/* --------------------------------------------------------------------------
 * footerSite: cxt logo link
 * -------------------------------------------------------------------------- */

.footerSite-cxtLogoLink {
  /* Box Model */
  display: block;
  width: 190px;
  margin-bottom: 9px;

  /* Misc */
  opacity: 1;

  &:hover {
    opacity: 0.6;
  }
}

/* --------------------------------------------------------------------------
 * footerSite: cxt text
 * -------------------------------------------------------------------------- */

.footerSite-cxtText {
  /* Box Model */
  display: inline-block;
  margin-left: 9px;

  /* Typography */
  line-height: $line-height-base * 0.9;
  color: #999;
  vertical-align: top;
}

/* --------------------------------------------------------------------------
 * footerSite: LB Foster Content
 * -------------------------------------------------------------------------- */

.footerSite-lbfosterContent {
  /* Position */
  z-index: 3;

  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  @include vendorize(justify-content, flex-start);
  @include vendorize(align-items, center);
  width: $footersite-lbfoster-submenus-width-narrow +
    $footersite-lbfoster-submenus-margin-left;
  margin-top: 39px;

  @media #{$screen} and
  (min-width: #{$footersite-lbfoster-submenus-breakpoint-sm}) {
    width: $footersite-lbfoster-submenus-width-wide +
      $footersite-lbfoster-submenus-margin-left;
  }

  @media #{$screen} and
  (min-width: #{$footersite-lbfoster-submenus-breakpoint-md}) {
    /* Box Model */
    @include vendorize(justify-content, flex-end);
    margin-top: 0;
  }

  @include responsive($screen, 'min-lg') {
    width: auto;
  }
}

/* --------------------------------------------------------------------------
 * footerSite: LB Foster link
 * -------------------------------------------------------------------------- */

.footerSite-lbfosterLink {
  /* Typography */
  color: #000;
  text-decoration: none;

  &:hover {
    /* Typography */
    color: $footersite-lbfoster-color-highlight;

    /* Misc */
    outline: none;
  }

  &:focus {
    /* Typography */
    color: $footersite-lbfoster-color-highlight;

    /* Misc */
    outline: none;
    opacity: 0.6;
  }
}

/* --------------------------------------------------------------------------
 * footerSite: LB Foster group of submenus
 * -------------------------------------------------------------------------- */

.footerSite-lbfosterSubmenus {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  margin-top: 13px;
  margin-left: $footersite-lbfoster-submenus-margin-left;

  @media #{$screen} and (min-width: #{$footersite-lbfoster-submenus-breakpoint-sm}) {
    @include vendorize(flex-wrap, nowrap);
  }

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    margin-top: 0;
    margin-left: $footersite-lbfoster-submenus-margin-left * 2;
  }
}

/* --------------------------------------------------------------------------
 * footerSite: LB Foster single submenu
 * -------------------------------------------------------------------------- */

.footerSite-lbfosterSubmenu {
  /* Box Model */
  margin-right: 0;
  margin-bottom: 26px;

  @media #{$screen} and (min-width: #{$footersite-lbfoster-submenus-breakpoint-sm}) {
    /* Box Model */
    margin-right: 26px;
    margin-bottom: 0;
  }
}

/* footerSite: LB Foster single submenu - last
 * -------------------------------------------------------------------------- */

.footerSite-lbfosterSubmenu--last {
  /* Box Model */
  margin-right: 0;
  margin-bottom: 0;
}

/* --------------------------------------------------------------------------
 * footerSite: LB Foster single submenu heading
 * -------------------------------------------------------------------------- */

.footerSite-lbfosterSubmenuHeading {
  /* Box Model */
  margin-bottom: 6px;

  /* Typography */
  font-size: $text-md * 0.9;
}

/* footerSite: LB Foster single submenu heading - highlight
 * -------------------------------------------------------------------------- */

.footerSite-lbfosterSubmenuHeading--highlight {
  color: $footersite-lbfoster-color-highlight;
}

/* --------------------------------------------------------------------------
 * footerSite: social media icon
 * -------------------------------------------------------------------------- */

.footerSite-socialImg {
  /* Box Model */
  width: 14px;
  margin-right: 6px;
}
