<li class="Media{{#if img}} Media--center{{/if}}">
  {{#if img}}
  <img class="footerSite-socialImg"
       src="{{devPath}}{{img}}"
       alt="{{{imgAlt}}}">
  {{/if}}
  <a class="footerSite-lbfosterLink{{#if img}} Media-body{{/if}}"
     href="{{href}}"
     alt="{{{alt}}}"
     aria-pressed="{{pressed}}"
     aria-disabled="{{disabled}}"
     target="_blank"
     rel="noopener">{{text}}</a>
</li>