<nav class="footerSite-lbfosterSubmenu{{#if last}} footerSite-lbfosterSubmenu--last{{/if}}">
  <h3 class="footerSite-lbfosterSubmenuHeading"><span class="footerSite-lbfosterSubmenuHeading--highlight">LB</span>{{heading}}</h3>
  <ul>
    {{#each links}}
    {{> FooterSiteLbfosterLink devPath=../devPath}}

    {{/each}}
  </ul>
</nav>