<nav class="footerSite-lbfosterContent">
  <h2 class="u-visuallyHidden">L.B. Foster, Our Parent Company, Information</h2>
  <a class="footerSite-logoLink Page-imgLink"
     href="{{footerSite.lbfoster.link}}"
     alt="{{{footerSite.lbfoster.linkAlt}}}"
     target="_blank"
     rel="noopener"><img src="{{devPath}}{{footerSite.lbfoster.img}}"
         alt="{{{footerSite.lbfoster.imgAlt}}}"></a>
  <div class="footerSite-lbfosterSubmenus">
    {{#each footerSite.lbfoster.submenus}}
    {{> FooterSiteLbfosterSubmenu heading=heading links=links devPath=../devPath last=@last}}

    {{/each}}
  </div>
</nav>