<div class="footerSite-cxtContent">
  <a class="footerSite-cxtLogoLink footerSite-logoLink Page-imgLink"
     href="{{devPath}}{{footerSite.cxt.link.href}}"
     alt="{{footerSite.cxt.link.alt}}"
     aria-pressed="{{footerSite.cxt.link.pressed}}"
     aria-disabled="{{footerSite.cxt.link.disabled}}"><img class="Page-img"
         src="{{devPath}}{{footerSite.cxt.link.img}}"
         alt="{{footerSite.cxt.link.imgAlt}}"></a>
  <img class="footerSite-cxtImg"
       src="{{devPath}}{{footerSite.cxt.buildingImg.src}}"
       alt="{{footerSite.cxt.buildingImg.alt}}">
  <h2 class="u-visuallyHidden">CXT Concrete Buildings are:</h2>
  <ul class="footerSite-cxtText">
    {{#each footerSite.cxt.mottos}}
    <li>{{{this}}}</li>
    {{/each}}
  </ul>
</div>