// =============================================================================
// Clear Floats
// =============================================================================
//
// Use to clear floats within a parent node.
// @param    $content    Displayed content, typically ''. Use space (' ' or
//                       '\0020') if space appears at the top and bottom of
//                       elements that are clearfixed.
// @param    $display    Box model display style for psuedo-elements. Use
//                       'table' to contain top-margins of child elements,
//                       otherwise use 'block'.

@mixin clear($content, $display) {
  &::before,
  &::after {
    /* Clears floats */
    /* Box Model */
    display: $display;

    /* Visual */
    content: $content;

    /* Misc */
    box-sizing: border-box;
  }

  &::after {
    /* Clears floats */
    clear: both;
  }
}

// =============================================================================
// Media Query
// =============================================================================
//
// Creates a media query based on the $media type and $breakpoint, which
// contains the selector content. The content within the media query is based
// on the selector that the mixin is included within.
// Valid media types: see $media-type list
// Valid breakpoints: see $breakpoints map
// @param   $media        media type the media query takes affect for
// @param   $breakpoint   the point which the media query takes affect
//
// @return  @media [$media] and [$breakpoint] { [seclector content] }

@mixin responsive($media, $breakpoint) {
  $break: map-has-key($breakpoints, $breakpoint);
  $media-type: index($media-types, $media);

  @if $media-type == null {
    @warn "'#{$media}' not a valid media type, please consult "
      + "'$media-type' list.";
  } @else if $break == null {
    @warn "'#{$breakpoint}'} not a valid breakpoint, please consult "
      + "'$breakpoints' map.";
  } @else {
    @media #{$media} and #{inspect(map-get($breakpoints, $breakpoint))} {
      @content;
    }
  }
}

// =============================================================================
// Add CSS Property With Vendor Prefixes
// =============================================================================
//
// Sets vendor specific prefixes for the property, as well as sets the property
// as normal (without a vendor prefix).
// @param    $property   property name to which vendor prefixes are added
// @param    $value      value to be set to the property

@mixin vendorize($property, $value...) {
  $ms-property: '';

  @if $property == 'justify-content' {
    $ms-property: -ms-flex-pack;
  }
  @if $property == 'align-items' {
    $ms-property: -ms-flex-align;
  }
  @if $property == 'align-content' {
    $ms-property: -ms-flex-line-pack;
  }
  @if $property == 'flex-grow' {
    $ms-property: -ms-flex-positive;
  }
  @if $property == 'flex-shrink' {
    $ms-property: -ms-flex-negative;
  }
  @if $property == 'flex-basis' {
    $ms-property: -ms-flex-preferred-size;
  }
  @if $property == 'align-self' {
    $ms-property: -ms-flex-item-align;
  }

  @if ($property == 'display' and nth($value, 1) == 'flex') {
    #{$property}: -ms-flexbox; // IE10
    #{$property}: -webkit-flex; // Safari7-8, iOS7-8, Opera12-16
  } @else if
    ($property == 'flex-direction') or
    ($property == 'flex-wrap') or
    ($property == 'flex')
  {
    -ms-#{$property}: nth($value, 1); // IE10
    -webkit-#{$property}: nth($value, 1); // Safari7-8, iOS7-8, Opera12-16
  } @else if
    ($property == 'flex-grow') or
    ($property == 'flex-shrink') or
    ($property == 'flex-basis') or
    ($property == 'align-self')
  {
    #{$ms-property}: nth($value, 1); // IE10
    -webkit-#{$property}: nth($value, 1); // Safari7-8, iOS7-8, Opera12-16
  } @else if
    ($property == 'justify-content') or
    ($property == 'align-items') or
    ($property == 'align-content')
  {
    @if $value == 'flex-start' {
      #{$ms-property}: start; // IE10
    } @else if $value == 'flex-end' {
      #{$ms-property}: end; // IE10
    } @else if $value == 'space-between' {
      #{$ms-property}: justify; // IE10
    } @else if $value == 'space-around' {
      #{$ms-property}: distribute; // IE10
    } @else {
      #{$ms-property}: nth($value, 1); // IE10
    }
    -webkit-#{$property}: nth($value, 1); // Safari7-8, iOS7-8, Opera12-16
  } @else {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
  }
  #{$property}: $value;
}
