/* ==========================================================================
 * Browser Reset
 * ========================================================================== */

a,
abbr,
address,
area,
article,
aside,
audio,
b,
blockquote,
body,
br,
button,
canvas,
caption,
cite,
code,
col,
colgroup,
datalist,
dd,
del,
details,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
img,
input,
ins,
label,
legend,
li,
main,
map,
mark,
menu,
menuitem,
meter,
nav,
noscript,
object,
ol,
optgroup,
option,
output,
p,
param,
pre,
progress,
q,
s,
samp,
script,
section,
select,
small,
source,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
textarea,
tfoot,
th,
thead,
time,
tr,
track,
u,
ul,
var,
video,
wbr {
  /* Box Model */
  padding: 0;
  margin: 0;

  /* Visual */
  border: 0;

  /* Misc */
  box-sizing: border-box;
}

button {
  /* Typography */
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  color: inherit;
  text-align: inherit;
  text-transform: inherit;

  /* Visual */
  background-color: transparent;
}

fieldset {
  /* Box Model */
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
  -webkit-padding-end: 0;
  -webkit-padding-before: 0;
  -webkit-padding-after: 0;

  /* Typography */
  font-size: 0;
  line-height: 0;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
}
