// =============================================================================
// Contact Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// contact map: extra space
$contact-map-space: 26px;

// contact media: text width
$contact-mediatext-width-sm: 210px;
$contact-mediatext-width-md: 240px;
$contact-mediatext-width-lg: 270px;

// contact card: top circle height
$contactcard-circle-zindex: 2;

// contact card: horizontal padding
$contactcard-pad-horz-sm: 26px;
$contactcard-pad-horz: 39px;

// contact card: spacing
$contactcard-space-vert: 26px;
$contactcard-space-horz: 100px;

// contact card: top padding multiplier
$contactcard-pad-top-multi: 0.65;

// contact card: text size
$contactcard-text-size-sm: $text-sm * 0.9;
$contactcard-text-size-md: $text-md * 0.9;
$contactcard-text-size-lg: $text-lg * 0.9;

// contact card: region color
$contactcard-color-northcentral: #c0c17b;
$contactcard-color-northeast: #8c7837;
$contactcard-color-northwest: #9ca263;
$contactcard-color-pacific: #b98941;
$contactcard-color-pacificnorthwest: #bcc19e;
$contactcard-color-rockymountain: #89492e;
$contactcard-color-southeast: #859074;
$contactcard-color-southwest: #b79e51;
$contactcard-color-easternus: #d8cc8a;
$contactcard-color-westernus: #8f7643;

// contact card: border width
$contactcard-border-width: 1px;

// contact card: top circle height
$contactcard-circle-height-sm: 26px * 4;
$contactcard-circle-height-md: 26px * 4.5;
$contactcard-circle-height-lg: 26px * 5;

// media contact: margin
$mediacontact-margin-bot: 13px;

// media contact: horizontal extra spacing
$mediacontact-space-horz: 6px;

// media contact: img height
$mediacontact-img-height-sm: 16px;
$mediacontact-img-height-md: 20px;
$mediacontact-img-height-lg: 24px;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// contact card: top circle line height
// Dependence: page line height
$contactcard-circle-lineheight: $line-height-sm;

// contact card: width
// Dependence: contact card - horizontal padding, border width, media text
$contactcard-width-xs: ($contactcard-pad-horz-sm * 2) +
  ($contactcard-border-width * 2) + $contact-mediatext-width-sm;
$contactcard-width-sm: ($contactcard-pad-horz * 2) +
  ($contactcard-border-width * 2) + $contact-mediatext-width-sm;
$contactcard-width-md: ($contactcard-pad-horz * 2) +
  ($contactcard-border-width * 2) + $contact-mediatext-width-md;
$contactcard-width-lg: ($contactcard-pad-horz * 2) +
  ($contactcard-border-width * 2) + $contact-mediatext-width-lg;

// contact map: margin
// Dependence: contact map 0 top circle height, contact card - extra spacing
$contact-map-margin-bot-sm: ($contactcard-circle-height-sm / 2) +
  $contactcard-space-vert;
$contact-map-margin-bot-md: ($contactcard-circle-height-md / 2) +
  $contactcard-space-vert;
$contact-map-margin-bot-lg: ($contactcard-circle-height-lg / 2) +
  $contactcard-space-vert;

// contact card: top padding
// Dependence: contact card - top circle height, padding multiplier
$contactcard-pad-top-sm: $contactcard-circle-height-sm *
  $contactcard-pad-top-multi;
$contactcard-pad-top-md: $contactcard-circle-height-md *
  $contactcard-pad-top-multi;
$contactcard-pad-top-lg: $contactcard-circle-height-lg *
  $contactcard-pad-top-multi;

// contact card: top circle width
// Dependence: contact card - top circle width
$contactcard-circle-width-sm: $contactcard-circle-height-sm;
$contactcard-circle-width-md: $contactcard-circle-height-md;
$contactcard-circle-width-lg: $contactcard-circle-height-lg;

// contact card: top circle radius
// Dependence: contact card - top circle height
$contactcard-circle-radius-sm: $contactcard-circle-height-sm / 2;
$contactcard-circle-radius-md: $contactcard-circle-height-md / 2;
$contactcard-circle-radius-lg: $contactcard-circle-height-lg / 2;

// media contact: image circle height
// Dependence: media contact - image height
$mediacontact-imgcircle-height-sm: $mediacontact-img-height-sm * 1.5;
$mediacontact-imgcircle-height-md: $mediacontact-img-height-md * 1.5;
$mediacontact-imgcircle-height-lg: $mediacontact-img-height-lg * 1.5;

// media contact: img circle width
// Dependence: media contact - image circle height
$mediacontact-imgcircle-width-sm: $mediacontact-imgcircle-height-sm;
$mediacontact-imgcircle-width-md: $mediacontact-imgcircle-height-md;
$mediacontact-imgcircle-width-lg: $mediacontact-imgcircle-height-lg;

// media contact: img circle radius
// Dependence: media contact - image circle height
$mediacontact-imgcircle-radius-sm: $mediacontact-imgcircle-height-sm / 2;
$mediacontact-imgcircle-radius-md: $mediacontact-imgcircle-height-md / 2;
$mediacontact-imgcircle-radius-lg: $mediacontact-imgcircle-height-lg / 2;

// media contact: body left position
// Dependence: media contact - image circle height, extra spacing
$mediacontact-body-pos-left-sm: ($mediacontact-imgcircle-height-sm / 2) +
  $mediacontact-space-horz;
$mediacontact-body-pos-left-md: ($mediacontact-imgcircle-height-md / 2) +
  $mediacontact-space-horz;
$mediacontact-body-pos-left-lg: ($mediacontact-imgcircle-height-lg / 2) +
  $mediacontact-space-horz;
