/* ==========================================================================
 * Contact
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Contact: cards
 * -------------------------------------------------------------------------- */

.Contact-cards {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  width: $contactcard-width-xs;
  margin: 0 auto;

  @media #{$screen} and (min-width: 390px) {
    width: $contactcard-width-sm;
  }

  @include responsive($screen, 'min-md') {
    width: $contactcard-width-md;
  }

  @include responsive($screen, 'min-lg') {
    width: ($contactcard-width-md * 2) + $contactcard-space-horz;
  }

  @include responsive($screen, 'min-xl') {
    width: ($contactcard-width-lg * 2) + $contactcard-space-horz;
  }
}

/* --------------------------------------------------------------------------
 * Contact: headline
 * -------------------------------------------------------------------------- */

.Contact-headline {
  @media #{$screen} and (min-width: 450px) {
    width: 300px;
  }

  @include responsive($screen, 'min-md') {
    width: auto;
  }
}

/* --------------------------------------------------------------------------
 * Contact: map
 * -------------------------------------------------------------------------- */

.Contact-map {
  /* Box Model */
  margin-right: auto;
  margin-bottom: $contact-map-margin-bot-sm;
  margin-left: auto;

  @include responsive($screen, 'min-md') {
    margin-bottom: $contact-map-margin-bot-md;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $contact-map-margin-bot-lg;
  }
}

/* --------------------------------------------------------------------------
 * Contact: media
 * -------------------------------------------------------------------------- */

.Contact-media {
  /* Box Model */
  width: $contact-mediatext-width-sm;
  margin-right: auto;
  margin-left: auto;

  @include responsive($screen, 'min-md') {
    width: $contact-mediatext-width-md;
  }

  @include responsive($screen, 'min-xl') {
    width: $contact-mediatext-width-lg;
  }
}

/* --------------------------------------------------------------------------
 * Contact: government sales section
 * -------------------------------------------------------------------------- */

.Contact-salesGovt {
  /* Box Model */
  width: $contactcard-width-xs;
  padding-top: 52px;
  padding-bottom: 52px;
  margin-right: auto;
  margin-left: auto;

  /* Typography */
  text-align: center;

  /* Visual */
  border-bottom: 1px solid #666;

  @media #{$screen} and (min-width: 390px) {
    width: $contactcard-width-sm;
  }

  @include responsive($screen, 'min-md') {
    width: $contactcard-width-md;
  }

  @include responsive($screen, 'min-lg') {
    width: ($contactcard-width-md * 2) + $contactcard-space-horz;
  }

  @include responsive($screen, 'min-xl') {
    width: ($contactcard-width-lg * 2) + $contactcard-space-horz;
  }
}

/* Contact: government sales section - last
 * -------------------------------------------------------------------------- */

.Contact-salesGovt--last {
  border-bottom: none;
}

/* --------------------------------------------------------------------------
 * Contact: government sales media object
 * -------------------------------------------------------------------------- */

.Contact-salesGovtMedia {
  display: inline-block;
}

/* --------------------------------------------------------------------------
 * Contact: government sales section text
 * -------------------------------------------------------------------------- */

.Contact-salesGovtText {
  color: $page-color-accent;
}

/* --------------------------------------------------------------------------
 * Contact: government sales section title
 * -------------------------------------------------------------------------- */

.Contact-salesGovtTitle {
  /* Box Model */
  margin-bottom: 26px;

  /* Typography */
  font-weight: $regular;
  letter-spacing: 0.03rem;
}

/* --------------------------------------------------------------------------
 * Contact: warranty section media object
 * -------------------------------------------------------------------------- */

.Contact-warrantyMedia {
  /* Box Model */
  width: 170px;
  margin-right: auto;
  margin-left: auto;

  @include responsive($screen, 'min-md') {
    width: 195px;
  }

  @include responsive($screen, 'min-xl') {
    width: 220px;
  }
}

/* --------------------------------------------------------------------------
 * Contact: warranty section contact title
 * -------------------------------------------------------------------------- */

.Contact-warrantyTitle {
  /* Typography */
  font-weight: $bold;
  letter-spacing: 0.03rem;
  text-align: center;
}
