<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=contact.docHead.title description=contact.docHead.description devPath=contact.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=contact devPath=contact.docHead.devPath}}

    {{> PageHeader title=contact.page.title breadcrumbs=contact.breadcrumbs devPath=contact.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{!-- Sales regions section --}}
      {{> SxnOpen id="sales" bgcolor=false}}

      <div class="Page-anchor"
           id="sales"></div>
      {{> SxnHeading title="Sales Regions" headline="Contact the corresponding representative to purchase our buildings." blockClass="Contact"}}

      {{> PageImg classes="Contact-map" img="images/map-sales.png" imgAlt="View of the sales regions in North America." devPath=contact.docHead.devPath}}

      <div class="Contact-cards">
        {{!-- Sales contact cards --}}
        {{#each contact.salesRegions}}
        {{> ContactCard devPath=../contact.docHead.devPath last=@last}}

        {{/each}}
      </div>
      {{> SxnClose}}

      {{!-- Government purchasing section --}}
      <div class="Page-anchor"
           id="sales-gov"></div>
      {{> SxnOpen id="sales-gov" bgcolor=true}}

      {{> SxnHeading title="Government Purchasing"}}
      {{!-- Government sales contact cards --}}
      {{#each contact.govtSales}}
      {{> GovtPurchase devPath=../contact.docHead.devPath last=@last}}

      {{/each}}
      {{> SxnClose}}

      {{!-- Installation section --}}
      <div class="Page-anchor"
           id="installation"></div>
      {{> SxnOpen id="installation" bgcolor=false}}

      {{> SxnHeading title="Installation" headline="Contact the corresponding representative to install our buildings." blockClass="Contact"}}

      {{> PageImg classes="Contact-map" img="images/map-install.png" imgAlt="A map of the United States with the east and west color coded to show installation regions." devPath=contact.docHead.devPath}}

      <div class="Contact-cards">
        {{#each contact.installRegions}}
        {{!-- Installation contact cards --}}
        {{> ContactCard devPath=../contact.docHead.devPath last=@last}}

        {{/each}}
      </div>
      {{> SxnClose}}

      {{!-- Warranty section --}}
      <div class="Page-anchor"
           id="warranty"></div>
      {{> SxnOpen id="warranty" bgcolor=true}}

      {{> SxnHeading title="Warranty" headline="Have questions about our building warranties?"}}

      <p class="Contact-warrantyTitle">{{contact.warranty.person}}</p>
      <div class="Contact-warrantyMedia">
        {{> MediaContact phoneNum=contact.warranty.mobile img=contact.warranty.imgMobile imgAlt="Mobile phone icon." devPath=contact.docHead.devPath}}

        {{> MediaContact emailAddress=true email=contact.warranty.email img=contact.warranty.imgEmail imgAlt="Email icon." devPath=contact.docHead.devPath}}

      </div>
      {{> SxnClose}}

    </main>
  </div>
  {{> FooterSite devPath=contact.docHead.devPath}}

  {{> jsMain devPath=contact.docHead.devPath}}

</body>

</html>