// =============================================================================
// Page Color Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// General
$page-color-accent: rgb(66, 136, 198); // #4288c6
$page-color-disabled: rgb(187, 187, 187); // #bbb
$page-color-light: rgb(136, 136, 136); // #888
$page-color-warning: rgb(179, 0, 0); // #b30000
$page-color-alert: rgb(240, 173, 78); // #f0ad4e
$page-color-base: rgb(0, 0, 0); //#000

// Background
$page-bgcolor-light: rgb(242, 242, 242); // #f2f2f2

// Border
$page-border-color: rgb(191, 227, 219); // #bfe3db
$page-bordercolor-light: rgb(210, 210, 210); // #d2d2d2

// Btn
$page-btn-text-color-hover: rgb(255, 255, 255); // #fff
$page-btn-bgcolor-hover: rgb(66, 136, 198); // #4288c6
$page-btn-disabled-color: rgba(187, 187, 187, 0.45); // #bbb

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Text
// Dependence: base and secondary color
$page-text-color: $page-color-base;

// Btn
// Dependence: accent color
$page-btn-border-color: $page-color-accent;
$page-btn-text-color: $page-color-accent;
