// =============================================================================
// Media Related Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Breakpoint ranges
$sm-min: 575px;
$xs-max: ($sm-min - 1);
$md-min: 760px;
$sm-max: ($md-min - 1);
$lg-min: 950px;
$md-max: ($lg-min - 1);
$xl-min: 1300px;
$lg-max: ($xl-min - 1);

// Media types ranges
$screen: 'screen';
$print: 'print';

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// Breakpoints
$breakpoints: (
  'min-sm': (
    min-width: $sm-min,
  ),
  'min-md': (
    min-width: $md-min,
  ),
  'min-lg': (
    min-width: $lg-min,
  ),
  'min-xl': (
    min-width: $xl-min,
  ),
  'max-xs': (
    max-width: $xs-max,
  ),
  'max-sm': (
    max-width: $sm-max,
  ),
  'max-md': (
    max-width: $md-max,
  ),
  'max-lg': (
    max-width: $lg-max,
  ),
);

// Media types
$media-types: ('all', $print, $screen, 'speech');
