// =============================================================================
// Page Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Border: width
$page-border-width: 2px;
$page-border-width-print: 0.266mm;

// Border: radius
$page-border-rad: 3px;
$page-border-rad-print: 0.79mm;

// chevron: width
$page-chevron-width-sm: 7px;
$page-chevron-width-md: 8px;
$page-chevron-width-lg: 9px;

// chevron: link thickness
$page-chevron-thickness: 1px;

// Padding: horizontal
$page-pad-horz-sm: 7.5%;
$page-pad-horz-md: 7.5%;
$page-pad-horz-lg: 8.5%;
$page-pad-base-print: $font-size-base-print-mm * 1.2;

// Margin: vertical
$page-margin-vert-sm: $text-sm * $line-height-base;
$page-margin-vert-md: $text-md * $line-height-base;
$page-margin-vert-lg: $text-lg * $line-height-base;
$page-margin-vert-print: $page-pad-base-print * $line-height-print;

// Z-index
$page-zindex-navsite: 6;
$page-zindex-overlay: $page-zindex-navsite - 2;

// Button Border: width
$page-btn-border-width: 2px;
$page-btn-border-width-print: 0.53mm;

// navsite border: width
$page-navsite-border-bot: 1px;

// navsite logo: height
$page-navsite-logo-height: 32px;

// page heading: vertical padding
$page-heading-pad-vert: 13px;

// page heading title: width
$page-heading-title-width-sm: 200px;
$page-heading-title-width-md: 225px;
$page-heading-title-width-lg: 250px;

// page pdf link: width
$page-pdflink-width-sm: 235px;
$page-pdflink-width-md: 255px;
$page-pdflink-width-lg: 280px;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// page heading: text size
$page-heading-text-size-sm: $text-sm * 0.9;
$page-heading-text-size-md: $text-md * 0.85;
$page-heading-text-size-lg: $text-lg * 0.8;

// page heading title: height
$page-headingtitle-height-sm: ($page-heading-text-size-sm * $line-height-base) +
  ($page-heading-pad-vert * 2);
$page-headingtitle-height-md: ($page-heading-text-size-md * $line-height-base) +
  ($page-heading-pad-vert * 2);
$page-headingtitle-height-lg: ($page-heading-text-size-lg * $line-height-base) +
  ($page-heading-pad-vert * 2);

// page heading title end triangle: width
$page-headingtitle-triangle-width-sm: ($page-headingtitle-height-sm / 2);
$page-headingtitle-triangle-width-md: ($page-headingtitle-height-md / 2);
$page-headingtitle-triangle-width-lg: ($page-headingtitle-height-lg / 2);

// navSite: item height
// dependence: text size, line-height-base
$page-navsite-item-height-sm: $text-sm * $line-height-base;
$page-navsite-item-height-md: $text-md * $line-height-base;
$page-navsite-item-height-lg: $text-lg * $line-height-base;

// navSite: items padding top
// dependence: text size, line-height-base
$page-navsite-items-pad-top-sm: ($text-sm * $line-height-base) / 2;
$page-navsite-items-pad-top-md: ($text-md * $line-height-base) / 2;
$page-navsite-items-pad-top-lg: 0;

// navsite: padding horizontal
$page-navsite-pad-horz-sm: ($text-sm * $line-height-base);
$page-navsite-pad-horz-md: ($text-md * $line-height-base);
$page-navsite-pad-horz-lg: ($text-lg * $line-height-base);

// navsite: padding vertical
$page-navsite-pad-vert-sm: ($text-sm * $line-height-base) / 2;
$page-navsite-pad-vert-md: ($text-md * $line-height-base) / 2;
$page-navsite-pad-vert-lg: ($text-lg * $line-height-base) / 2;

// navSite: height
$page-navsite-height-sm: ($page-navsite-pad-vert-sm * 2) +
  $page-navsite-logo-height;
$page-navsite-height-md: ($page-navsite-pad-vert-md * 2) +
  $page-navsite-logo-height;
$page-navsite-height-lg: ($page-navsite-pad-vert-lg * 2) +
  $page-navsite-logo-height;

// navSite: open height
$page-navsite-open-height-sm: ($page-navsite-pad-vert-sm * 2) +
  $page-navsite-logo-height + ($page-navsite-item-height-sm * 4) +
  $page-navsite-items-pad-top-sm;
$page-navsite-open-height-md: ($page-navsite-pad-vert-md * 2) +
  $page-navsite-logo-height + ($page-navsite-item-height-md * 4) +
  $page-navsite-items-pad-top-md;

// page section: vertical padding
$page-sxn-pad-vert-sm: ($text-sm * $line-height-base * 2);
$page-sxn-pad-vert-md: ($text-md * $line-height-base * 2.5);
$page-sxn-pad-vert-lg: ($text-lg * $line-height-base * 2.5);

// site js warning: height
$page-site-warningjs-height: $text-sm * $line-height-base * 1.6;
