/* ==========================================================================
 * Page
 * ========================================================================== */

.Page {
  /* Box Model */
  height: 100%;

  /* Typography */
  font: $light #{$font-size-base}/#{$line-height-base} $sans-serif;
  color: $page-text-color;
}

/* --------------------------------------------------------------------------
 * Page: anchor
 * -------------------------------------------------------------------------- */

.Page-anchor {
  /* Box Model */
  display: block;
  height: $page-navsite-height-md;
  margin-top: -$page-navsite-height-md;

  /* Visual */
  border: 1px solid $page-bgcolor-light;
  visibility: hidden;
}

/* --------------------------------------------------------------------------
 * Page: content
 * -------------------------------------------------------------------------- */

.Page-content {
  /* Position */
  position: relative;

  /* Box Model */
  @include vendorize(flex, (1 0 auto));
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  &[data-overlay]::before {
    /* Page content overlay */
    /* Position */
    position: absolute;
    top: 0;
    left: 0;

    /* Box Model */
    display: block;
    width: 100%;

    /* Visual */
    content: '';

    /* Misc */
    box-sizing: border-box;
  }

  &[data-overlay='true'] {
    /* Page content overlay shown */
    position: relative;
  }

  &[data-overlay='true']::before {
    /* Page content overlay shown */
    /* Position */
    z-index: $page-zindex-overlay;

    /* Box Model */
    height: 100%;

    /* Visual */
    background-color: rgba(0, 0, 0, 0.4);

    /* Misc */
    @include vendorize(transition, (height, 50ms, background-color, 530ms));
  }

  &[data-overlay='false']::before {
    /* Page content overlay hidden */
    /* Box Model */
    height: 0;

    /* Visual */
    background-color: transparent;
  }

  /* For smaller screen sizes, the site navigation links are vertically stacked,
   * taking up more space, so page content must be moved further down to be
   * seen. For pages with a page heading, the content moves based on the page
   * header (see Page-header for details). */
  &[data-js='disabled'][data-page-heading='none'] {
    /* Page-home already compenstates for the page-navsite-height */
    margin-top: $page-navsite-open-height-sm - $page-navsite-height-sm;

    @include responsive($screen, 'min-md') {
      margin-top: $page-navsite-open-height-md - $page-navsite-height-md;
    }

    @include responsive($screen, 'min-lg') {
      margin-top: 0;
    }
  }
}

/* --------------------------------------------------------------------------
 * Page: content body
 * -------------------------------------------------------------------------- */

.Page-contentBody {
  /* Position */
  position: relative;

  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-direction, column);
  height: 100%;
  min-height: 100%;

  /* Typography */
  font-size: $text-sm;
  line-height: $line-height-base;

  @include responsive($screen, 'min-md') {
    font-size: $text-md;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $text-lg;
  }
}

/* --------------------------------------------------------------------------
 * Page: site footer
 * -------------------------------------------------------------------------- */

.Page-footerSite {
  @include vendorize(flex-shrink, 0);
}

/* --------------------------------------------------------------------------
 * Page: heading
 * -------------------------------------------------------------------------- */

.Page-heading {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  @include vendorize(justify-content, space-between);
  padding-right: $page-navsite-pad-horz-sm;
  margin-top: $page-navsite-height-sm;

  /* Typography */
  font-size: $page-heading-text-size-sm;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    padding-right: $page-navsite-pad-horz-md;
    margin-top: $page-navsite-height-md;

    /* Typography */
    font-size: $page-heading-text-size-md;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    padding-right: $page-navsite-pad-horz-lg;
    margin-top: $page-navsite-height-lg;

    /* Typography */
    font-size: $page-heading-text-size-lg;
  }
}

/* --------------------------------------------------------------------------
 * Page: heading breadcrumbs
 * -------------------------------------------------------------------------- */

.Page-headingBreadcrumbs {
  /* Box Model */
  padding-top: $page-heading-pad-vert;
  padding-bottom: $page-heading-pad-vert;
  margin-left: $page-navsite-pad-horz-sm;
}

/* --------------------------------------------------------------------------
 * Page: heading title
 * -------------------------------------------------------------------------- */

.Page-headingTitle {
  /* Position */
  position: relative;

  /* Box Model */
  width: $page-heading-title-width-sm;
  height: $page-headingtitle-height-sm;
  padding-top: $page-heading-pad-vert;
  padding-bottom: $page-heading-pad-vert;
  padding-left: $page-navsite-pad-horz-sm;
  margin-right: ($page-headingtitle-triangle-width-sm * 2);

  /* Typography */
  font-size: $text-sm * 0.9;
  font-weight: $light;
  line-height: $line-height-base;
  color: #fff;
  letter-spacing: 0.05rem;

  /* Visual */
  background-color: #000;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    width: $page-heading-title-width-md;
    height: $page-headingtitle-height-md;
    padding-left: $page-navsite-pad-horz-md;
    margin-right: ($page-headingtitle-triangle-width-md * 2);

    /* Typography */
    font-size: $text-md * 0.9;
  }

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    width: $page-heading-title-width-lg;
    height: $page-headingtitle-height-lg;
    margin-right: ($page-headingtitle-triangle-width-lg * 2);
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    padding-left: $page-navsite-pad-horz-lg;

    /* Typography */
    font-size: $text-lg * 0.9;
  }

  &::after {
    /* Page title heading triangle (at end) */
    /* Position */
    position: absolute;
    top: 0;
    right: -($page-headingtitle-triangle-width-sm * 2);

    /* Box Model */
    height: 0;
    width: 0;

    /* Visual */
    border-color: #000 transparent transparent #000;
    border-style: solid;
    border-width: $page-headingtitle-triangle-width-sm;
    content: '';

    /* Misc */
    box-sizing: border-box;

    @include responsive($screen, 'min-md') {
      /* Position */
      right: -($page-headingtitle-triangle-width-md * 2);

      /* Box Model */
      border-width: $page-headingtitle-triangle-width-md;
    }

    @include responsive($screen, 'min-lg') {
      /* Position */
      right: -($page-headingtitle-triangle-width-lg * 2);

      /* Box Model */
      border-width: $page-headingtitle-triangle-width-lg;
    }
  }
}

/* --------------------------------------------------------------------------
 * Page: header
 * -------------------------------------------------------------------------- */

.Page-header {
  @include vendorize(flex-shrink, 0);

  /* Site navigation, and all page content move down to make room for warning
   * at top of site. */
  &[data-js='disabled'] {
    margin-top: $page-site-warningjs-height;
  }

  /* For smaller screen sizes, the site navigation links are vertically stacked,
   * taking up more space, so the page heading that sits below the nav must be
   * moved further down to be seen. */
  &[data-js='disabled'] .Page-heading {
    margin-top: $page-navsite-open-height-sm;

    @include responsive($screen, 'min-md') {
      margin-top: $page-navsite-open-height-md;
    }

    @include responsive($screen, 'min-lg') {
      margin-top: $page-navsite-height-md;
    }

    @include responsive($screen, 'min-xl') {
      margin-top: $page-navsite-height-lg;
    }
  }
}

/* --------------------------------------------------------------------------
 * Page: heading
 * -------------------------------------------------------------------------- */

.Page-home {
  margin-top: $page-navsite-height-sm;

  @include responsive($screen, 'min-md') {
    margin-top: $page-navsite-height-md;
  }

  @include responsive($screen, 'min-xl') {
    margin-top: $page-navsite-height-lg;
  }
}

/* --------------------------------------------------------------------------
 * Page: media card
 * -------------------------------------------------------------------------- */

.Page-mediaCard {
  /* Box Model */
  padding-top: 39px;
  padding-bottom: 39px;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    padding-top: 52px;
    padding-bottom: 52px;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    padding-top: 65px;
    padding-bottom: 65px;
  }
}

/* Page: media card - first card
 * -------------------------------------------------------------------------- */

.Page-mediaCard--first {
  padding-top: 0;
}

/* --------------------------------------------------------------------------
 * Page: media card media section
 * -------------------------------------------------------------------------- */

.Page-mediaCardMedia {
  position: relative;
}

/* --------------------------------------------------------------------------
 * Page: site nav
 * -------------------------------------------------------------------------- */

.Page-navSite {
  /* Position */
  position: fixed;
  z-index: $page-zindex-navsite - 1;

  /* Box Model */
  padding: $page-navsite-pad-vert-sm $page-navsite-pad-horz-sm;

  @include responsive($screen, 'min-md') {
    padding: $page-navsite-pad-vert-md $page-navsite-pad-horz-md;
  }

  @include responsive($screen, 'min-xl') {
    padding: $page-navsite-pad-vert-lg $page-navsite-pad-horz-lg;
  }
}

/* --------------------------------------------------------------------------
 * Page: site nav menu
 * -------------------------------------------------------------------------- */

.Page-navSiteMenu {
  &[aria-hidden='true'] {
    /* Box Model */
    max-height: 0;
    padding-top: 0;

    /* Visual */
    visibility: collapse;
    opacity: 0;

    /* Misc */
    @include vendorize(transition, 0.4s ease, max-height 0.3s ease);
  }

  &[aria-hidden='false'] {
    /* Box Model */
    max-height: 500px;
    padding-top: auto;

    /* Visual */
    visibility: visible;
    opacity: 1;

    /* Misc */
    @include vendorize(transition, 0.6s ease, max-height 0.9s ease);
  }
}

/* --------------------------------------------------------------------------
 * Page: section
 * -------------------------------------------------------------------------- */

.Page-sxn {
  position: relative;
}

/* Page: section - top & bottom border
 * -------------------------------------------------------------------------- */

.Page-sxn--borderTopBot {
  /* Visual */
  border-top: 1px solid $page-bordercolor-light;
  border-bottom: 1px solid $page-bordercolor-light;
}

/* Page: section - light theme
 * -------------------------------------------------------------------------- */

.Page-sxn--light {
  background-color: $page-bgcolor-light;
}

/* --------------------------------------------------------------------------
 * Page: section button
 * -------------------------------------------------------------------------- */

.Page-sxnBtn {
  text-align: center;

  &[aria-hidden='false'] {
    display: block;
  }

  &[aria-hidden='true'] {
    display: none;
  }
}

/* --------------------------------------------------------------------------
 * Page: section contents
 * -------------------------------------------------------------------------- */

.Page-sxnContents {
  /* Box Model */
  max-width: 1580px;
  padding-top: $page-sxn-pad-vert-sm;
  padding-right: $page-pad-horz-sm;
  padding-bottom: $page-sxn-pad-vert-sm;
  padding-left: $page-pad-horz-sm;
  margin: 0 auto;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    padding-top: $page-sxn-pad-vert-md;
    padding-bottom: $page-sxn-pad-vert-md;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    padding-top: $page-sxn-pad-vert-lg;
    padding-bottom: $page-sxn-pad-vert-lg;
  }
}

/* Page: section contents - no horizontal padding
 * -------------------------------------------------------------------------- */

.Page-sxnContents--padHorzNone {
  /* Box Model */
  padding-right: 0;
  padding-left: 0;
}

/* Page: section contents - no vertical padding
 * -------------------------------------------------------------------------- */

.Page-sxnContents--padVertNone {
  /* Box Model */
  padding-top: 0;
  padding-bottom: 0;
}

/* Page: section contents - no top padding
 * -------------------------------------------------------------------------- */

.Page-sxnContents--padTopNone {
  padding-top: 0;
}

/* Page: section contents - no padding
 * -------------------------------------------------------------------------- */

.Page-sxnContents--padNone {
  /* Box Model */
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* Page: section contents - only bottom padding
 * -------------------------------------------------------------------------- */

.Page-sxnContents--padBotOnly {
  /* Box Model */
  padding-top: 0;
  padding-right: 0;
  padding-left: 0;
}

/* Page: section contents - only top padding
 * -------------------------------------------------------------------------- */

.Page-sxnContents--padBotOnly {
  /* Box Model */
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
}

/* --------------------------------------------------------------------------
 * Page: section group
 * -------------------------------------------------------------------------- */

.Page-sxnGroup {
  /* Box Model */
  margin-top: $text-sm * $line-height-base;
  margin-right: 0;
  margin-bottom: $text-sm * $line-height-base;
  margin-left: 0;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    margin-top: $text-md * $line-height-base;
    margin-bottom: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    margin-top: $text-lg * $line-height-base;
    margin-bottom: $text-lg * $line-height-base;
  }
}

/* Page: section group - center
 * -------------------------------------------------------------------------- */

.Page-sxnGroup--center {
  /* Box Model */
  margin-right: auto;
  margin-left: auto;
}

/* Page: section group - set width to pdf link width
 * -------------------------------------------------------------------------- */

.Page-sxnGroup--widthSetPdfLink {
  width: $page-pdflink-width-sm;

  @include responsive($screen, 'min-md') {
    width: $page-pdflink-width-md;
  }

  @include responsive($screen, 'min-xl') {
    width: $page-pdflink-width-lg;
  }
}

/* --------------------------------------------------------------------------
 * Page: section headline
 * -------------------------------------------------------------------------- */

.Page-sxnHeadline {
  /* Box Model */
  width: 220px;
  margin-right: auto;
  margin-bottom: $text-sm * $line-height-sm;
  margin-left: auto;

  /* Typography */
  color: $page-color-light;
  text-align: center;
  line-height: $line-height-sm;

  @media #{$screen} and (min-width: 450px) {
    /* Box Model */
    width: auto;
    margin-bottom: 0;
  }
}

/* Page: section headline - last
 * -------------------------------------------------------------------------- */

.Page-sxnHeadline--last {
  margin-bottom: $text-sm * $line-height-base;

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-base;
  }
}

/* Page: section headline - long headline
 * -------------------------------------------------------------------------- */

.Page-sxnHeadline--long {
  width: 220px;

  @media #{$screen} and (min-width: 470px) {
    width: 400px;
  }

  @include responsive($screen, 'min-sm') {
    width: 450px;
  }

  @include responsive($screen, 'min-md') {
    width: 500px;
  }

  @include responsive($screen, 'min-xl') {
    width: 550px;
  }
}

/* --------------------------------------------------------------------------
 * Page: section text
 * -------------------------------------------------------------------------- */

.Page-sxnText {
  /* Typography */
  color: $page-color-light;
  text-align: center;
}

/* Page: section text - highlight
 * -------------------------------------------------------------------------- */

.Page-sxnText--highlight {
  color: $page-color-accent;
}

/* --------------------------------------------------------------------------
 * Page: under construction
 * -------------------------------------------------------------------------- */

.Page-underConstruct {
  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;

  /* Typography */
  font-family: $sans-serif;
  font-size: $headline-lg;
  font-weight: $semibold;
  font-style: italic;
  line-height: $line-height-base;
  color: #bbb;
  text-align: center;

  /* Misc */
  @include vendorize(transform, translate(-50%, -50%));
}

/* --------------------------------------------------------------------------
 * Page: warning
 * -------------------------------------------------------------------------- */

.Page-warning {
  /* Position */
  position: relative;

  /* Box Model */
  padding-top: 13px;
  padding-right: 26px;
  padding-bottom: 13px;
  padding-left: 26px;

  /* Typography */
  color: #fff;
  line-height: $pagewarning-line-height;
  letter-spacing: 0.04rem;

  /* Visual */
  background-color: $page-color-warning;
}

/* Page: warning - JS
 * -------------------------------------------------------------------------- */

.Page-warning--js {
  /* Position */
  position: absolute;
  top: 0;
  left: 0;
  z-index: $page-zindex-navsite - 2;

  /* Box Model */
  width: 100%;
  height: 100%;
}

/* --------------------------------------------------------------------------
 * Page: warning text
 * -------------------------------------------------------------------------- */

.Page-warningText {
  /* Position */
  position: absolute;
  top: 50%;
  left: 0;

  /* Box Model */
  display: inline-block;
  width: 100%;
  padding-right: 26px;
  padding-left: 26px;

  /* Typography */
  text-align: center;

  /* Misc */
  @include vendorize(transform, translateY(-50%));
}

/* --------------------------------------------------------------------------
 * Page: whole site JS warning
 * -------------------------------------------------------------------------- */

.Page-warningSiteJS {
  /* Box Model */
  position: fixed;
  z-index: $page-zindex-navsite - 1;

  /* Box Model */
  height: $page-site-warningjs-height;
}

/* --------------------------------------------------------------------------
 * Base Page Stylings
 * -------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------
 * Page: headline
 * -------------------------------------------------------------------------- */

.Page-headline {
  /* Box Model */
  margin-bottom: $text-sm * $line-height-base;

  /* Typography */
  font-family: $sans-serif;
  font-size: $headline-sm;
  font-weight: $regular;
  line-height: $line-height-sm;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    margin-bottom: $text-md * $line-height-base;

    /* Typography */
    font-size: $headline-md;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    margin-bottom: $text-lg * $line-height-base;

    /* Typography */
    font-size: $headline-lg;
  }
}

/* --------------------------------------------------------------------------
 * Page: img
 * -------------------------------------------------------------------------- */

.Page-img {
  /* Box Model */
  display: block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------
 * Page: image link
 * -------------------------------------------------------------------------- */

.Page-imgLink {
  /* Position */
  position: relative;

  /* Box Model */
  display: block;

  &:hover,
  &:focus {
    outline: none;
  }

  &:focus {
    opacity: 0.4;
  }
}

/* --------------------------------------------------------------------------
 * Page: link
 * -------------------------------------------------------------------------- */

.Page-link {
  /* Typography */
  color: #000;
  text-decoration: none;

  &:hover {
    /* Typography */
    color: $page-color-accent;

    /* Misc */
    outline: none;
  }

  &:focus {
    /* Typography */
    color: $page-color-accent;

    /* Misc */
    opacity: 0.6;
    outline: none;
  }

  &[aria-pressed='true'] {
    /* Page link selected */
    color: $page-color-accent;
  }

  &[aria-disabled='true'] {
    /* Typography */
    color: $page-color-disabled;

    /* Visual */
    cursor: default;
  }
}

/* --------------------------------------------------------------------------
 * Page: title
 * -------------------------------------------------------------------------- */

.Page-title {
  /* Box Model */
  margin-bottom: $text-sm * $line-height-base * 0.2;

  /* Typography */
  font-family: $serif;
  font-size: $title-sm;
  font-weight: $regular;
  line-height: 1.2;
  text-align: center;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    margin-bottom: $text-md * $line-height-base * 0.2;

    /* Typography */
    font-size: $title-md;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    margin-bottom: $text-lg * $line-height-base * 0.2;

    /* Typography */
    font-size: $title-lg;
  }
}

/* Page: title - smaller bottom margin
 * -------------------------------------------------------------------------- */

.Page-title--margin {
  margin-bottom: $text-sm * $line-height-base;

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-base;
  }
}
