<section class="{{#if addFilterClasses}}{{addFilterClasses}} {{/if}}Filter">
  {{#if warningText}}
  {{> PageWarningJS text=warningText}}
  {{else}}
  {{> PageWarningJS text="Enable JavaScript to filter items."}}
  {{/if}}

  <h3 class="{{#if titleShow}}Filter-title{{else}}u-visuallyHidden{{/if}}">{{{filter.title}}}</h3>
  <ul class="{{#if addOptionsClasses}}{{addOptionsClasses}}{{/if}}">
    {{#each filter.options}}
    <li>
      {{> PageBtn classes="js-filter-btn" text=displayText dataAttr="data-option" dataValue=option disableBtn=@first filter=true}}

    </li>
    {{/each}}
  </ul>
</section>