/* ==========================================================================
 * Home
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Home: headline
 * -------------------------------------------------------------------------- */

.Home-headline {
  /* Box Model */
  max-width: 825px;
  margin-top: 26px;
  margin-right: auto;
  margin-bottom: 26px;
  margin-left: auto;

  /* Typography */
  font-size: $headline-sm;
  text-align: center;

  @include responsive($screen, 'min-md') {
    font-size: $headline-md;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $headline-lg;
  }
}

/* --------------------------------------------------------------------------
 * Home: products grid
 * -------------------------------------------------------------------------- */

.Home-productsGrid {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  @include vendorize(justify-content, center);
  overflow: hidden;
}

/* --------------------------------------------------------------------------
 * Home: products grid item
 * -------------------------------------------------------------------------- */

.Home-productsGridItem {
  /* Box Model */
  position: relative;
  margin-bottom: 2px;
  overflow: hidden;

  &:nth-child(2n + 1) {
    /* Box Model */
    margin-right: 1px;
    margin-left: 2px;
  }

  &:nth-child(2n) {
    /* Box Model */
    margin-right: 2px;
    margin-left: 1px;
  }
}

/* Home: products grid item - large size
 * -------------------------------------------------------------------------- */

.Home-productsGridItem--lg {
  /* Box Model */
  width: calc(100% - 3px);

  @include responsive($screen, 'min-sm') {
    width: calc(60% - 3px);
  }
}

/* Home: products grid item - small size
 * -------------------------------------------------------------------------- */

.Home-productsGridItem--sm {
  /* Box Model */
  width: calc(100% - 3px);

  @include responsive($screen, 'min-sm') {
    width: calc(40% - 3px);
  }
}

/* --------------------------------------------------------------------------
 * Home: products grid link
 * -------------------------------------------------------------------------- */

.Home-productsGridLink {
  /* Position */
  position: absolute;
  top: 0;
  left: 0;

  /* Box Model */
  display: block;
  width: 100%;
  height: 100%;

  /* Typography */
  font-weight: $regular;
  letter-spacing: 0.09rem;
  color: #fff;
  text-transform: uppercase;

  /* Visual */
  background-color: rgba(0, 0, 0, 0);

  /* Misc */
  @include vendorize(transition, all 0.5s ease);

  &:focus,
  &:hover {
    background-color: rgba(0, 0, 0, 0.18);
  }

  &:focus .Home-productsGridLinkText {
    /* Visual */
    background-color: $page-color-accent;
    border-color: $page-color-accent;
  }
}

/* --------------------------------------------------------------------------
 * Home: products grid link image
 * -------------------------------------------------------------------------- */

.Home-productsGridLinkImg {
  /* Box Model */
  height: 0;
  padding-top: 56.25%;
  overflow: hidden;

  /* Visual */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Misc */
  @include vendorize(transition, all 0.5s ease);

  &:hover {
    @include vendorize(transform, scale(1.15));
  }
}

/* Home: products grid link image - buildings image
 * -------------------------------------------------------------------------- */

.Home-productsGridLinkImg--buildings {
  background-image: url(../images/buildings.jpg);
}

/* Home: products grid link image - installation image
 * -------------------------------------------------------------------------- */

.Home-productsGridLinkImg--install {
  background-image: url(../images/install.jpg);
}

/* Home: products grid link image - maintenance image
 * -------------------------------------------------------------------------- */

.Home-productsGridLinkImg--maintenance {
  /* Visual */
  background-image: url(../images/maintenance.jpg);

  @media #{$screen} and (min-width: 575px) {
    padding-top: 84.5%;
  }
}

/* Home: products grid link image - replacement parts image
 * -------------------------------------------------------------------------- */

.Home-productsGridLinkImg--parts {
  /* Visual */
  background-image: url(../images/replacement-parts.jpg);

  @media #{$screen} and (min-width: 575px) {
    padding-top: 84.5%;
  }
}

/* --------------------------------------------------------------------------
 * Home: products grid link text
 * -------------------------------------------------------------------------- */

.Home-productsGridLinkText {
  /* Position */
  position: absolute;
  top: 50%;
  left: 50%;

  /* Box Model */
  display: block;
  padding-top: 9px;
  padding-right: 19px;
  padding-bottom: 9px;
  padding-left: 19px;

  /* Typography */
  text-align: center;

  /* Visual */
  background-color: rgba(0, 0, 0, 0.6);
  border-color: #fff;
  border-style: solid;
  border-width: 1px;
  border-radius: 1px;

  /* Misc */
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
  @include vendorize(transform, translate(-50%, -50%));
  @include vendorize(transition, all 380ms ease);

  &:hover {
    /* Visual */
    background-color: $page-color-accent;
    border-color: $page-color-accent;
  }
}

/* --------------------------------------------------------------------------
 * Home: contact section
 * -------------------------------------------------------------------------- */

.Home-sxnContact {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-direction, column);
  @include vendorize(align-items, center);
  @include vendorize(justify-content, center);

  @include responsive($screen, 'min-sm') {
    @include vendorize(flex-direction, row-reverse);
  }
}

/* --------------------------------------------------------------------------
 * Home: contact section info
 * -------------------------------------------------------------------------- */

.Home-sxnContactInfo {
  /* Box Model */
  width: 100%;
  margin-top: 13px;
  margin-bottom: 13px;

  /* Typography */
  text-align: center;

  @include responsive($screen, 'min-sm') {
    /* Box Model */
    width: 36%;
    margin-top: 0;
    margin-bottom: 0;
  }
}

/* --------------------------------------------------------------------------
 * Home: contact section image
 * -------------------------------------------------------------------------- */

.Home-sxnContactImg {
  /* Box Model */
  width: 100%;
  max-width: 500px;
  margin-top: 26px;

  @media #{$screen} and (min-width: 450px) {
    width: 90%;
  }

  @include responsive($screen, 'min-sm') {
    /* Box Model */
    width: 64%;
    padding-right: 26px;
  }

  @include responsive($screen, 'min-lg') {
    padding-right: 0;
  }
}

/* --------------------------------------------------------------------------
 * Home: contact section group of links
 * -------------------------------------------------------------------------- */

.Home-sxnContactLinks {
  margin-bottom: 26px;
}

/* --------------------------------------------------------------------------
 * Home: contact section text
 * -------------------------------------------------------------------------- */

.Home-sxnContactText {
  color: $page-color-light;
}

/* Home: contact section text - highlight
 * -------------------------------------------------------------------------- */

.Home-sxnContactText--highlight {
  /* Typography */
  font-weight: $regular;
  color: $page-color-accent;
}

/* --------------------------------------------------------------------------
 * Home: section link
 * -------------------------------------------------------------------------- */

.Home-sxnLink {
  /* Box Model */
  width: 170px;

  @include responsive($screen, 'min-md') {
    width: 190px;
  }

  @include responsive($screen, 'min-xl') {
    width: 210px;
  }
}

/* --------------------------------------------------------------------------
 * Home: section button link
 * -------------------------------------------------------------------------- */

.Home-sxnLinkBtn {
  /* Box Model */
  margin-top: 13px;
  margin-bottom: 13px;
}
