<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=home.docHead.title description=home.docHead.description devPath=home.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite devPath=home.docHead.devPath}}

    <h1 class="u-visuallyHidden">{{home.page.title}}</h1>
  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled"
       data-page-heading="none">
    <main class="Page-home">
      {{!-- Products and services image grid --}}
      {{> SxnOpen bgcolor=false noPad=true}}

      <h2 class="u-visuallyHidden">CXT Products and Services</h2>
      {{> HomeProductsGrid links=home.products.links}}

      {{> SxnClose}}

      {{!-- Company promotion summary --}}
      {{> SxnOpen bgcolor=false}}

      {{> SxnHeading title="CXT<span>&reg;</span> Concrete Buildings"}}
      <p class="Home-headline">We are a leading manufacturer of precast concrete products, including restrooms, showers, concession and utility buildings.</p>
      <p class="Home-headline">Our buildings are used nationwide at federal, state, county, city, and private recreational sites.</p>
      {{> SxnClose}}

      {{!-- Contact us --}}
      {{> SxnOpen bgcolor=false padTopNone=true}}

      {{> SxnHeading title="Contact Us"}}
      <div class="Home-sxnContact">
        <div class="Home-sxnContactInfo">
          {{> SxnContactLinks links=home.contact.links}}

          <p class="Home-sxnContactText">General Questions</p>
          <p class="Home-sxnContactText--highlight">1-800-696-5766</p>
        </div>
        <div class="Home-sxnContactImg">
          {{> PageImg img="images/map-sales.png" imgAlt="CXT's regional sales map."}}

        </div>
      </div>
      {{> SxnClose}}

    </main>
  </div>
  {{> FooterSite devPath=home.docHead.devPath}}

  {{> jsMain devPath=home.docHead.devPath}}

</body>

</html>