// =============================================================================
// Image Carousel Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// Image carousel: image padding
$imgcarousel-img-pad-horz: 13px;
$imgcarousel-img-pad-vert: 13px;

// Image carousel: image dimensions
$imgcarousel-img-width: 298px;
