<div class="{{#if blockClass}}{{blockClass}}-imgCarousel {{/if}}ImgCarousel js-imgCarousel">
  <div class="ImgCarousel-imagesContainer js-imgCarousel-imagesViewport">
    <ul class="{{#if blockClass}}{{blockClass}}-imgCarouselImages {{/if}}ImgCarousel-images js-imgCarousel-imagesContainer">
      {{#each images}}
      <li class="{{#if ../blockClass}}{{../blockClass}}-imgCarouselImg {{/if}}ImgCarousel-img js-imgCarousel-img"
          id="{{imgId}}">
        {{> PageImg devPath=../devPath}}

      </li>
      {{/each}}
    </ul>
  </div>
  <ul class="{{#if blockClass}}{{blockClass}}-imgCarouselMarkerGrp {{/if}}ImgCarousel-markerGrp js-imgCarousel-imgIndicatorContainer"
      aria-hidden="true">
    {{#each images}}
    <li>
      <button class="ImgCarousel-marker js-imgCarousel-imgIndicator"
              data-image="{{imgId}}"
              aria-pressed="false"
              aria-disabled="false"><span class="u-visuallyHidden">{{imgAlt}}</span></button>
    </li>
    {{/each}}
  </ul>
  <button class="{{#if blockClass}}{{blockClass}}-imgCarouselArrow {{/if}}ImgCarousel-arrow ImgCarousel-arrow--left js-imgCarousel-arrowLeft"
          aria-disabled="false"
          aria-hidden="true">&#10094;</button>
  <button class="{{#if blockClass}}{{blockClass}}-imgCarouselArrow {{/if}}ImgCarousel-arrow ImgCarousel-arrow--right js-imgCarousel-arrowRight"
          aria-disabled="false"
          aria-hidden="true">&#10095;</button>
</div>