/* ==========================================================================
 * Image Carousel
 * ========================================================================== */

.ImgCarousel {
  /* Position */
  position: relative;

  /* Box Model */
  padding-right: 0;
  padding-bottom: 39px;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;

  @include responsive($screen, 'min-sm') {
    /* Box Model */
    padding-right: 50px;
    padding-bottom: 0;
    padding-left: 50px;
  }
}

/* --------------------------------------------------------------------------
 * Image Carousel: image
 * -------------------------------------------------------------------------- */

.ImgCarousel-img {
  /* Box Model */
  width: $imgcarousel-img-width;
  padding: $imgcarousel-img-pad-vert $imgcarousel-img-pad-horz;
}

/* --------------------------------------------------------------------------
 * Image Carousel: images
 * -------------------------------------------------------------------------- */

.ImgCarousel-images {
  /* Position */
  position: relative;
  left: 0;

  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);

  /* Misc */
  @include vendorize(transition, left 480ms ease);
}

/* --------------------------------------------------------------------------
 * Image Carousel: images container
 * -------------------------------------------------------------------------- */

.ImgCarousel-imagesContainer {
  /* Box Model */
  width: 100%;
  overflow: hidden;
}

/* --------------------------------------------------------------------------
 * Image Carousel: arrow
 * -------------------------------------------------------------------------- */

.ImgCarousel-arrow {
  /* Position */
  position: absolute;
  bottom: 50%;

  /* Box Model */
  display: block;
  padding-right: 15px;
  padding-left: 15px;

  /* Typography */
  font-size: 39px;

  /* Misc */
  @include vendorize(transform, translateY(50%));

  &:hover,
  &:focus {
    outline: none;
  }

  &[aria-disabled='false'] {
    cursor: pointer;
  }

  &[aria-disabled='true'] {
    cursor: default;
  }

  &[aria-hidden='true'] {
    display: none;
  }
}

/* Image Carousel: arrow - left
 * -------------------------------------------------------------------------- */

.ImgCarousel-arrow--left {
  left: 0;
}

/* Image Carousel: arrow - right
 * -------------------------------------------------------------------------- */

.ImgCarousel-arrow--right {
  right: 0;
}

/* --------------------------------------------------------------------------
 * Image Carousel: marker group
 * -------------------------------------------------------------------------- */

.ImgCarousel-markerGrp {
  display: none;

  @include responsive($screen, 'max-xs') {
    &[aria-hidden='false'] {
      /* Position */
      position: absolute;
      left: 50%;
      bottom: 0;

      /* Box Model */
      @include vendorize(display, flex);
      @include vendorize(flex-wrap, wrap);
      @include vendorize(justify-content, center);
      @include vendorize(align-items, center);
      width: 100%;
      padding-right: 0;
      padding-left: 0;

      /* Misc */
      @include vendorize(transform, translateX(-50%));
    }
  }

  // @include responsive($screen, 'min-sm') {
  //   display: none;
  // }
}

/* --------------------------------------------------------------------------
 * Image Carousel: marker
 * -------------------------------------------------------------------------- */

.ImgCarousel-marker {
  /* Box Model */
  width: 16px;
  height: 16px;
  margin: 6px;

  /* Visual */
  background-color: $page-color-accent;
  border-color: $page-color-accent;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;

  &[aria-pressed='true'] {
    /* Image carousel marker currently selected */
    background-color: $page-color-accent;
    border-color: $page-color-accent;
  }

  &[aria-pressed='false'] {
    /* Image carousel marker not currently selected */
    background-color: transparent;
    border-color: $page-color-accent;
  }
}
