<div class="{{#if setWidth}}PdfLink--widthSet {{/if}}Media Media--center {{#if imgTop}}Media--imgTop {{/if}}MediaIcon">
  <img class="Media-img{{#if imgTop}} Media-img--marginBot{{/if}} MediaIcon-img"
       src="{{devPath}}images/icons/pdf.png"
       alt="PDF icon.">
  <div class="Media-body{{#if imgTop}} Media-body--center{{/if}} MediaIcon-body">
    <a class="Page-link"
       href="{{devPath}}{{link.href}}"
       alt="{{link.alt}}"
       {{#if newWindow}}
       target="_blank"
       rel="noopener"
       {{/if}}
       aria-disabled="{{disabled}}"><span>{{{text}}}</span></a>
  </div>
</div>