/* ==========================================================================
 * PDF Link
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * PDF Link: width set
 * -------------------------------------------------------------------------- */

.PdfLink--widthSet {
  /* Box Model */
  width: $page-pdflink-width-sm;

  @include responsive($screen, 'min-md') {
    width: $page-pdflink-width-md;
  }

  @include responsive($screen, 'min-xl') {
    width: $page-pdflink-width-lg;
  }
}
