<head>
      <title>{{{title}}}</title>
      <meta name="description"
            content="{{{description}}}">
      <meta charset="utf-8">
      <meta name="viewport"
            content="width=device-width, initial-scale=1.0">
      <meta name="format-detection"
            content="telephone=no">
      <meta name="theme-color"
            content="#FFFFFF">
      {{> favicons devPath=devPath}}

      {{> cssMainStylings devPath=devPath}}

      {{!-- {{> googleAnalytics}} --}}

</head>