/* ==========================================================================
 * Building Image-Button Grid
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Building Image-Button Grid
 * -------------------------------------------------------------------------- */

.BuildingImgBtnGrid {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
}

/* --------------------------------------------------------------------------
 * Building Image-Button Grid: item
 * -------------------------------------------------------------------------- */

.BuildingImgBtnGrid-item {
  /* Box Model */
  width: $building-imgbtngrid-item-width;
  height: $building-imgbtngrid-item-height;
  margin-bottom: $building-imgbtngrid-item-margin-bottom;
  margin-left: $building-imgbtngrid-item-margin-left;
}

/* --------------------------------------------------------------------------
 * Building Image-Button Grid: button
 * -------------------------------------------------------------------------- */

.BuildingImgBtnGrid-btn {
  /* Visual */
  border-radius: 2px;

  /* Misc */
  @include vendorize(transition, padding 120ms ease-out, border 90ms linear);

  &[aria-pressed='true'] {
    /* Box Model */
    padding: 3px;

    /* Visual */
    border: 2px solid #000;
  }

  &[aria-pressed='false'] {
    /* Box Model */
    padding: 0;

    /* Visual */
    border: none;
  }

  &[aria-pressed='false']:hover,
  &[aria-pressed='false']:focus {
    padding: 1px;
  }

  &[aria-pressed='false']:active {
    /* Box Model */
    padding: 0;

    /* Visual */
    border: none;

    /* Misc */
    opacity: 1;
  }
}

/* --------------------------------------------------------------------------
 * Building Image-Button Grid: button image
 * -------------------------------------------------------------------------- */

.BuildingImgBtnGrid-btnImg {
  /* Needed for IE */
  width: 100%;

  border-radius: 1px;
}
