<section class="Building-textureSxnOption">
  <h4 class="Building-textureSxnOptionHeading">{{title}}</h4>
  {{#if subcategories}}
  {{#each items}}
  <h5 class="Building-textureSxnOptionHeadingSub">{{@key}}</h5>
  {{> BuildingTextureGrid items=this searchList=../searchList devPath=../devPath}}

  {{/each}}
  {{else}}
  {{> BuildingTextureGrid}}

  {{/if}}
</section>