/* ==========================================================================
 * Specific Building
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Building: color section
 * -------------------------------------------------------------------------- */

.Building-colorSxn {
  /* Position */
  position: relative;

  /* Box Model */
  margin-bottom: $text-sm * $line-height-sm * 2;

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-sm * 2;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-sm * 2;
  }
}

/* --------------------------------------------------------------------------
 * Building: headline
 * -------------------------------------------------------------------------- */

.Building-headline {
  /* Box Model */
  margin-bottom: $text-sm * $line-height-base;

  /* Typography */
  font-weight: $light;
  color: $page-color-light;

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-base;
  }
}

/* --------------------------------------------------------------------------
 * Building: model container
 * -------------------------------------------------------------------------- */

.Building-modelContainer {
  margin-bottom: $text-sm * $line-height-base;

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-base;
  }
}

/* --------------------------------------------------------------------------
 * Building: model section
 * -------------------------------------------------------------------------- */

.Building-modelSxn {
  /* Position */
  float: left;

  /* Box Model */
  width: 100%;
  margin-bottom: $text-sm * $line-height-base;

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    width: calc(100% * (2 / 3));
    margin-bottom: 0;
  }
}

/* --------------------------------------------------------------------------
 * Building: options
 * -------------------------------------------------------------------------- */

.Building-options {
  /* Position */
  position: relative;

  /* Box Model */
  margin-bottom: $text-sm * $line-height-base * 2;

  @include clear('', block);

  &[data-overlay]::before {
    /* Building options overlay */
    /* Position */
    position: absolute;
    top: -25px;
    left: -25px;

    /* Box Model */
    display: block;
    width: calc(100% + 50px);

    /* Visual */
    content: '';

    /* Misc */
    box-sizing: border-box;
  }

  &[data-overlay='true'] {
    /* Building options overlay shown */
    position: relative;
  }

  &[data-overlay='true']::before {
    /* Building options overlay shown */
    /* Position */
    z-index: $page-zindex-overlay - 2;

    /* Box Model */
    height: calc(100% + 50px);

    /* Visual */
    background: url(../images/loading.gif) rgba(255, 255, 255, 0.92) center 40% /
      100px 100px no-repeat;

    /* Misc */
    @include vendorize(transition, background-color, 280ms);
  }

  &[data-overlay='false']::before {
    /* Building options overlay hidden */
    background: transparent;
  }

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base * 2;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-base * 2;
  }
}

/* --------------------------------------------------------------------------
 * Building: options content
 * -------------------------------------------------------------------------- */

.Building-optionsContent {
  /* Position */
  float: left;

  /* Box Model */
  width: 100%;

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    width: calc(100% * (1 / 3));
    padding-left: 40px;
  }
}

/* --------------------------------------------------------------------------
 * Building: options section title
 * -------------------------------------------------------------------------- */

.Building-optionsSxnTitle {
  font-weight: $regular;
}

/* --------------------------------------------------------------------------
 * Building: specification section
 * -------------------------------------------------------------------------- */

.Building-quoteBtn {
  /* Position */
  position: relative;

  &:hover {
    /* Text box */
    &::before {
      /* Position */
      position: absolute;
      top: -95px;
      left: 0;

      /* Box Model */
      width: 150px;
      height: 75px;
      padding: 18px 12px;

      /* Typography */
      font-family: $sans-serif;
      font-size: $text-sm * 0.9;
      font-weight: $light;
      color: #fff;

      /* Visual */
      background-color: $page-color-accent;
      border-radius: 3px;
      content: 'Currently, working on functionality.';

      /* Misc */
      box-sizing: border-box;
    }

    /* Text box pointing down arrow */
    &::after {
      /* Position */
      position: absolute;
      top: -20px;
      left: 50%;

      /* Box Model */
      width: 0;
      height: 0;

      /* Visual */
      border-color: $page-color-accent transparent transparent transparent;
      border-style: solid;
      border-width: 15px 15px 0 15px;
      content: '';

      /* Misc */
      box-sizing: border-box;
      @include vendorize(transform, translateX(-50%));
    }
  }
}

/* --------------------------------------------------------------------------
 * Building: specification section
 * -------------------------------------------------------------------------- */

.Building-specSxn {
  @include clear('', block);
}

/* --------------------------------------------------------------------------
 * Building: specification sub-section
 * -------------------------------------------------------------------------- */

.Building-specSxnSub {
  /* Position */
  float: left;

  /* Box Model */
  width: 100%;
  margin-bottom: $text-sm * $line-height-base * 2;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    width: 60%;
    margin-bottom: $text-md * $line-height-base * 2;
  }

  @include responsive($screen, 'min-lg') {
    width: 50%;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-base * 2;
  }
}

/* --------------------------------------------------------------------------
 * Building: specification last sub-section
 * -------------------------------------------------------------------------- */

.Building-specSxnSub--last {
  margin-bottom: 0;
}

/* --------------------------------------------------------------------------
 * Building: specification right sub-section
 * -------------------------------------------------------------------------- */

.Building-specSxnSub--right {
  @include responsive($screen, 'min-md') {
    width: 40%;
  }

  @include responsive($screen, 'min-lg') {
    width: 50%;
  }
}

/* --------------------------------------------------------------------------
 * Building: specification section heading
 * -------------------------------------------------------------------------- */

.Building-specSxnHeading {
  /* Box Model */
  margin-bottom: $text-sm * $line-height-base;

  /* Typography */
  line-height: $headline-sm * $line-height-sm;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    margin-bottom: $text-md * $line-height-base;

    /* Typography */
    line-height: $headline-md * $line-height-sm;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    margin-bottom: $text-lg * $line-height-base;

    /* Typography */
    line-height: $headline-lg * $line-height-sm;
  }
}

/* --------------------------------------------------------------------------
 * Building: specification section title
 * -------------------------------------------------------------------------- */

.Building-specSxnTitle {
  /* Box Model */
  margin-bottom: $text-sm * $line-height-sm;

  /* Typography */
  font-size: $headline-sm;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    margin-bottom: $text-md * $line-height-sm;

    /* Typography */
    font-size: $headline-md;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    margin-bottom: $text-lg * $line-height-sm;

    /* Typography */
    font-size: $headline-lg;
  }
}

/* --------------------------------------------------------------------------
 * Building: texture
 * -------------------------------------------------------------------------- */

.Building-texture {
  /* Box Model */
  padding-top: $text-sm * $line-height-base * 2;

  /* Visual */
  // border-top: 1px solid $page-color-light;

  @include responsive($screen, 'min-md') {
    padding-top: $text-md * $line-height-base * 2;
  }

  @include responsive($screen, 'min-xl') {
    padding-top: $text-lg * $line-height-base * 2;
  }
}

/* --------------------------------------------------------------------------
 * Building: texture section
 * -------------------------------------------------------------------------- */

.Building-textureSxn {
  margin-bottom: $text-sm * $line-height-base;

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-base;
  }

  @include clear('', block);
}

/* --------------------------------------------------------------------------
 * Building: texture section option
 * -------------------------------------------------------------------------- */

.Building-textureSxnOption {
  /* Box Model */
  width: 230px;
  margin-left: auto;
  margin-right: auto;

  @media #{$screen} and (min-width: 500px) {
    width: 345px;
  }
}

/* --------------------------------------------------------------------------
 * Building: texture section option heading
 * -------------------------------------------------------------------------- */

.Building-textureSxnOptionHeading {
  /* Typography */
  font-size: $text-sm;
  font-weight: $regular;
  text-align: center;

  @include responsive($screen, 'min-md') {
    font-size: $text-md;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $text-lg;
  }
}

/* --------------------------------------------------------------------------
 * Building: texture section option sub-heading
 * -------------------------------------------------------------------------- */

.Building-textureSxnOptionHeadingSub {
  /* Box Model */
  margin-bottom: 6px;

  /* Typography */
  font-size: $text-sm;
  font-weight: $light;

  @include responsive($screen, 'min-md') {
    font-size: $text-md;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $text-lg;
  }
}

/* --------------------------------------------------------------------------
 * Building: texture sub-section
 * -------------------------------------------------------------------------- */

.Building-textureSxnSub {
  /* Position */
  float: none;

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    float: left;
    width: 50%;
  }
}

/* --------------------------------------------------------------------------
 * Building: texture section title
 * -------------------------------------------------------------------------- */

.Building-textureSxnTitle {
  /* Box Model */
  margin-bottom: $text-sm * $line-height-base;

  /* Typography */
  font-size: $headline-sm;
  text-align: center;

  @include responsive($screen, 'min-md') {
    /* Box Model */
    margin-bottom: $text-md * $line-height-base;

    /* Typography */
    font-size: $headline-md;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    margin-bottom: $text-lg * $line-height-base;

    /* Typography */
    font-size: $headline-lg;
  }
}

/* --------------------------------------------------------------------------
 * Building: title
 * -------------------------------------------------------------------------- */

.Building-title {
  font-size: $headline-sm * 1.2;

  @include responsive($screen, 'min-md') {
    font-size: $headline-md * 1.2;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $headline-lg * 1.2;
  }
}

/* --------------------------------------------------------------------------
 * Building Images: image carousel
 * -------------------------------------------------------------------------- */

.BuildingImages-imgCarousel {
  width: $buildingimages-imgcarousel-img-width;

  @include responsive($screen, 'min-sm') {
    width: calc(
      #{$buildingimages-imgcarousel-img-width} + #{$buildingimages-imgcarousel-pad-left} +
        #{$buildingimages-imgcarousel-pad-right}
    );
  }

  @include responsive($screen, 'min-md') {
    width: calc(
      (#{$buildingimages-imgcarousel-img-width} * 2) + #{$buildingimages-imgcarousel-pad-left} +
        #{$buildingimages-imgcarousel-pad-right}
    );
  }

  @media #{$screen} and (min-width: 1060px) {
    width: calc(
      (#{$buildingimages-imgcarousel-img-width} * 3) + #{$buildingimages-imgcarousel-pad-left} +
        #{$buildingimages-imgcarousel-pad-right}
    );
  }
}

/* --------------------------------------------------------------------------
 * Building Images: image carousel image
 * -------------------------------------------------------------------------- */

.BuildingImages-imgCarouselImg {
  /* Box Model */
  width: $buildingimages-imgcarousel-img-width;
  height: $buildingimages-imgcarousel-img-height;
}

/* --------------------------------------------------------------------------
 * Building Images: image carousel arrow
 * -------------------------------------------------------------------------- */

.BuildingImages-imgCarouselArrow {
  display: none;

  @include responsive($screen, 'min-sm') {
    display: inherit;
  }
}

/* --------------------------------------------------------------------------
 * Building Weather: image carousel
 * -------------------------------------------------------------------------- */

.BuildingWeather-imgCarousel {
  width: $buildingweather-imgcarousel-img-width;

  @media #{$screen} and (max-width: 574px) {
    padding-bottom: calc(26px * 2.5);
  }

  @include responsive($screen, 'min-sm') {
    width: calc(
      #{$buildingweather-imgcarousel-totalimg-width} + #{$buildingimages-imgcarousel-pad-left} +
        #{$buildingimages-imgcarousel-pad-right}
    );
  }

  @media #{$screen} and (min-width: 660px) {
    width: calc(
      (#{$buildingweather-imgcarousel-totalimg-width} * 2) + #{$buildingimages-imgcarousel-pad-left} +
        #{$buildingimages-imgcarousel-pad-right}
    );
  }

  @include responsive($screen, 'min-lg') {
    width: calc(
      (#{$buildingweather-imgcarousel-totalimg-width} * 3) + #{$buildingimages-imgcarousel-pad-left} +
        #{$buildingimages-imgcarousel-pad-right}
    );
  }

  @media #{$screen} and (min-width: 1200px) {
    width: calc(
      (#{$buildingweather-imgcarousel-totalimg-width} * 4) + #{$buildingimages-imgcarousel-pad-left} +
        #{$buildingimages-imgcarousel-pad-right}
    );
  }

  @media #{$screen} and (min-width: 1460px) {
    width: calc(
      (#{$buildingweather-imgcarousel-totalimg-width} * 5) + #{$buildingimages-imgcarousel-pad-left} +
        #{$buildingimages-imgcarousel-pad-right}
    );
  }
}

/* --------------------------------------------------------------------------
 * Building Weather: image carousel image
 * -------------------------------------------------------------------------- */

.BuildingWeather-imgCarouselImg {
  width: $buildingweather-imgcarousel-totalimg-width;
}

/* --------------------------------------------------------------------------
 * Building Weather: image carousel arrow
 * -------------------------------------------------------------------------- */

.BuildingWeather-imgCarouselArrow {
  display: none;

  @include responsive($screen, 'min-sm') {
    display: inherit;
  }

  &[aria-disabled='false'] {
    /* Building weather image carousel arrow enabled */
    /* Typography */
    color: $page-color-accent;

    /* Misc */
    opacity: 1;
    @include vendorize(transition, all 230ms linear);

    &:hover,
    &:focus {
      opacity: 0.4;
    }
  }

  &[aria-disabled='true'] {
    color: $page-color-disabled;
  }
}

/* --------------------------------------------------------------------------
 * Building Weather: headline
 * -------------------------------------------------------------------------- */

.BuildingWeather-headline {
  @media #{$screen} and (min-width: 450px) {
    width: 300px;
  }

  @include responsive($screen, 'min-sm') {
    width: 450px;
  }

  @include responsive($screen, 'min-md') {
    width: 600px;
  }

  @include responsive($screen, 'min-xl') {
    width: 620px;
  }
}
