/* ==========================================================================
 * Building Image Grid
 * ========================================================================== */

.BuildingImgGrid {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media #{$screen} and (min-width: 380px) {
    width: $building-imggrid-item-totalwidth;
  }

  @include responsive($screen, 'min-md') {
    width: $building-imggrid-item-totalwidth * 2;
  }

  @media #{$screen} and (min-width: 1150px) {
    width: $building-imggrid-item-totalwidth * 3;
  }

  @media #{$screen} and (min-width: 1510px) {
    width: $building-imggrid-item-totalwidth * 4;
  }
}

/* --------------------------------------------------------------------------
 * Building Image Grid - item
 * -------------------------------------------------------------------------- */

.BuildingImgGrid-item {
  /* Box Model */
  width: $building-imggrid-item-width;
  padding-top: $building-imggrid-item-pad-top;
  padding-right: $building-imggrid-item-pad-right;
  padding-bottom: $building-imggrid-item-pad-bottom;
  padding-left: $building-imggrid-item-pad-left;
  margin-top: $building-imggrid-item-margin-top;
  margin-right: $building-imggrid-item-margin-right;
  margin-bottom: $building-imggrid-item-margin-bottom;
  margin-left: $building-imggrid-item-margin-left;
}
