<div class="BuildingsInfo">
  <heading class="BuildingsInfo-heading">
    <h2 class="BuildingsInfo-title">Our Buildings</h2>
    <h3 class="BuildingsInfo-headline">Engineered to withstand wind, water, snow, and earthquakes</h3>
  </heading>
  <img class="BuildingsInfo-img Page-img"
       src="{{devPath}}images/buildings/building-diagram.png"
       alt="Building diagram showing the building material and structure composition.">
  <ul class="BuildingsInfo-textBox">
    <li class="BuildingsInfo-text">Built Tougher than kits, blocks, and steel</li>
    <li class="BuildingsInfo-text">Quick to install on site</li>
    <li class="BuildingsInfo-text">Easy to maintain, and vandal resistant</li>
    <li class="BuildingsInfo-text">Available in a variety of textures and colors</li>
    <li class="BuildingsInfo-text BuildingsInfo-text--last">Meet ADA, UFAS, and California Title 24 requirements</li>
  </ul>
</div>