/* ==========================================================================
 * Building Texture Grid
 * ========================================================================== */

.BuildingTextureGrid {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  padding-top: $text-sm;

  /* Visual */
  border-top: 1px solid #999;
}

/* --------------------------------------------------------------------------
 * Building Texture Grid: body (text)
 * -------------------------------------------------------------------------- */

.BuildingTextureGrid-body {
  font-size: $text-md;
}

/* --------------------------------------------------------------------------
 * Building Texture Grid: item
 * -------------------------------------------------------------------------- */

.BuildingTextureGrid-item {
  /* Box Model */
  width: 85px;
  margin-top: 5px;
  margin-right: 15px;
  margin-bottom: $text-sm * $line-height-base;
  margin-left: 15px;
}
