<div {{#if blockClass}}class="{{blockClass}}-modelSxn"
     {{/if}}
     model={{#if model.placeholderImg}}"false"{{else}}"true"{{/if}}>
  <div class="{{#if blockClass}}{{blockClass}}-modelContainer{{/if}} js-building-model"
       data-modelId="{{model.id}}">
    {{> VisualMedia blockClass="BuildingModel" media=model}}

  </div>
  {{> PageWarning classes="BuildingModel-warning js-model-warning" hidden="true"}}

  <section class="js-model-help-sxn">
    {{> PageBtn classes="BuildingModel-helpSxnBtn js-dropdown-btn" textClasses="js-dropdown-btnDisplay" pressed="false" disabled="false" chevron=true type="button" text="Having trouble viewing the 3D model?"}}

    <div class="BuildingModel-helpSxnMenu BuildingModel-helpSxnMenu--levelTop js-dropdown-menu"
         aria-hidden="true">
      <h2 class="u-visuallyHidden">3D Model Troubleshooting Advice</h2>
      <div>
        <h3 class="BuildingModel-helpSxnTitle">Make sure the following requirements are meet:</h3>
        <ul class="BuildingModel-helpContent BuildingModel-helpList BuildingModel-helpList--unordered">
          <li>JavaScript is enabled</li>
          <li>Your browser supports WebGL (see <button class="js-model-help-link"
                    aria-controls="webgl-browsers">WebGL Supported Browsers</button>)</li>
          <li>Your computer's graphics driver is up-to-date</li>
        </ul>
        <h3 class="BuildingModel-helpSxnTitle">Possible issues:</h3>
        <ul class="BuildingModel-helpContent BuildingModel-helpList BuildingModel-helpList--unordered">
          <li>Browser does not supports WebGL (see <button class="js-model-help-link"
                    aria-controls="webgl-browsers">WebGL Supported Browsers</button>)</li>
          <li>Browser supports WebGL, but it is disabled (see <button class="js-model-help-link"
                    aria-controls="webgl-disabled">WebGL Disabled</button>)</li>
          <li>Cannot interact with the model using a touch screen device (see <button class="js-model-help-link"
                    aria-controls="webgl-touch-devices">Touch Screen Devices</button>)</li>
          <li>Poor model rendering performance (see <button class="js-model-help-link"
                    aria-controls="model-performance">Model Performance</button>)</li>
        </ul>
      </div>
      <div class="js-dropdown"
           id="webgl-browsers">
        {{> PageBtn classes="BuildingModel-helpSxnBtn BuildingModel-helpSxnBtn--subSxn js-dropdown-btn" textClasses="js-dropdown-btnDisplay" pressed="false" disabled="false" chevron=true type="button" text="WebGL Supported Browsers:"}}

        <div class="BuildingModel-helpSxnMenu js-dropdown-menu"
             aria-hidden="true">
          <ul class="BuildingModel-helpContent BuildingModel-helpList BuildingModel-helpList--unordered">
            <li>Chrome</li>
            <li>Firefox</li>
            <li>Microsoft Edge 12+</li>
            <li>Safari (see <button class="js-model-help-link"
                      aria-controls="webgl-disabled">WebGL Disabled</button>)</li>
            <li>iOS 8+</li>
            <li>Android 4+</li>
          </ul>
          <div class="BuildingModel-helpContent BuildingModel-helpAlert">
            <p>Internet Explorer is <span class="BuildingModel-helpTextHighlight">not</span> supported. Must use one of the above browsers to view model.</p>
          </div>
          <p class="BuildingModel-helpContent">If your using a compatible browser and see an incompatible warning or poor model rendering performance, try forcing the browser to use your GPU (see <button class="js-model-help-link"
                    aria-controls="model-performance">Model Performance</button>).</p>
        </div>
      </div>
      <div class="js-dropdown"
           id="webgl-disabled">
        {{> PageBtn classes="BuildingModel-helpSxnBtn BuildingModel-helpSxnBtn--subSxn js-dropdown-btn" textClasses="js-dropdown-btnDisplay" pressed="false" disabled="false" chevron=true type="button" text="WebGL Disabled:"}}

        <div class="BuildingModel-helpSxnMenu js-dropdown-menu"
             aria-hidden="true">
          <p>Safari supports WebGL, but for Safari 7.1 [OS X 10.9] and earlier, WebGL must be manually enabled.</p>
          <ul class="BuildingModel-helpContent BuildingModel-helpList BuildingModel-helpList--ordered">
            <li>Go to <span class="BuildingModel-helpTextHighlight">Safari &rarr; Preferences &rarr; Advanced</span></li>
            <li>Check <span class="BuildingModel-helpTextHighlight">Show Develop Menu in menu bar</span></li>
            <li>Go to <span class="BuildingModel-helpTextHighlight">Develop &rarr; Enable WebGL</span></li>
            <li>Refresh the page and the model should load</li>
          </ul>
        </div>
      </div>
      <div class="js-dropdown"
           id="webgl-touch-devices">
        {{> PageBtn classes="BuildingModel-helpSxnBtn BuildingModel-helpSxnBtn--subSxn js-dropdown-btn" textClasses="js-dropdown-btnDisplay" pressed="false" disabled="false" chevron=true type="button" text="Touch Screen Devices:"}}

        <div class="BuildingModel-helpSxnMenu js-dropdown-menu"
             aria-hidden="true">
          <p>If you are using Chrome and having trouble interacting with a model on a touch screen device, try the following:</p>
          <ul class="BuildingModel-helpContent BuildingModel-helpList BuildingModel-helpList--ordered">
            <li>Visit <span class="BuildingModel-helpTextHighlight">chrome://flags/#touch-events</span></li>
            <li>Enable <span class="BuildingModel-helpTextHighlight">Touch Events API</span></li>
            <li>Refresh the page</li>
          </ul>
        </div>
      </div>
      <div class="js-dropdown"
           id="model-performance">
        {{> PageBtn classes="BuildingModel-helpSxnBtn BuildingModel-helpSxnBtn--subSxn js-dropdown-btn" textClasses="js-dropdown-btnDisplay" pressed="false" disabled="false" chevron=true type="button" text="Model Performance:"}}

        <div class="BuildingModel-helpSxnMenu js-dropdown-menu"
             aria-hidden="true">
          <p class="BuildingModel-helpContent">If your using a compatible browser and see an incompatible warning or poor model rendering performance, try forcing the browser to use your GPU:</p>
          <h4>Chrome</h4>
          <ul class="BuildingModel-helpContent BuildingModel-helpList BuildingModel-helpList--ordered">
            <li>Visit <span class="BuildingModel-helpTextHighlight">chrome://settings &rarr; Advanced &rarr; System</span></li>
            <li>Enable <span class="BuildingModel-helpTextHighlight">Use hardware acceleration when available</span></li>
            <li>Refresh the page</li>
          </ul>
          <h4>Firefox</h4>
          <ul class="BuildingModel-helpContent BuildingModel-helpList BuildingModel-helpList--ordered">
            <li>Visit <span class="BuildingModel-helpTextHighlight">about:config</span></li>
            <li>Enable <span class="BuildingModel-helpTextHighlight">webgl.force-enabled</span></li>
            <li>Refresh the page</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>