<ul class="BuildingsGrid{{#if jsGridClasses}} {{jsGridClasses}}{{/if}}"
    aria-hidden="false">
  {{#each items}}
  <li class="BuildingsGrid-item js-sort-item js-buildings-item"
      data-itemName="{{buildingName}}">
    {{> MediaProduct blockClass="BuildingsGrid" elementClass="media" devPath=../devPath link=(lookup ../navSite linkName)}}

  </li>
  {{/each}}
</ul>