/* ==========================================================================
 * Building Model
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Building Model: help alert
 * -------------------------------------------------------------------------- */

.BuildingModel-helpAlert {
  /* Position */
  position: relative;

  /* Box Model */
  padding-top: 6px;
  padding-right: 12px;
  padding-bottom: 6px;
  padding-left: 12px + 24px + 12px;

  /* Typography */
  color: #fff;

  /* Visual */
  background-color: $page-color-alert;

  &::before {
    /* Position */
    position: absolute;
    top: 50%;
    left: 12px;

    /* Box Model */
    width: 24px;
    height: 24px;

    /* Visual */
    content: '';
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

    /* Misc */
    box-sizing: border-box;
    @include vendorize(transform, translateY(-50%));
  }

  &::after {
    /* Position */
    position: absolute;
    top: calc(50% - 2px);
    left: 12px;

    /* Box Model */
    width: 24px;
    height: 24px;

    /* Typography */
    font-weight: $bold;
    color: $page-color-alert;
    text-align: center;

    /* Visual */
    content: '\0021';

    /* Misc */
    box-sizing: border-box;
    @include vendorize(transform, translateY(-50%));
  }
}

/* --------------------------------------------------------------------------
 * Building Model: help content
 * -------------------------------------------------------------------------- */

.BuildingModel-helpContent {
  margin-bottom: $text-sm * $line-height-base;

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base;
  }
}

/* --------------------------------------------------------------------------
 * Building Model: help list
 * -------------------------------------------------------------------------- */

.BuildingModel-helpList {
  /* Box Model */
  padding-left: $text-sm;

  /* Typography */
  list-style-position: inside;

  @include responsive($screen, 'min-md') {
    padding-left: $text-md;
  }
}

/* Building Model: help list - unordered
 * -------------------------------------------------------------------------- */

.BuildingModel-helpList--unordered {
  list-style-type: disc;
}

/* Building Model: help list - ordered
 * -------------------------------------------------------------------------- */

.BuildingModel-helpList--ordered {
  list-style-type: decimal;
}

/* --------------------------------------------------------------------------
 * Building Model: help section button
 * -------------------------------------------------------------------------- */

.BuildingModel-helpSxnBtn {
  /* Box Model */
  padding-left: 0; /* Removes btn default */

  /* Typography */
  font-family: $sans-serif;
  font-size: $text-sm;
  font-weight: $light;
}

/* Building Model: help sub-section button
 * -------------------------------------------------------------------------- */

.BuildingModel-helpSxnBtn--subSxn {
  font-weight: $semibold;
}

/* --------------------------------------------------------------------------
 * Building Model: help section
 * -------------------------------------------------------------------------- */

.BuildingModel-helpSxnMenu {
  /* Position */
  position: relative;

  /* Box Model */
  overflow: hidden;

  /* Typography */
  font-size: $text-sm;

  @include responsive($screen, 'min-md') {
    font-size: $text-md;
  }

  &[aria-hidden='true'] {
    /* Box Model */
    max-height: 0;

    /* Visual */
    visibility: hidden;
    opacity: 0;

    /* Misc */
    @include vendorize(transition, 0.4s ease, max-height 0.3s ease);
  }

  &[aria-hidden='false'] {
    /* Box Model */
    max-height: 1300px;
    padding-left: $text-sm;

    /* Visual */
    visibility: visible;
    opacity: 1;

    /* Misc */
    @include vendorize(
      transition,
      1.2s ease,
      max-height 1s ease,
      padding-left 0.4s ease
    );

    @include responsive($screen, 'min-md') {
      padding-left: $text-md;
    }
  }
}

/* Building Model: help section menu - top menu
 * -------------------------------------------------------------------------- */

.BuildingModel-helpSxnMenu--levelTop {
  &[aria-hidden='false'] {
    padding-left: 26px;

    &::before {
      /* Position */
      position: absolute;
      top: 0;
      left: 0;

      /* Box Model */
      width: 2px;
      height: 100%;

      /* Visual */
      content: '';
      background-color: $page-color-accent;

      /* Misc */
      box-sizing: border-box;
    }
  }
}

/* --------------------------------------------------------------------------
 * Building Model: help section title
 * -------------------------------------------------------------------------- */

.BuildingModel-helpSxnTitle {
  /* Typography */
  font-size: $text-sm;
  font-weight: $semibold;

  @include responsive($screen, 'min-md') {
    font-size: $text-md;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $text-lg;
  }
}

/* --------------------------------------------------------------------------
 * Building Model: help text highlighted
 * -------------------------------------------------------------------------- */

.BuildingModel-helpTextHighlight {
  font-weight: $bold;
  font-size: $text-md * 0.88;
}

/* --------------------------------------------------------------------------
 * Building Model: warning
 * -------------------------------------------------------------------------- */

.BuildingModel-warning {
  margin-bottom: $text-sm * $line-height-base;

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-base;
  }

  &[aria-hidden='true'] {
    display: none;
  }

  &[aria-hidden='false'] {
    display: block;
  }
}
