/* ==========================================================================
 * Buildings
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Buildings: sort
 * -------------------------------------------------------------------------- */

.Buildings-sort {
  /* Position */
  position: relative;
  top: -$text-sm;

  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(justify-content, center);
  @include vendorize(align-items, baseline);
  /* Width must be set for js warning message purposes */
  width: calc(
    100% - #{$buildings-grid-item-pad-right} - #{$buildings-grid-item-pad-left}
  );
  margin-right: $buildings-grid-item-pad-right;
  margin-left: $buildings-grid-item-pad-left;

  @media #{$screen} and (min-width: 600px) {
    /* Position */
    position: absolute;
    top: -30px + ($text-sm / 2);
    right: 0;

    /* Box Model */
    @include vendorize(justify-content, flex-end);
  }

  @include responsive($screen, 'min-lg') {
    top: -30px;
  }
}

/* --------------------------------------------------------------------------
 * Buildings: sort buttons
 * -------------------------------------------------------------------------- */

.Buildings-sortBtns {
  @include vendorize(display, flex);
}

/* --------------------------------------------------------------------------
 * Buildings: sort title
 * -------------------------------------------------------------------------- */

.Buildings-sortTitle {
  /* Box Model */
  margin-right: 0;

  /* Typography */
  font-size: $btnsort-text-lg;
  font-weight: $regular;

  @include responsive($screen, 'min-md') {
    margin-right: $btnsort-margin-horz-md;
  }
}

/* --------------------------------------------------------------------------
 * Buildings: sort JS warning
 * -------------------------------------------------------------------------- */

.Buildings-sortWarningJS {
  /* Box Model */
  height: $text-sm * $pagewarning-line-height * 2.5;

  @media #{$screen} and (min-width: 600px) {
    height: 100%;
  }
}
