/* ==========================================================================
 * Building Specification
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Building Spec
 * -------------------------------------------------------------------------- */

.BuildingSpec {
  display: block;
}

/* --------------------------------------------------------------------------
 * Building Spec: specification
 * -------------------------------------------------------------------------- */

.BuildingSpec-spec {
  display: inline-block;
}

/* --------------------------------------------------------------------------
 * Building Spec: specification value
 * -------------------------------------------------------------------------- */

.BuildingSpec-specValue {
  /* Box Model */
  display: inline-block;
  margin-left: 6px;

  /* Typography */
  font-weight: $regular;
}
