{{> SxnOpen bgcolor=false}}
{{!-- Building Options Section --}}
<div class="Building-options"
     data-overlay="false">
  {{!-- Building Model --}}
  {{> BuildingModel model=building.resources.model blockClass="Building"}}

  {{!-- Building Information --}}
  <div class="Building-optionsContent">
    <h2 class="Building-title">{{building.name}}</h2>
    <h3 class="Building-headline">{{building.specs.Use}}</h3>
    {{!-- Building color options --}}
    {{> BuildingColorSxn blockClass="Building"}}

    {{!-- Get a quote button --}}
    {{> PageBtn classes="Building-quoteBtn" text="Get a Quote" pressed="false" disabled="false" outline=true}}

  </div>
</div>
<div class="Building-texture">
  {{!-- Building wall texture options --}}
  {{> BuildingTextureSxn title="Wall Textures" standardTextures=building.availableTextures.wall.standard optionalTextures=building.availableTextures.wall.optional subcategories=building.availableTextures.wall.subcategories}}

  {{!-- Building roof texture options --}}
  {{> BuildingTextureSxn title="Roof Textures" standardTextures=building.availableTextures.roof.standard optionalTextures=building.availableTextures.roof.optional subcategories=building.availableTextures.roof.subcategories}}

</div>
{{> SxnClose}}

{{!-- Building Specs Section --}}
{{> SxnOpen bgcolor=true}}

<div class="Building-specSxn">
  <section class="Building-specSxnSub">
    <h3 class="Building-specSxnTitle Building-specSxnHeading">Specifications Overview</h3>
    {{#each building.specs}}
    {{> BuildingSpec spec=@key value=this}}

    {{/each}}
  </section>
  <section class="Building-specSxnSub Building-specSxnSub--right Building-specSxnSub--last">
    <h3 class="Building-specSxnHeading Page-headline">Detailed Specifications</h3>
    {{#each building.resources.specs}}
    {{> BuildingPdfLink resourcesBuildings=../resourcesBuildings linkName=../building.resources.linkName devPath=../devPath}}

    {{/each}}
    {{#each building.resources.drawings}}
    {{> BuildingPdfLink resourcesBuildings=../resourcesBuildings linkName=../building.resources.linkName devPath=../devPath}}

    {{/each}}
  </section>
</div>
{{> SxnClose}}

{{!-- Building images --}}
{{> SxnOpen bgcolor=false}}

{{> BuildingImgGrid items=building.resources.images}}

{{> SxnClose}}

{{!-- Extreme weather building image carousel --}}
{{> SxnOpen bgcolor=true}}

{{> SxnHeading title="Extreme Conditions" headline="Our buildings are engineered to maintain their aesthetics in extreme conditions, including wind, water, snow, and earthquake." blockClass='BuildingWeather' modClass=''}}

{{> ImgCarousel blockClass="BuildingWeather" images=extremeWeather.images}}

{{> SxnClose}}

{{!-- Building composition & other general building information --}}
{{> SxnOpen bgcolor=false}}

{{> BuildingInfo}}

{{> SxnClose}}