/* ==========================================================================
 * Buildings Filter
 * ========================================================================== */

.BuildingsFilter {
  position: relative;
}

/* --------------------------------------------------------------------------
 * Buildings Filter: warning
 * -------------------------------------------------------------------------- */

.BuildingsFilter-warning {
  &[aria-hidden='false'] {
    /* Buildings filter warning shown */
    /* Box Model */
    display: block;
    margin-bottom: 26px;
  }

  &[aria-hidden='true'] {
    /* Buildings filter warning hidden */
    /* Box Model */
    display: none;
    margin-bottom: 0;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Filter: JS warning
 * -------------------------------------------------------------------------- */

.BuildingsFilter-warningJS {
  height: $text-sm * $pagewarning-line-height * 2.5;

  @media #{$screen} and (min-width: 395px) {
    height: 100%;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Filter: heading
 * -------------------------------------------------------------------------- */

.BuildingsFilter-heading {
  /* Box Model */
  height: auto;

  /* Typography */
  text-align: center;

  /* Visual */
  visibility: visible;

  @media #{$screen} and (min-width: 600px) {
    text-align: left;
  }

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    height: 0;

    /* Visual */
    visibility: hidden;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Filter: title
 * -------------------------------------------------------------------------- */

.BuildingsFilter-title {
  /* Box Model */
  display: inline-block;
  margin-bottom: $text-sm;

  /* Typography */
  font-size: $text-sm;
  font-weight: $regular;
}

/* --------------------------------------------------------------------------
 * Buildings Filter: options
 * -------------------------------------------------------------------------- */

.BuildingsFilter-options {
  /* Box Model */
  display: block;
  padding-bottom: 52px;

  @media #{$screen} and (min-width: 600px) {
    padding-bottom: 104px;
  }

  @media #{$screen} and (max-width: 949px) {
    &[aria-hidden='false'] {
      /* Buildings filter opttions shown */
      display: block;
    }

    &[aria-hidden='true'] {
      /* Buildings filter opttions hidden */
      display: none;
    }
  }
}

/* --------------------------------------------------------------------------
 * Buildings Filter: button
 * -------------------------------------------------------------------------- */

.BuildingsFilter-btn {
  display: inline-block;
}

/* --------------------------------------------------------------------------
 * Buildings Filter: category heading
 * -------------------------------------------------------------------------- */

.BuildingsFilter-categoryHeading {
  /* Position */
  position: relative;

  /* Visual */
  border-bottom: 1px solid #000;
}

/* --------------------------------------------------------------------------
 * Buildings Filter: category button
 * -------------------------------------------------------------------------- */

.BuildingsFilter-categoryBtn {
  /* Position */
  position: absolute;
  top: 0;
  right: 0;

  /* Box Model */
  width: 32px;
  height: 32px;
  display: inline-block;
  /* Removes Btn defaults */
  padding: 0;

  /* Visual */
  cursor: pointer;

  &::before {
    /* Buildings filter category button horizontal line symbol */
    /* Position */
    position: absolute;
    top: 50%;
    left: 34%;

    /* Box Model */
    width: 33%;
    height: 2px;

    /* Visual */
    background-color: #000;
    content: '';

    /* Misc */
    box-sizing: border-box;
    @include vendorize(transform, translateY(-50%));
  }

  &::after {
    /* Buildings filter category button vertical line symbol */
    /* Position */
    position: absolute;
    top: 34%;
    left: 50%;

    /* Box Model */
    width: 2px;

    /* Visual */
    background-color: #000;
    content: '';

    /* Misc */
    box-sizing: border-box;
    @include vendorize(transform, translateX(-50%));
  }

  &[aria-pressed='true']::after {
    /* Buildings filter category button pressed vertical line symbol */
    height: 0;
  }

  &[aria-pressed='false']::after {
    /* Buildings filter category button not pressed vertical line symbol */
    height: 33%;
  }

  &:hover,
  &:focus {
    outline: none;

    &::before,
    &::after {
      /* Buildings filter category button hover & focus line symbols */
      background-color: $page-color-accent;
    }
  }
}

/* --------------------------------------------------------------------------
 * Buildings Filter: category input
 * -------------------------------------------------------------------------- */

.BuildingsFilter-categoryInput {
  /* Position */
  position: absolute;
  z-index: 2;

  /* Box Model */
  height: 18px;
  width: 18px;

  /* Visual */
  cursor: pointer;

  /* Misc */
  opacity: 0;

  &[disabled] {
    cursor: default;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Filter: category input checkbox
 * -------------------------------------------------------------------------- */

.BuildingsFilter-categoryInputCheckbox {
  /* Position */
  position: absolute;
  top: 6px;
  left: 6px;
  z-index: 1;

  /* Box Model */
  width: 18px;
  height: calc(100% - 6px - 6px);

  /* Visual */
  cursor: pointer;
  background-color: transparent;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;

  &::after {
    /* Buildings filter input checkbox checkmark */
    /* Position */
    position: absolute;
    top: 0;
    left: 4px;

    /* Box Model */
    display: none;
    width: 5px;
    height: 10px;

    /* Visual */
    border-color: #000;
    border-style: solid;
    border-width: 0 3px 3px 0;
    content: '';

    /* Misc */
    @include vendorize(transform, rotate(45deg));
  }

  .BuildingsFilter-categoryInput:focus ~ &,
  &:hover {
    /* Buildings filter input checkbox focux and hover */
    /* Visual */
    background-color: rgba(66, 136, 198, 0.1);
    border-color: $page-color-accent;
    outline: none;
  }

  .BuildingsFilter-categoryInput[disabled] ~ & {
    /* Buildings filter input checkbox disabled */
    /* Visual */
    background-color: rgba(187, 187, 187, 0.15);
    border-color: transparent;
    cursor: default;
  }

  .BuildingsFilter-categoryInput:checked ~ & {
    /* Buildings filter input checkbox checked */
    /* Visual */
    background-color: transparent;
    border-width: 0;
  }

  .BuildingsFilter-categoryInput:checked ~ &::after {
    /* Buildings filter input checkbox checked checkmark shown */
    display: block;
  }

  .BuildingsFilter-categoryInput:checked:focus ~ &::after,
  .BuildingsFilter-categoryInput:checked ~ &:hover::after {
    /* Buildings filter input checkbox checked checkmark focus and hover */
    border-color: $page-color-accent;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Filter: category input label
 * -------------------------------------------------------------------------- */

.BuildingsFilter-categoryInputLabel {
  /* Position */
  position: absolute;
  top: 50%;
  left: 0;

  /* Box Model */
  margin-left: 18px + 6px + 6px;

  /* Misc */
  @include vendorize(transform, translateY(-50%));
}

/* --------------------------------------------------------------------------
 * Buildings Filter: category input quantity
 * -------------------------------------------------------------------------- */

.BuildingsFilter-categoryInputQuantity {
  /* Box Model */
  margin-left: 7px;

  /* Typography */
  font-size: $text-sm * 0.83;
  color: $page-color-light;
}

/* --------------------------------------------------------------------------
 * Buildings Filter: category menu
 * -------------------------------------------------------------------------- */

.BuildingsFilter-categoryMenu {
  /* Box Model */
  padding-top: 6px;
  padding-bottom: 20px;

  &[aria-hidden='false'] {
    /* Buildings filter category menu shown */
    display: block;
  }
  &[aria-hidden='true'] {
    /* Buildings filter category menu hidden */
    display: none;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Filter: category menu Item
 * -------------------------------------------------------------------------- */

.BuildingsFilter-categoryMenuItem {
  /* position */
  position: relative;

  /* Box Model */
  height: 18px + 6px + 6px;
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  margin-top: 6px;
  margin-bottom: 6px;

  /* Typography */
  font-size: $text-sm * 0.95;
  line-height: $line-height-base;

  &[aria-pressed='true'] {
    background-color: #eee;
  }

  &[aria-disabled='true'] {
    /* Typography */
    color: $page-color-disabled;

    /* Visual */
    cursor: default;
    outline: none;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Filter: category title
 * -------------------------------------------------------------------------- */

.BuildingsFilter-categoryTitle {
  /* Box Model */
  width: calc(100% - 32px);
  padding-top: 6px;
  padding-bottom: 6px;

  /* Typography */
  font-size: $text-sm * 0.8;
  font-weight: $bold;
  line-height: $line-height-base;
  text-transform: uppercase;
}
