/* ==========================================================================
 * Buildings Grid
 * ========================================================================== */

.BuildingsGrid {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);

  /* Visual */
  background-color: #fff;

  &[aria-hidden='false'] {
    visibility: visible;
  }

  &[aria-hidden='true'] {
    visibility: hidden;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Grid: container
 * -------------------------------------------------------------------------- */

.BuildingsGrid-container {
  /* Position */
  position: relative;

  /* Box Model */
  width: $buildings-grid-width-sm;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;

  /* Visual */
  background: url(../images/loading.gif) center 4% / 100px 100px no-repeat;

  @media #{$screen} and (min-width: 600px) {
    width: $buildings-grid-width-md;
  }

  @media #{$screen} and (min-width: 880px) {
    width: $buildings-grid-width-lg;
  }

  @include responsive($screen, 'min-lg') {
    width: $buildings-grid-width-md;
  }

  @media #{$screen} and (min-width: 1200px) {
    width: $buildings-grid-width-lg;
  }

  @media #{$screen} and (min-width: 1500px) {
    width: $buildings-grid-width-xl;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Grid: headline
 * -------------------------------------------------------------------------- */

// Must be written this way to avoid empty CSS rule set
/* Overrides page-sxnHeadline stylings */
@media #{$screen} and (min-width: 380px) {
  .BuildingsGrid-headline {
    width: 300px;
  }
}

@media #{$screen} and (min-width: 480px) {
  .BuildingsGrid-headline {
    width: 385px;
  }
}

@include responsive($screen, 'min-md') {
  .BuildingsGrid-headline {
    width: 500px;
  }
}

@media #{$screen} and (min-width: 1100px) {
  .BuildingsGrid-headline {
    width: 100%;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Grid: extended headline
 * -------------------------------------------------------------------------- */

.BuildingsGrid-headline--extend {
  @media #{$screen} and (min-width: 880px) {
    width: 650px;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Grid: image link
 * -------------------------------------------------------------------------- */

.BuildingsGrid-imgLink {
  /* Visual */
  border: 1px solid #f2f2f2;

  /* Typography */
  text-decoration: none;

  /* Misc */
  @include vendorize(transition, all 380ms ease);

  &::before {
    /* Buildings Grid image overlay */
    /* Position */
    position: absolute;
    top: 0;
    left: 0;

    /* Box Model */
    width: 100%;
    height: 100%;

    /* Visual */
    background-color: rgba(0, 0, 0, 0);
    content: '';

    /* Misc */
    @include vendorize(transition, all 330ms ease);
  }

  &::after {
    /* Buildings Grid image overlay text */
    /* Position */
    position: absolute;
    bottom: 50%;
    left: $imglink-text-pos-left;

    /* Box Model */
    width: 100%;
    padding-top: $imglink-text-pad-top;
    padding-right: $imglink-text-pad-right;
    padding-bottom: $imglink-text-pad-bottom;
    padding-left: $imglink-text-pad-left;

    /* Typography */
    font-size: $text-sm * 0.8;
    line-height: $imglink-text-line-height;
    letter-spacing: $imglink-text-spacing;
    color: $imglink-text-color;
    text-align: $imglink-text-align;

    /* Visual */
    background-color: rgba(66, 136, 198, 0);
    border-radius: $imglink-text-border-rad;
    content: '';

    /* Misc */
    box-sizing: border-box;
    @include vendorize(transition, all 380ms ease);
    @include vendorize(transform, translate(-50%, 0));

    @include responsive($screen, 'min-md') {
      font-size: $text-md * 0.8;
    }

    @include responsive($screen, 'min-xl') {
      font-size: $text-lg * 0.8;
    }
  }

  &:hover,
  &:focus {
    /* Misc */
    /* Removes image link default */
    opacity: 1;
    @include vendorize(transform, scale(1.15));

    &::before {
      /* Buildings Grid hover image overlay */
      /* Visual */
      background-color: rgba(0, 0, 0, 0.4);

      /* Misc */
      @include vendorize(transition, all 300ms ease);
    }

    &::after {
      /* Buildings Grid hover image overlay text */
      /* Visual */
      background-color: rgba(66, 136, 198, 1);
      content: 'Learn More';

      /* Misc */
      @include vendorize(transition, all 350ms ease);
      @include vendorize(transform, translate(-50%, 50%));
    }
  }
}

/* --------------------------------------------------------------------------
 * Buildings Grid: item
 * -------------------------------------------------------------------------- */

.BuildingsGrid-item {
  /* Box Model */
  padding-top: $buildings-grid-item-pad-top;
  padding-right: $buildings-grid-item-pad-right;
  padding-bottom: $buildings-grid-item-pad-bottom;
  padding-left: $buildings-grid-item-pad-left;
  margin-top: $buildings-grid-item-margin-top;
  margin-right: $buildings-grid-item-margin-right;
  margin-bottom: $buildings-grid-item-margin-bottom;
  margin-left: $buildings-grid-item-margin-left;

  &[aria-hidden='false'] {
    /* Buildings Grid item shown */
    display: block;
  }

  &[aria-hidden='true'] {
    /* Buildings Grid item hidden */
    display: none;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Grid: media
 * -------------------------------------------------------------------------- */

.BuildingsGrid-media {
  /* Box Model */
  width: $buildings-grid-media-width;

  /* Typography */
  line-height: $line-height-sm;
}
