<fieldset class="BuildingsFilter-category js-buildings-filterCategory"
          data-category="{{category}}">
  <header class="BuildingsFilter-categoryHeading">
    <legend class="BuildingsFilter-categoryTitle">{{title}}</legend>
    {{> PageBtn classes="BuildingsFilter-categoryBtn js-buildings-filterCategoryBtn" pressed=btnPressed disabled=btnDisabled hiddenText="Show/hide building filter category."}}

  </header>
  <ul class="BuildingsFilter-categoryMenu js-buildings-filterCategoryMenu"
      aria-hidden="{{menuHidden}}">
    {{#each options}}
    <li class="BuildingsFilter-categoryMenuItem"
        aria-pressed="{{pressed}}"
        aria-disabled="{{disabled}}">
      <input class="BuildingsFilter-categoryInput js-buildings-filterCategoryInput"
             id="{{../category}}-{{value}}"
             data-category="{{../category}}"
             value="{{value}}"
             {{#if checked}}
             checked="true"
             {{/if}}
             {{#if inputDisabled}}
             disabled="true"
             {{/if}}
             type="checkbox"><span class="BuildingsFilter-categoryInputCheckbox"></span>
      <label class="BuildingsFilter-categoryInputLabel"
             for="{{../category}}-{{value}}">{{{title}}}<span class="BuildingsFilter-categoryInputQuantity js-buildings-filterCategoryInputQuantity"></span></label>
    </li>
    {{/each}}
  </ul>
</fieldset>