<section class="Building-textureSxn">
  {{#if title}}
  <h3 class="Building-textureSxnTitle Building-optionsSxnTitle">{{title}}</h3>
  {{/if}}
  {{#if standardTextures}}
  <div class="Building-textureSxnSub">
    {{> BuildingTextureSxnOption title="Standard" items=standardTextures searchList=textures}}

  </div>
  {{/if}}
  {{#if optionalTextures}}
  <div class="Building-textureSxnSub">
    {{> BuildingTextureSxnOption title="Optional" items=optionalTextures searchList=textures}}

  </div>
  {{/if}}
</section>