<ul>
  {{#each items}}
  <li class="BuildingColorSxn-navItem">
    {{> PageBtn classes="BuildingColorSxn-navBtn js-building-model-option-nav-btn" disableBtn=@first devPath=../devPath}}

  </li>
  {{/each}}
</ul>