/* ==========================================================================
 * Building Color Section
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Building Color Section: grid
 * -------------------------------------------------------------------------- */

.BuildingColorSxn-grid {
  /* Box Model */
  max-width: $building-sxncolorgrid-width-max;
  height: (
      $building-imgbtngrid-item-height + $building-imgbtngrid-item-margin-bottom
    ) * 7;

  @media #{$screen} and (min-width: 326px) {
    height: (
        $building-imgbtngrid-item-height +
          $building-imgbtngrid-item-margin-bottom
      ) * 6;
  }

  @media #{$screen} and (min-width: 410px) {
    height: (
        $building-imgbtngrid-item-height +
          $building-imgbtngrid-item-margin-bottom
      ) * 5;
  }

  @media #{$screen} and (min-width: 475px) {
    height: (
        $building-imgbtngrid-item-height +
          $building-imgbtngrid-item-margin-bottom
      ) * 4;
  }

  @media #{$screen} and (min-width: 670px) {
    height: (
        $building-imgbtngrid-item-height +
          $building-imgbtngrid-item-margin-bottom
      ) * 3;
  }

  @media #{$screen} and (min-width: 930px) {
    height: (
        $building-imgbtngrid-item-height +
          $building-imgbtngrid-item-margin-bottom
      ) * 2;
  }

  @media #{$screen} and (min-width: 950px) {
    height: (
        $building-imgbtngrid-item-height +
          $building-imgbtngrid-item-margin-bottom
      ) * 7;
  }

  @media #{$screen} and (min-width: 1140px) {
    height: (
        $building-imgbtngrid-item-height +
          $building-imgbtngrid-item-margin-bottom
      ) * 6;
  }

  @media #{$screen} and (min-width: 1330px) {
    height: (
        $building-imgbtngrid-item-height +
          $building-imgbtngrid-item-margin-bottom
      ) * 5;
  }

  @media #{$screen} and (min-width: 1540px) {
    height: (
        $building-imgbtngrid-item-height +
          $building-imgbtngrid-item-margin-bottom
      ) * 4;
  }

  &[aria-hidden='true'] {
    display: none;
  }

  &[aria-hidden='false'] {
    display: block;
  }
}

/* --------------------------------------------------------------------------
 * Building Color Section: navigation
 * -------------------------------------------------------------------------- */

.BuildingColorSxn-nav {
  margin-bottom: $text-sm * $line-height-base;

  @include clear('', block);
}

/* --------------------------------------------------------------------------
 * Building Color Section: navigation item
 * -------------------------------------------------------------------------- */

.BuildingColorSxn-navItem {
  /* Box Model */
  float: left;
  width: calc((100% / 3));

  &:nth-of-type(1) .BuildingColorSxn-navBtn[aria-disabled='true'] {
    /* 1st nav tab of the building color section when selected */
    /* Visual */
    border-width: 1px 1px 0 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:nth-of-type(2) .BuildingColorSxn-navBtn[aria-disabled='true'] {
    /* 2nd nav tab of the building color section when selected */
    /* Visual */
    border-width: 1px 1px 0 1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:nth-of-type(3) .BuildingColorSxn-navBtn[aria-disabled='true'] {
    /* 3rd nav tab of the building color section when selected */
    /* Visual */
    border-width: 1px 0 0 1px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  & .BuildingColorSxn-navBtn[aria-disabled='false'] {
    /* Any nav tab of the building color section when not selected */
    /* Visual */
    border-width: 0 0 1px 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* --------------------------------------------------------------------------
 * Building Color Section: navigation button
 * -------------------------------------------------------------------------- */

.BuildingColorSxn-navBtn {
  /* Box Model */
  /* Needed to make button fill space */
  width: 100%;
  padding-top: 5px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-left: 10px;

  /* Typography */
  font-size: $text-sm;
  font-family: $sans-serif;
  font-weight: $light;
  text-align: center;
  text-transform: uppercase;

  /* Visual */
  border-color: $page-color-light;
  border-style: solid;

  /* Misc */
  opacity: 1;
  @include vendorize(transition, all 220ms ease);

  &[aria-disabled='false']:hover,
  &[aria-disabled='false']:focus {
    /* Any nav tab button of the building color section when not selected */
    /* Typography */
    color: $page-color-accent;

    /* Visual */
    background-color: rgba(66, 136, 198, 0.1);
    border-color: $page-color-accent;
  }

  &[aria-disabled='false']:active {
    /* Any nav tab button of the building color section when not selected */
    /* Typography */
    color: #000;

    /* Visual */
    border-color: #000;
  }
}

/* --------------------------------------------------------------------------
 * Building Color Section: title
 * -------------------------------------------------------------------------- */

.BuildingColorSxn-title {
  /* Box Model */
  margin-bottom: $text-sm * $line-height-sm;

  /* Typography */
  font-weight: $regular;
}

/* --------------------------------------------------------------------------
 * Building Color Section: input
 * -------------------------------------------------------------------------- */

.BuildingColorSxn-input {
  /* Box Model */
  display: inline-block;
  margin-left: 12px;
}

/* --------------------------------------------------------------------------
 * Building Color Section: input group
 * -------------------------------------------------------------------------- */

.BuildingColorSxn-inputGrp {
  display: inline-block;
}

/* --------------------------------------------------------------------------
 * Building Color Section: input label
 * -------------------------------------------------------------------------- */

.BuildingColorSxn-inputLabel {
  margin-left: 3px;
}
