<form class="BuildingsFilter js-buildings-filter"
      data-page="{{page}}">
  {{> PageWarning classes="BuildingsFilter-warning" warning="" hidden="true"}}
  {{> PageWarningJS classes="BuildingsFilter-warningJS" text="Enable JavaScript to filter buildings."}}

  <header class="BuildingsFilter-heading">
    <h2 class="BuildingsFilter-title">Filter Buildings</h2>
    {{> PageBtn classes="js-buildings-filterbtn" blockClass="BuildingsFilter" pressed="false" disabled="false" chevronOnly=true type="button" hiddenText="Show/hide Filter Options"}}

  </header>
  <div class="BuildingsFilter-options js-buildings-filterOptions"
       aria-hidden="true">
    {{#each filter.categories}}
    {{> BuildingsFilterCategory}}

    {{/each}}
  </div>
  <button class="u-visuallyHidden"
          tabindex="-1"
          aria-pressed="false"
          aria-disabled="false"
          type="submit">Submit Filter Selection</button>
</form>