<ul class="BuildingImgBtnGrid">
  {{#each items}}
  <li class="BuildingImgBtnGrid-item">
    {{> PageBtn blockClass="BuildingImgBtnGrid" classes=../classes img=(lookup (lookup ../searchList name) "img") imgAlt=(lookup (lookup ../searchList name) "imgAlt") imgTitle=(lookup (lookup ../searchList name) "imgTitle") dataAttr="data-color" dataValue=(lookup (lookup ../searchList name) "hexCode") devPath=../devPath}}

  </li>
  {{/each}}
</ul>