/* ==========================================================================
 * Buildings Info
 * ========================================================================== */

.BuildingsInfo {
  /* Box Model */
  width: 90%;
  margin-right: auto;
  margin-left: auto;

  /* Typography */
  line-height: $line-height-sm;

  @include responsive($screen, 'min-sm') {
    width: 450px;
  }

  @include responsive($screen, 'min-lg') {
    width: auto;
  }

  @media #{$screen} and (min-width: 1100px) {
    width: 900px;
  }

  @include responsive($screen, 'min-xl') {
    width: 1000px;
  }

  @include clear('', block);
}

/* --------------------------------------------------------------------------
 * Buildings Info: heading
 * -------------------------------------------------------------------------- */

.BuildingsInfo-heading {
  /* position */
  float: left;

  /* Box Model */
  display: inline-block;
  width: 100%;
  margin-top: 0;

  /* Typography */
  text-align: center;

  @include responsive($screen, 'min-lg') {
    margin-top: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-lg') {
    width: calc(100% - #{$buildingsinfo-img-width} - 52px);
  }

  @include responsive($screen, 'min-xl') {
    margin-top: $text-lg * $line-height-base;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Info: headline
 * -------------------------------------------------------------------------- */

.BuildingsInfo-headline {
  // Box Model
  width: 240px;
  margin-right: auto;
  margin-bottom: $text-sm * $line-height-base;
  margin-left: auto;

  // Typography
  font-weight: $light;
  color: $page-color-accent;

  // Media Queries
  @include responsive($screen, 'min-md') {
    // Box Model
    width: 260px;
    margin-bottom: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-xl') {
    // Box Model
    width: 300px;
    margin-bottom: $text-lg * $line-height-base;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Info: image
 * -------------------------------------------------------------------------- */

.BuildingsInfo-img {
  /* Position */
  float: none;

  /* Box Model */
  margin-right: auto;
  margin-left: auto;

  @media #{$screen} and (min-width: 430px) {
    width: 100%;
  }

  @include responsive($screen, 'min-lg') {
    /* Position */
    float: right;

    /* Box Model */
    width: $buildingsinfo-img-width;
  }

  @include responsive($screen, 'min-xl') {
    width: $buildingsinfo-img-width-xl;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Info: text
 * -------------------------------------------------------------------------- */

.BuildingsInfo-text {
  /* Box Model */
  width: 165px;
  margin-right: auto;
  margin-bottom: $text-sm * $line-height-base;
  margin-left: auto;

  /* Typography */
  font-size: $buildingsinfo-text-sm;

  @media #{$screen} and (min-width: 410px) {
    /* Box Model */
    width: 100%;
    margin-bottom: 0;

    /* Typography */
    line-height: $line-height-base;
  }

  @include responsive($screen, 'min-md') {
    font-size: $buildingsinfo-text-md;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $buildingsinfo-text-lg;
  }
}

/* Buildings Info: text - last
 * -------------------------------------------------------------------------- */

.BuildingsInfo-text--last {
  margin-bottom: 0;
}

/* --------------------------------------------------------------------------
 * Buildings Info: text box
 * -------------------------------------------------------------------------- */

.BuildingsInfo-textBox {
  /* Box Model */
  display: inline-block;
  width: 100%;
  margin-top: $text-sm * $line-height-base;

  /* Typography */
  text-align: center;

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    width: calc(100% - #{$buildingsinfo-img-width} - 52px);
    margin-top: 0;
  }
}

/* --------------------------------------------------------------------------
 * Buildings Info: title
 * -------------------------------------------------------------------------- */

.BuildingsInfo-title {
  /* Box Model */
  margin-bottom: $text-sm * $line-height-base;

  /* Typography */
  font-weight: $regular;

  @include responsive($screen, 'min-md') {
    margin-bottom: $text-md * $line-height-base;
  }

  @include responsive($screen, 'min-xl') {
    margin-bottom: $text-lg * $line-height-base;
  }
}
