<ul class="BuildingTextureGrid">
  {{#each items}}
  <li class="BuildingTextureGrid-item">
    {{> MediaProduct blockClass="BuildingTextureGrid" img=(lookup (lookup ../searchList name) "img") imgAlt=(lookup (lookup ../searchList name) "imgAlt") text=(lookup (lookup ../searchList name) "imgTitle") devPath=../devPath}}

  </li>
  {{/each}}
</ul>