<section {{#if blockClass}}class="{{blockClass}}-colorSxn"
         {{/if}}>
  {{> PageWarningJS text="Enable JavaScript to view and interactive with the 3D model."}}

  <h3 class="BuildingColorSxn-title">Colors</h3>
  <nav class="BuildingColorSxn-nav">
    <h4 class="u-visuallyHidden">Select Building Element Tab to View and Select From Available Colors</h4>
    {{> BuildingColorSxnNavBtns items=building.colorBtns}}

  </nav>
  <div class="BuildingColorSxn-grid js-building-model-color-grid"
       id="tab-wall-roof-colors"
       aria-labelledby="btn-wall-colors btn-roof-colors"
       aria-hidden="false">
    {{> BuildingImgBtnGrid classes="js-building-model-option" items=building.availableColors searchList=colors}}

  </div>
  <div class="BuildingColorSxn-grid js-building-model-color-grid"
       id="tab-fixtures-colors"
       aria-labelledby="btn-fixtures-colors"
       aria-hidden="true">
    {{> BuildingImgBtnGrid classes="js-building-model-option" items=building.fixtureColors searchList=colors}}

  </div>
</section>