{{> SxnOpen bgcolor=false}}

{{> SxnHeading blockClass=gridHeadlineBlockClass modClass=gridHeadlineModClass}}

<div class="Products-contentOverlay js-Buildings-pagecontent">
  <div class="Products-content">
    <div class="Products-contentSidebar">
      {{> BuildingsFilter}}

    </div>
    <div class="Products-contentMain">
      {{> SxnOpen bgcolor=false noPad=true}}

      <div class="BuildingsGrid-container">
        {{> SortBtns blockClass="Buildings" jsBtnsClasses="js-buildings-sort-btns"}}

        {{> BuildingsGrid items=buildings jsGridClasses="js-buildings-sort-items"}}

      </div>
      {{> SxnClose}}

    </div>
  </div>
</div>
{{> SxnClose}}