<figure class="BuildingMedia Media Media--imgTop">
  {{> PageImg blockClass="BuildingMedia"}}

  <figcaption class="BuildingMedia-body Media-body">
    {{#if caption}}
    {{caption}}
    {{/if}}
    {{#if roofTexture}}
    {{> MediaBodySxnBuilding title="Roof Texture" text=roofTexture}}

    {{/if}}
    {{#if roofColor}}
    {{> MediaBodySxnBuilding title="Roof Color" text=roofColor}}

    {{/if}}
    {{#if wallTexture}}
    {{> MediaBodySxnBuilding title="Wall Texture" text=wallTexture}}

    {{/if}}
    {{#if wallColor}}
    {{> MediaBodySxnBuilding title="Wall Color" text=wallColor}}

    {{/if}}
  </figcaption>
</figure>