<p class="BuildingMedia-bodySxn"><span class="BuildingMedia-bodySxnTitle">{{title}}: </span><span class="BuildingMedia-bodySxnText">{{#each text}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}</span></p>