/* ==========================================================================
 * Building Media
 * ========================================================================== */

.BuildingMedia {
  /* Box Model */
  width: 100%;

  @media #{$screen} and (min-width: 380px) {
    width: $buildingmedia-width;
  }
}

/* --------------------------------------------------------------------------
 * Building Media: body
 * -------------------------------------------------------------------------- */

.BuildingMedia-body {
  /* Box Model */
  padding-top: 13px;
  padding-bottom: 13px;

  /* Typography */
  font-size: $text-sm * 0.9;

  @include responsive($screen, 'min-md') {
    font-size: $text-md * 0.85;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $text-lg * 0.85;
  }
}

/* --------------------------------------------------------------------------
 * Building Media: body section
 * -------------------------------------------------------------------------- */

.BuildingMedia-bodySxn {
  display: inline-block;
}

/* --------------------------------------------------------------------------
 * Building Media: body section text
 * -------------------------------------------------------------------------- */

.BuildingMedia-bodySxnText {
  font-weight: $regular;
}
