<section class="Page-mediaCard {{#if first}}Page-mediaCard--first {{/if}}Install-mediaCard">
  <h2 class="Install-sxnModelTitle Page-headline">{{{title}}}</h2>
  <div class="Install-mediaCardBody Install-mediaCardBody--posRight">
    <div class="Install-sxnModelText">
      <p>{{{text}}}</p>
    </div>
  </div>
  <div class="Install-mediaCardMedia Page-mediaCardMedia">
    {{> PageWarningJS text="Enable JavaScript to view 3D model."}}

    {{> VisualMedia}}

  </div>
</section>