/* ==========================================================================
 * Resources Card
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Resources Card: heading
 * -------------------------------------------------------------------------- */

.ResourcesCard-heading {
  /* Box Model */
  height: $text-sm * $line-height-base * 2;
  margin-bottom: $text-sm;

  /* Typography */
  text-align: center;

  @include responsive($screen, 'min-md') {
    height: $text-md * $line-height-base * 2;
  }

  @include responsive($screen, 'min-xl') {
    height: $text-lg * $line-height-base * 2;
  }
}

/* --------------------------------------------------------------------------
 * Resources Card: title
 * -------------------------------------------------------------------------- */

.ResourcesCard-title {
  /* Position */
  position: relative;
  top: 50%;

  /* Misc */
  @include vendorize(transform, translateY(-50%));
}
