<div class="ResourcesCard">
  <div class="ResourcesCard-heading">
    <h3 class="ResourcesCard-title">{{{title}}}</h3>
  </div>
  {{#if drawings}}
  {{> PdfLink link=(lookup (lookup resources linkName) drawings.resource) text="Stub-up Drawings" disabled=drawings.disabled newWindow=true}}

  {{/if}}
  {{#if instructions}}
  {{> PdfLink link=(lookup (lookup resources linkName) instructions.resource) text="Installation Instructions"  disabled=instructions.disabled newWindow=true}}

  {{/if}}
</div>