<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=maintenance.docHead.title description=maintenance.docHead.description devPath=maintenance.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=maintenance devPath=maintenance.docHead.devPath}}

    {{> PageHeader title=maintenance.page.title breadcrumbs=maintenance.breadcrumbs devPath=maintenance.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{!-- Maintenance videos --}}
      {{> SxnOpen bgcolor=false}}

      <h2 class="u-visuallyHidden">Maintenance Videos</h2>
      {{#each maintenance.videos}}
      {{#if @first}}
      {{> VideoCard video=this addClasses="Page-mediaCard Page-mediaCard--first"}}
      {{else}}
      {{> VideoCard video=this addClasses="Page-mediaCard"}}
      {{/if}}

      {{/each}}
      {{> SxnClose}}

      {{!-- Maintenance manuals --}}
      {{> SxnOpen bgcolor=true}}

      {{> SxnHeading title="Maintenance Manuals" headline="Have maintenance related questions or concerns?" headline2="Read the corresponding manual to help assist you."}}

      <div class="Page-sxnGroup Page-sxnGroup--center Page-sxnGroup--widthSetPdfLink">
        {{#each maintenance.manuals}}
        {{> PdfLink devPath=../maintenance.docHead.devPath newWindow=true setWidth=true }}

        {{/each}}
      </div>
      <p class="Page-sxnText">Still have questions?</p>
      <p class="Page-sxnText Page-sxnText--highlight">1-800-663-5789</p>
      {{> SxnClose}}

      {{!-- Replacement parts link section --}}
      {{> PageLinkSxn link=maintenance.sectionLinks.replaceParts bgcolor=false}}

      {{!-- Warranty contact link section --}}
      {{> PageLinkSxn link=maintenance.sectionLinks.warranty bgcolor=true}}

    </main>
  </div>
  {{> FooterSite devPath=maintenance.docHead.devPath}}

  {{> jsMain devPath=maintenance.docHead.devPath}}

</body>

</html>