// =============================================================================
// Page Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// margin left
$navsite-margin-left: 39px;

// link: padding
$navsite-link-pad: 3px;

// btn: height
$navsite-btn-height: 30px;

// submenu: (top level) margin top
$navsite-submenu-toplevel-margin-top: 6px;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// submenu: padding left
// dependence: text size, line-height-base
$navsite-submenu-pad-left: $text-sm * $line-height-base;

// submenu: (top level) padding vertical
// dependence: text size, line-height-base
$navsite-submenu-toplevel-pad-vert: ($text-sm * $line-height-base) / 2;

// submenu: (top level) padding horizontal
// dependence: submenu (top level) padding vertical
$navsite-submenu-toplevel-pad-horz: ($navsite-submenu-toplevel-pad-vert / 0.6);

// btn: height
// dependence: text size, line-height-base
$navsite-btn-width: $text-sm * $line-height-base * 2;
