<li class="navSite-item{{#if link.levelTop}} navSite-item--levelTop{{/if}}{{#if submenu}} js-dropdown{{/if}}">
  <a class="navSite-link Page-link"
     {{#if link.outsideLink}}
     href="{{link.href}}"
     target="_blank"
     rel="noopener"
     {{else}}
     href="{{devPath}}{{link.href}}"
     {{/if}}
     alt="{{link.alt}}"
     {{#if submenu}}
     aria-haspopup="true"
     {{/if}}
     aria-disabled="{{link.disabled}}">{{link.text}}</a>
  {{#if submenu}}
  <!-- Submenu Btn -->
  <button class="Btn Btn--chevronOnly js-dropdown-btn"
          aria-pressed="false"
          aria-disabled="false"><span class="u-visuallyHidden">Show/hide navigation submenu</span></button>
  <!-- Submenu -->
  <ul class="Page-navSiteMenu navSite-submenu{{#if link.submenuAlignLeft}} navSite-submenu--alignLeft{{/if}}{{#if link.submenuAlignRight}} navSite-submenu--alignRight{{/if}}{{#if link.submenuTopLevel}} navSite-submenu--topLevel{{/if}} js-dropdown-menu"
      aria-label="submenu"
      aria-hidden="true">
    {{#each submenu}}
    {{> NavSiteItem link=(lookup ../navSiteData linkName) pressed=(lookup ../pageData linkName) navSiteData=../navSiteData pageData=../pageData devPath=../devPath}}

    {{/each}}
  </ul>
  {{/if}}
</li>