<nav class="navSite Page-navSite js-navSite js-dropdown">
  <div class="navSite-heading">
    <a class="Page-imgLink"
       href="{{devPath}}"
       alt="View the homepage."
       aria-pressed="false"
       aria-disabled="false"><img class="navSite-logoImg"
           src="{{devPath}}images/logos/logo-cxt.png"
           alt="CXT Concrete Buildings Logo."></a>
    <h2 class="u-visuallyHidden">Main Site Navigation</h2>
    <button class="Btn Btn--toggle navSite-btn js-navSite-btn js-dropdown-btn"
            aria-pressed="false"
            aria-hidden="true"
            aria-disabled="false"><span class="Btn--hamburger js-dropdown-btnDisplay"
            data-menu="close">Show/hide navigation menu</span>
    </button>
  </div>
  <ul class="Page-navSiteMenu navSite-items js-navSite-menu js-dropdown-menu"
      aria-hidden="false">
    {{#each navSite.linkOrder}}
    {{> NavSiteItem link=(lookup ../navSite linkName) pressed=(lookup ../page linkName) navSiteData=../navSite pageData=../page devPath=../devPath}}

    {{/each}}
  </ul>
</nav>