/* ==========================================================================
 * navSite
 * ========================================================================== */

.navSite {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-direction, column);
  @include vendorize(flex-wrap, wrap);
  @include vendorize(justify-content, space-between);
  @include vendorize(align-content, center);
  @include vendorize(align-items, flex-start);
  width: 100%;

  /* Visual */
  background-color: #fff;
  border-bottom: $page-navsite-border-bot solid #eee;

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    @include vendorize(flex-direction, row);
    @include vendorize(flex-wrap, nowrap);
    @include vendorize(align-items, center);
  }
}

/* --------------------------------------------------------------------------
 * navSite: button
 * -------------------------------------------------------------------------- */

.navSite-btn {
  /* Position */
  position: relative;

  /* Box Model */
  height: $navsite-btn-height;
  width: $navsite-btn-width;

  /* Visual */
  border-radius: 0; /* Removes Btn default */

  &:focus {
    outline: none;
  }

  &[aria-hidden='true'] {
    display: none;
  }

  &[aria-hidden='false'] {
    display: block;
  }
}

/* --------------------------------------------------------------------------
 * navSite: heading
 * -------------------------------------------------------------------------- */

.navSite-heading {
  /* Position */
  z-index: $page-zindex-navsite;

  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(justify-content, space-between);
  width: 100%;

  @include responsive($screen, 'min-lg') {
    width: auto;
  }
}

/* --------------------------------------------------------------------------
 * navSite: nav items
 * -------------------------------------------------------------------------- */

.navSite-items {
  /* Position */
  position: relative;
  z-index: $page-zindex-navsite;

  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-direction, column);
  @include vendorize(flex-wrap, wrap);
  @include vendorize(justify-content, space-between);
  @include vendorize(align-items, flex-start);
  width: 100%; /* Needed to fill the width of the dropdown menu */
  padding-top: $page-navsite-items-pad-top-sm;

  /* Misc */
  @include vendorize(transition, 500ms);

  @include responsive($screen, 'min-md') {
    padding-top: $page-navsite-items-pad-top-md;
  }

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    @include vendorize(flex-direction, row);
    @include vendorize(flex-wrap, nowrap);
    @include vendorize(align-items, center);
    width: auto;
    padding-top: $page-navsite-items-pad-top-lg;
  }
}

/* --------------------------------------------------------------------------
 * navSite: (individual) item
 * -------------------------------------------------------------------------- */

.navSite-item {
  position: relative;

  @include responsive($screen, 'min-lg') {
    position: static;
  }
}

/* navSite: (individual) item - top level item
 * -------------------------------------------------------------------------- */

.navSite-item--levelTop {
  margin-left: 0;

  @include responsive($screen, 'min-lg') {
    margin-left: $navsite-margin-left;
  }
}

/* --------------------------------------------------------------------------
 * navSite: link
 * -------------------------------------------------------------------------- */

.navSite-link {
  /* Box Model */
  padding: $navsite-link-pad;

  /* Typography */
  font-family: $sans-serif;
  font-weight: $light;
  line-height: $line-height-base;

  /* Misc */
  @include vendorize(transition, 280ms);
}

/* --------------------------------------------------------------------------
 * navSite: logo img
 * -------------------------------------------------------------------------- */

.navSite-logoImg {
  /* Box Model */
  display: block;
  height: $page-navsite-logo-height;
}

/* --------------------------------------------------------------------------
 * navSite: submenu
 * -------------------------------------------------------------------------- */

.navSite-submenu {
  /* Box Model */
  padding-left: $navsite-submenu-pad-left;

  /* Visual */
  background-color: #fff;
}

/* navSite: submenu - aligned left position
 * -------------------------------------------------------------------------- */

.navSite-submenu--alignLeft {
  /* Position */
  position: relative;
  left: auto;

  @include responsive($screen, 'min-lg') {
    /* Position */
    position: absolute;
    left: ($navsite-margin-left - $navsite-submenu-toplevel-pad-horz);
  }
}

/* navSite: submenu - aligned right position
 * -------------------------------------------------------------------------- */

.navSite-submenu--alignRight {
  /* Position */
  position: relative;
  right: auto;

  @include responsive($screen, 'min-lg') {
    /* Position */
    position: absolute;
    right: -$navsite-submenu-toplevel-pad-horz;
  }
}

/* navSite: submenu - top level
 * -------------------------------------------------------------------------- */

.navSite-submenu--topLevel {
  /* Position */
  position: relative;

  /* Box Model */
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: auto;

  /* Visual */
  border: none;

  @include responsive($screen, 'min-lg') {
    /* Position */
    position: absolute;

    /* Box Model */
    padding-top: $navsite-submenu-toplevel-pad-vert;
    padding-right: $navsite-submenu-toplevel-pad-horz;
    padding-bottom: $navsite-submenu-toplevel-pad-vert;
    padding-left: $navsite-submenu-toplevel-pad-horz;
    margin-top: $navsite-submenu-toplevel-margin-top;

    /* Visual */
    border: 1px solid #eee;
  }
}
