// =============================================================================
// Products Variables
// =============================================================================

// -----------------------------------------------------------------------------
//  Independent Variables
// -----------------------------------------------------------------------------

// image link: grid item padding
$imglink-grid-item-pad-top: 13px;
$imglink-grid-item-pad-right: 13px;
$imglink-grid-item-pad-bottom: 13px;
$imglink-grid-item-pad-left: 13px;

// image link: grid image width
$imglink-grid-item-width: 224px + $imglink-grid-item-pad-left +
  $imglink-grid-item-pad-right;
$imglink-grid-item-height: 224px + $imglink-grid-item-pad-top +
  $imglink-grid-item-pad-bottom;

// image link: grid item margin
$imglink-grid-item-margin-top: 0;
$imglink-grid-item-margin-right: 0;
$imglink-grid-item-margin-bottom: 13px;
$imglink-grid-item-margin-left: 0;

// image link: text align
$imglink-text-align: center;

// image link: text color
$imglink-text-color: #fff;

// image link: text multiple
$imglink-text-mult: 0.85;

// image link: text padding
$imglink-text-pad-top: 9px;
$imglink-text-pad-right: 13px;
$imglink-text-pad-bottom: 9px;
$imglink-text-pad-left: 13px;

// image link: text position
$imglink-text-pos-top: 80%;
$imglink-text-pos-left: 50%;
$imglink-text-pos-top-hover: 50%;

// image link: text letter spacing
$imglink-text-spacing: 0.06rem;

// image link: text width
$imglink-text-width-sm: 75%;
$imglink-text-width-md: 80%;
$imglink-text-width-lg: 90%;

// texture color: multiple
$texturecolor-disclaimer-text-mult: 0.85;

// texture color: section breakpoint
$texturecolor-grid-breapoint-sm: 460px;
$texturecolor-grid-breapoint-md: 640px;
$texturecolor-grid-breapoint-lg: 1100px;

// texture color: grid media width
$texturecolor-grid-media-width: 100px;

// texture color: grid item padding
$texturecolor-grid-item-pad-top: 0;
$texturecolor-grid-item-pad-right: 0;
$texturecolor-grid-item-pad-bottom: 0;
$texturecolor-grid-item-pad-left: 0;

// texture color: grid item margin
$texturecolor-grid-item-margin-top: 13px;
$texturecolor-grid-item-margin-right: 13px;
$texturecolor-grid-item-margin-bottom: 26px;
$texturecolor-grid-item-margin-left: 13px;

// -----------------------------------------------------------------------------
//  Dependent Variables
// -----------------------------------------------------------------------------

// image link: text border radius
// Dependence: page border radius
$imglink-text-border-rad: $page-border-rad;

// image link: text size
// Dependence: page text size
$imglink-text-size-sm: $text-sm * $imglink-text-mult;
$imglink-text-size-md: $text-md * $imglink-text-mult;
$imglink-text-size-lg: $text-lg * $imglink-text-mult;

// image link: text line height
// Dependence: page line height
$imglink-text-line-height: $line-height-sm;

// image link: grid total width
// Dependence: image link - item width, item margin
$imglink-grid-item-totalwidth: $imglink-grid-item-width +
  $imglink-grid-item-margin-left + $imglink-grid-item-margin-right;

// image link: grid width
// Dependence: image link - item total width
$imglink-grid-width-sm: ($imglink-grid-item-totalwidth * 1);
$imglink-grid-width-md: ($imglink-grid-item-totalwidth * 2);
$imglink-grid-width-lg: ($imglink-grid-item-totalwidth * 3);

// texture color: disclaimer title size
// Dependence: page text size
$texturecolor-disclaimer-title-size-sm: $text-sm;
$texturecolor-disclaimer-title-size-md: $text-md;
$texturecolor-disclaimer-title-size-lg: $text-lg;

// texture color: disclaimer text size
// Dependence: texture color disclaimer - title size, text multiple
$texturecolor-disclaimer-text-size-sm: $texturecolor-disclaimer-title-size-sm *
  $texturecolor-disclaimer-text-mult;
$texturecolor-disclaimer-text-size-md: $texturecolor-disclaimer-title-size-md *
  $texturecolor-disclaimer-text-mult;
$texturecolor-disclaimer-text-size-lg: $texturecolor-disclaimer-title-size-lg *
  $texturecolor-disclaimer-text-mult;

// texture color: grid item width
// Dependence: texture color grid - media width, item pad
$texturecolor-grid-item-width: $texturecolor-grid-media-width +
  $texturecolor-grid-item-pad-left + $texturecolor-grid-item-pad-right;

// texture color: grid item total width
// Dependence: texture color grid - item width, item margin
$texturecolor-grid-item-totalwidth: $texturecolor-grid-item-width +
  $texturecolor-grid-item-margin-left + $texturecolor-grid-item-margin-right;

// texture color: grid width
// Dependence: texture color grid - item total width
$texturecolor-grid-width-xs: ($texturecolor-grid-item-totalwidth * 2);
$texturecolor-grid-width-sm: ($texturecolor-grid-item-totalwidth * 3);
$texturecolor-grid-width-md: ($texturecolor-grid-item-totalwidth * 4);
$texturecolor-grid-width-lg: ($texturecolor-grid-item-totalwidth * 5);
$texturecolor-grid-width-xl: ($texturecolor-grid-item-totalwidth * 6);
$texturecolor-grid-width-xxl: ($texturecolor-grid-item-totalwidth * 7);

// texture color: section padding
// Dependence: texture color grid - item margin, page text, page line height
$texturecolor-sxn-pad-bottom-sm: ($text-sm * $line-height-base * 2) -
  $imglink-grid-item-margin-bottom;
$texturecolor-sxn-pad-bottom-md: ($text-md * $line-height-base * 2) -
  $imglink-grid-item-margin-bottom;
$texturecolor-sxn-pad-bottom-lg: ($text-lg * $line-height-base * 2) -
  $imglink-grid-item-margin-bottom;
