<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=products.docHead.title description=products.docHead.description devPath=products.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=products devPath=products.docHead.devPath}}

    {{> PageHeader title=products.page.title breadcrumbs=products.breadcrumbs devPath=products.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{!-- Buildings image grid --}}
      {{> SxnOpen bgcolor=false}}

      {{> SxnHeading title="Buildings" headline="Our buildings are engineered to maintain their aesthetics in extreme conditions and meet ADA specifications." blockClass="ProductsGrid"}}

      {{> ImgLinkGrid items=products.buildingCategories devPath=products.docHead.devPath newWindow=true}}

      {{> SxnClose}}

      {{!-- Replacement parts link section --}}
      {{> PageLinkSxn link=products.sectionLinks.replaceParts bgcolor=true}}

      {{!-- Texture and colors link section --}}
      {{> PageLinkSxn link=products.sectionLinks.textureColors devPath=products.docHead.devPath bgcolor=false}}

    </main>
  </div>
  {{> FooterSite devPath=products.docHead.devPath}}

  {{> jsMain devPath=products.docHead.devPath}}

</body>

</html>