/* ==========================================================================
 * Products
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Products: content
 * -------------------------------------------------------------------------- */

.Products-content {
  /* Position */
  position: relative;

  /* Box Model */
  margin-top: $page-sxn-pad-vert-sm;

  @include responsive($screen, 'min-md') {
    margin-top: $page-sxn-pad-vert-md;
  }

  @include responsive($screen, 'min-xl') {
    margin-top: $page-sxn-pad-vert-lg;
  }

  @include clear('', block);
}

.Products-contentOverlay {
  /* Position */
  position: relative;

  &[data-overlay]::after {
    /* Products content overlay general settings */
    /* Position */
    position: absolute;
    top: 0;
    left: 0;

    /* Box Model */
    display: block;
    width: 100%;

    /* Visual */
    content: '';

    /* Misc */
    box-sizing: border-box;
  }

  &[data-overlay='true'] {
    /* Products content overlay */
    position: relative;
  }

  &[data-overlay='true']::after {
    /* Products content overlay active */
    /* Box Model */
    height: 100%;

    /* Visual */
    background: url(../images/loading.gif) center 2% / 100px 100px no-repeat;

    /* Misc */
    opacity: 1;
  }

  // Page: content :: overlay not active
  // ---------------------------------------------------------------------------

  &[data-overlay='false']::after {
    /* Products content overlay not active */
    /* Box Model */
    height: 0;

    /* Visual */
    background-color: transparent;

    /* Misc */
    opacity: 0;
  }
}

/* --------------------------------------------------------------------------
 * Products: main content
 * -------------------------------------------------------------------------- */

.Products-contentMain {
  /* Position */
  float: left;

  /* Box Model */
  width: 100%;

  @include responsive($screen, 'min-lg') {
    width: calc(100% - 260px);
  }
}

/* --------------------------------------------------------------------------
 * Products: sidebar content
 * -------------------------------------------------------------------------- */

.Products-contentSidebar {
  /* Position */
  float: none;

  /* Box Model */
  width: 100%;
  padding-right: $buildings-grid-item-pad-left;
  padding-left: $buildings-grid-item-pad-right;
  margin-right: auto;
  margin-bottom: $text-sm;
  margin-left: auto;

  @media #{$screen} and (min-width: 600px) {
    /* Box Model */
    @include vendorize(justify-content, flex-end);
    width: $buildings-grid-width-md;
    margin-bottom: 0;
  }

  @media #{$screen} and (min-width: 880px) {
    width: $buildings-grid-width-lg;
  }

  @include responsive($screen, 'min-lg') {
    /* Position */
    float: left;

    /* Box Model */
    width: 260px;
    padding-right: 25px;
    padding-left: 0;
  }
}

/* --------------------------------------------------------------------------
 * Products: sidebar filter
 * -------------------------------------------------------------------------- */

.Products-sidebarFilter {
  float: left;
}

/* --------------------------------------------------------------------------
 * Products: sidebar sort
 * -------------------------------------------------------------------------- */

.Products-sidebarSort {
  float: right;
}

/* --------------------------------------------------------------------------
 * Products Grid: headline
 * -------------------------------------------------------------------------- */

.ProductsGrid-headline {
  @media #{$screen} and (min-width: 380px) {
    width: 300px;
  }

  @media #{$screen} and (min-width: 480px) {
    width: 385px;
  }

  @include responsive($screen, 'min-md') {
    width: 500px;
  }

  @include responsive($screen, 'min-xl') {
    width: 550px;
  }
}
