<!DOCTYPE html>
<html class="Page"
      lang="en">
{{> DocHead title=texturesColors.docHead.title description=texturesColors.docHead.description devPath=texturesColors.docHead.devPath}}

<body class="Page-contentBody">
  {{> PageWarningJS classes="Page-warningSiteJS" text="This site works best with JavaScript enabled."}}

  <header class="Page-header js-page-header"
          data-js="disabled">
    {{> NavSite page=texturesColors devPath=texturesColors.docHead.devPath}}

    {{> PageHeader title=texturesColors.page.title breadcrumbs=texturesColors.breadcrumbs devPath=texturesColors.docHead.devPath}}

  </header>
  <div class="Page-content js-page-content"
       data-overlay="false"
       data-js="disabled">
    <main>
      {{!-- Textures Section --}}
      {{> SxnOpen bgcolor=false}}

      {{> SxnHeading title="Textures" addMargin=true}}
      {{!-- Texture Categories --}}
      {{#each texturesColors.textureCategories}}
      {{> TextureColorSxn items=textures searchList=../textures first=@first last=@last devPath=../texturesColors.docHead.devPath}}

      {{/each}}
      {{> SxnClose}}

      {{!-- Colors Section --}}
      {{> SxnOpen bgcolor=false}}

      {{> SxnHeading title="Colors" addMargin=true}}
      {{> TextureColorGrid items=texturesColors.colors searchList=colors devPath=texturesColors.docHead.devPath}}

      <aside class="TextureColor-disclaimer">
        <h3 class="TextureColor-disclaimerTitle">Disclaimer</h3>
        <p class="TextureColor-disclaimerText">The colors shown are approximations. Job site-applied colors will vary from the colors shown due to screen variances as well as texture and porosity of the substrate. CXT recommends applying a color sample to an inconspicuous area on the actual substrate to verify color choice.</p>
      </aside>
      {{> SxnClose}}

    </main>
  </div>
  {{> FooterSite devPath=texturesColors.docHead.devPath}}

  {{> jsMain devPath=texturesColors.docHead.devPath}}

</body>

</html>