/* ==========================================================================
 * Texture Color
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Texture Color: disclaimer
 * -------------------------------------------------------------------------- */

.TextureColor-disclaimer {
  /* Box Model */
  margin-top: $text-sm * $line-height-base * 2.5;

  @include responsive($screen, 'min-md') {
    margin-top: $text-md * $line-height-base * 2.5;
  }

  @include responsive($screen, 'min-xl') {
    margin-top: $text-lg * $line-height-base * 2.5;
  }
}

/* --------------------------------------------------------------------------
 * Texture Color: disclaimer title
 * -------------------------------------------------------------------------- */

.TextureColor-disclaimerTitle {
  /* Typography */
  font-size: $texturecolor-disclaimer-title-size-sm;
  font-family: $serif;
  font-weight: $regular;
  color: #444;

  @include responsive($screen, 'min-md') {
    font-size: $texturecolor-disclaimer-title-size-md;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $texturecolor-disclaimer-title-size-lg;
  }
}

/* --------------------------------------------------------------------------
 * Texture Color: disclaimer text
 * -------------------------------------------------------------------------- */

.TextureColor-disclaimerText {
  /* Typography */
  font-size: $texturecolor-disclaimer-text-size-sm;
  color: #666;

  @include responsive($screen, 'min-md') {
    font-size: $texturecolor-disclaimer-text-size-md;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $texturecolor-disclaimer-text-size-lg;
  }
}
