/* ==========================================================================
 * Video Card
 * ========================================================================== */

.VideoCard {
  /* Position */
  position: relative;

  @include clear('', block);
}

/* --------------------------------------------------------------------------
 * VideoCard: body
 * -------------------------------------------------------------------------- */

.VideoCard-body {
  /* Position */
  float: left;

  /* Box Model */
  display: block;
  width: 100%;
  padding-top: 13px;
  padding-left: 6px;

  @include responsive($screen, 'min-lg') {
    /* Box Model */
    width: 50%;
    padding-top: 13px;
    padding-left: 39px;
  }
}

/* --------------------------------------------------------------------------
 * VideoCard: media
 * -------------------------------------------------------------------------- */

.VideoCard-media {
  /* Position */
  position: relative;
  float: left;

  /* Box Model */
  display: block;
  width: 100%;

  @include responsive($screen, 'min-lg') {
    width: 50%;
  }
}

/* --------------------------------------------------------------------------
 * VideoCard: headline
 * -------------------------------------------------------------------------- */

.VideoCard-headline {
  /* Typography */
  font-weight: $light;
  color: $page-color-accent;
}

/* --------------------------------------------------------------------------
 * VideoCard: text
 * -------------------------------------------------------------------------- */

.VideoCard-text {
  margin-top: 16px;
}

/* --------------------------------------------------------------------------
 * VideoCard: text box
 * -------------------------------------------------------------------------- */

.VideoCard-textBox {
  /* Box Model */
  display: block;
  padding-top: 8px;
  padding-right: 13px;
  padding-bottom: 10px;
  padding-left: 13px;

  /* Typography */
  font-weight: $regular;
  line-height: 1;
  color: $page-color-warning;

  /* Visual */
  border: 1px solid $page-color-warning;

  @media #{$screen} and (min-width: 760px) {
    display: inline-block;
  }
}

/* --------------------------------------------------------------------------
 * VideoCard: title
 * -------------------------------------------------------------------------- */

.VideoCard-title {
  font-weight: $bold;
}
