<section class="{{#if addClasses}}{{addClasses}} {{/if}}VideoCard">
  <div class="VideoCard-media">
    {{> PageWarningJS text="Enable JavaScript to watch video."}}

    {{> VisualMedia media=video}}

  </div>
  <div class="VideoCard-body">
    {{#if video.title}}
    <h3 class="VideoCard-title">{{{video.title}}}</h3>
    {{/if}}
    {{#if video.headline}}
    <h4 class="VideoCard-headline">{{{video.headline}}}</h4>
    {{/if}}
    {{#if video.text}}
    <div class="VideoCard-text">
      {{#each video.text}}
      <p>{{{this}}}</p>
      {{/each}}
    </div>
    {{/if}}
  </div>
</section>