<ul class="ImgLinkGrid">
  {{#each items}}
  <li class="ImgLinkGrid-item">
    <div class="ImgLinkGrid-media">
      {{> PageImgLink blockClass="ImgLinkGrid" link=(lookup ../navSite linkName) devPath=../devPath}}

    </div>
  </li>
  {{/each}}
</ul>