/* ==========================================================================
 * Image Link Grid
 * ========================================================================== */

.ImgLinkGrid {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  width: $imglink-grid-width-sm;
  margin-right: auto;
  margin-left: auto;

  @media #{$screen} and (min-width: 600px) {
    width: $imglink-grid-width-md;
  }

  @media #{$screen} and (min-width: 900px) {
    width: $imglink-grid-width-lg;
  }
}

/* --------------------------------------------------------------------------
 * Image Link Grid - item
 * -------------------------------------------------------------------------- */

.ImgLinkGrid-item {
  /* Box Model */
  width: $imglink-grid-item-width;
  height: $imglink-grid-item-height;
  padding-top: $imglink-grid-item-pad-top;
  padding-right: $imglink-grid-item-pad-right;
  padding-bottom: $imglink-grid-item-pad-bottom;
  padding-left: $imglink-grid-item-pad-left;
  margin-top: $imglink-grid-item-margin-top;
  margin-right: $imglink-grid-item-margin-right;
  margin-bottom: $imglink-grid-item-margin-bottom;
  margin-left: $imglink-grid-item-margin-left;
}

/* --------------------------------------------------------------------------
 * Image Link Grid - image link
 * -------------------------------------------------------------------------- */

.ImgLinkGrid-imgLink {
  /* Typography */
  text-decoration: none;

  /* Visual */
  border: 1px solid #f3f3f3;

  /* Misc */
  @include vendorize(transition, all 380ms ease);

  &::before {
    /* Image link overlay */
    /* Position */
    position: absolute;
    top: 0;
    left: 0;

    /* Box Model */
    width: 100%;
    height: 100%;

    /* Visual */
    background-color: rgba(0, 0, 0, 0);
    content: '';

    /* Misc */
    @include vendorize(transition, all 330ms ease);
  }

  &::after {
    /* Image link overlay text */
    /* Position */
    position: absolute;
    bottom: 50%;
    left: $imglink-text-pos-left;

    /* Box Model */
    width: 100%;
    padding-top: $imglink-text-pad-top;
    padding-right: $imglink-text-pad-right;
    padding-bottom: $imglink-text-pad-bottom;
    padding-left: $imglink-text-pad-left;

    /* Typography */
    font-size: $text-sm * 0.8;
    line-height: $imglink-text-line-height;
    letter-spacing: $imglink-text-spacing;
    color: $imglink-text-color;
    text-align: $imglink-text-align;

    /* Visual */
    background-color: rgba(66, 136, 198, 0);
    border-radius: $imglink-text-border-rad;
    content: '';

    /* Misc */
    box-sizing: border-box;
    @include vendorize(transform, translate(-50%, 0));

    @include responsive($screen, 'min-md') {
      font-size: $text-md * 0.8;
    }

    @include responsive($screen, 'min-xl') {
      font-size: $text-lg * 0.8;
    }
  }

  &:hover,
  &:focus {
    /* Misc */
    /* Removes image link default */
    opacity: 1;
    @include vendorize(transform, scale(1.15));

    & .ImgLinkGrid-imgLinkText {
      /* Hover text */
      /* Box Model */
      padding-top: 0;
      padding-right: 0;
      padding-bottom: 0;
      padding-left: 0;

      /* Misc */
      @include vendorize(transform, translate(-50%, 50%));
    }

    &::before {
      /* Hover image overlay */
      /* Visual */
      background-color: rgba(0, 0, 0, 0.4);

      /* Misc */
      @include vendorize(transition, all 300ms ease);
    }

    &::after {
      /* Hover image overlay text */
      /* Visual */
      background-color: rgba(66, 136, 198, 1);
      content: 'Learn More';

      /* Misc */
      @include vendorize(transition, all 350ms ease);
      @include vendorize(transform, translate(-50%, 50%));
    }
  }
}

/* --------------------------------------------------------------------------
 * Image Link Grid - image link text
 * -------------------------------------------------------------------------- */

.ImgLinkGrid-imgLinkText {
  /* Position */
  position: absolute;
  bottom: 0;
  left: $imglink-text-pos-left;

  /* Box Model */
  width: 100%;
  padding-top: $imglink-text-pad-top;
  padding-right: $imglink-text-pad-right;
  padding-bottom: $imglink-text-pad-bottom;
  padding-left: $imglink-text-pad-left;

  /* Typography */
  font-size: $imglink-text-size-sm;
  line-height: $imglink-text-line-height;
  letter-spacing: $imglink-text-spacing;
  color: $imglink-text-color;
  text-align: $imglink-text-align;

  /* Visual */
  background-color: rgba(0, 0, 0, 1);
  border-radius: $imglink-text-border-rad;

  /* Misc */
  @include vendorize(transform, translate(-50%, 0));
  @include vendorize(transition, all 350ms);

  @include responsive($screen, 'min-md') {
    font-size: $imglink-text-size-md;
  }

  @include responsive($screen, 'min-xl') {
    font-size: $imglink-text-size-lg;
  }
}

/* --------------------------------------------------------------------------
 * Image Link Grid - media
 * -------------------------------------------------------------------------- */

.ImgLinkGrid-media {
  overflow: hidden;
}
