<div class="{{#if blockClass}}{{blockClass}}-media {{/if}}Media Media--center Media--imgTop">
  <div class="MediaProduct-media">
    {{#if link}}
    {{> PageImgLink text=false}}

    {{else}}
    {{> PageImg}}

    {{/if}}
  </div>
  <p class="{{#if blockClass}}{{blockClass}}-body {{/if}}MediaProduct-body Media-body Media-body--center">{{{text}}}</p>
</div>