/* ==========================================================================
 * Media Product
 * ========================================================================== */

/* --------------------------------------------------------------------------
 * Media Product: body
 * -------------------------------------------------------------------------- */

.MediaProduct-body {
  margin-top: 13px;
}

/* --------------------------------------------------------------------------
 * Media Product: media
 * -------------------------------------------------------------------------- */

.MediaProduct-media {
  overflow: hidden;
}
