<section class="TextureColorSxn{{#if first}} TextureColorSxn--first{{/if}}{{#if last}} TextureColorSxn--last{{/if}}">
  <h3 class="TextureColorSxn-title">{{{title}}}</h3>
  {{> TextureColorGrid}}

</section>