/* ==========================================================================
 * Texture and Color Grid
 * ========================================================================== */

.TextureColorGrid {
  /* Box Model */
  @include vendorize(display, flex);
  @include vendorize(flex-wrap, wrap);
  width: $texturecolor-grid-width-xs;
  margin-right: auto;
  margin-left: auto;

  @media #{$screen} and (min-width: #{$texturecolor-grid-breapoint-sm}) {
    width: $texturecolor-grid-width-sm;
  }

  @media #{$screen} and (min-width: #{$texturecolor-grid-breapoint-md}) {
    width: $texturecolor-grid-width-md;
  }

  @include responsive($screen, 'min-md') {
    width: $texturecolor-grid-width-lg;
  }

  @include responsive($screen, 'min-lg') {
    width: $texturecolor-grid-width-xl;
  }

  @media #{$screen} and (min-width: #{$texturecolor-grid-breapoint-lg}) {
    width: $texturecolor-grid-width-xxl;
  }
}

/* --------------------------------------------------------------------------
 * Texture and Color Grid - item
 * -------------------------------------------------------------------------- */

.TextureColorGrid-item {
  /* Box Model */
  padding-top: $texturecolor-grid-item-pad-top;
  padding-right: $texturecolor-grid-item-pad-right;
  padding-bottom: $texturecolor-grid-item-pad-bottom;
  padding-left: $texturecolor-grid-item-pad-left;
  margin-top: $texturecolor-grid-item-margin-top;
  margin-right: $texturecolor-grid-item-margin-right;
  margin-bottom: $texturecolor-grid-item-margin-bottom;
  margin-left: $texturecolor-grid-item-margin-left;
}

/* --------------------------------------------------------------------------
 * Texture and Color Grid - media
 * -------------------------------------------------------------------------- */

.TextureColorGrid-media {
  /* Box Model */
  width: $texturecolor-grid-media-width;

  /* Typography */
  line-height: $line-height-sm;
}
