<ul class="TextureColorGrid">
  {{#each items}}
  <li class="TextureColorGrid-item">
    {{> MediaProduct blockClass="TextureColorGrid" img=(lookup (lookup ../searchList name) "img") imgAlt=(lookup (lookup ../searchList name) "imgAlt")  text=(lookup (lookup ../searchList name) "text") devPath=../devPath}}

  </li>
  {{/each}}
</ul>