/* ==========================================================================
 * Texture and Color Section
 * ========================================================================== */

.TextureColorSxn {
  /* Box Model */
  width: $texturecolor-grid-width-xs;
  padding-top: $text-sm * $line-height-base * 2;
  padding-bottom: $texturecolor-sxn-pad-bottom-sm;
  margin-right: auto;
  margin-left: auto;

  /* Visual */
  border-bottom: 1px solid $page-bordercolor-light;

  @media #{$screen} and (min-width: #{$texturecolor-grid-breapoint-sm}) {
    /* Box Model */
    width: $texturecolor-grid-width-sm;
    padding-top: $text-md * $line-height-base * 2;
    padding-bottom: $texturecolor-sxn-pad-bottom-md;
  }

  @media #{$screen} and (min-width: #{$texturecolor-grid-breapoint-md}) {
    width: $texturecolor-grid-width-md;
  }

  @include responsive($screen, 'min-md') {
    width: $texturecolor-grid-width-lg;
  }

  @include responsive($screen, 'min-lg') {
    width: $texturecolor-grid-width-xl;
  }

  @media #{$screen} and (min-width: #{$texturecolor-grid-breapoint-lg}) {
    width: $texturecolor-grid-width-xxl;
  }

  @include responsive($screen, 'min-xl') {
    /* Box Model */
    padding-top: $text-lg * $line-height-base * 2;
    padding-bottom: $texturecolor-sxn-pad-bottom-lg;
  }
}

/* Texture and Color Section - first section
 * -------------------------------------------------------------------------- */

.TextureColorSxn--first {
  padding-top: 0;
}

/* Texture and Color Section - last section
 * -------------------------------------------------------------------------- */

.TextureColorSxn--last {
  /* Box Model */
  padding-bottom: 0;

  /* Visual */
  border-bottom: none;
}

/* --------------------------------------------------------------------------
 * Texture and Color Section - title
 * -------------------------------------------------------------------------- */

.TextureColorSxn-title {
  margin-left: $texturecolor-grid-item-pad-left;
}
