{{#if title}}
<h2 class="Page-title{{#if addMargin}} Page-title--margin{{/if}}">{{{title}}}</h2>
{{/if}}
{{#if headline2}}
{{> SxnHeadline headline=headline}}

{{> SxnHeadline headline=headline2 last=true}}
{{else}}
{{#if headline}}
{{> SxnHeadline headline=headline last=true}}
{{/if}}
{{/if}}