<section class="Page-sxn{{#if bgcolor}} Page-sxn--light{{/if}}{{#if topBotBorder}} Page-sxn--borderTopBot{{/if}}">
  <div class="Page-sxnContents{{#if noPad}} Page-sxnContents--padNone{{/if}}{{#if padVertOnly}} Page-sxnContents--padHorzNone{{/if}}{{#if padHorzOnly}} Page-sxnContents--padVertNone{{/if}}{{#if padTopNone}} Page-sxnContents--padTopNone{{/if}}{{#if padTopOnly}} Page-sxnContents--padTopOnly{{/if}}{{#if padBotOnly}} Page-sxnContents--padBotOnly{{/if}}">