/* ==========================================================================
 * Media Icon
 * ========================================================================== */

.MediaIcon {
  margin-bottom: 13px;
}

.MediaIcon--last {
  margin-bottom: 0;
}

/* --------------------------------------------------------------------------
 * Media Icon: body
 * -------------------------------------------------------------------------- */

.MediaIcon-body {
  line-height: $line-height-sm;
}

/* --------------------------------------------------------------------------
 * Media Icon: image
 * -------------------------------------------------------------------------- */

.MediaIcon-img {
  height: 52px;
}
